<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="fa fa-map fa-fw"></i>
    Add New Country
  </h5>

</div>

<div class="modal-body BG">
  <form #addAgentForm="ngForm" novalidate>


    <div class="form-group row" >
      <label for="code" class="col-sm-3 col-form-label control-label text_Navy">Country Name </label>
      <div class="col-sm-9">
        <input required id="code" type="text" class="form-control" placeholder="Country name" name="name"
          [(ngModel)]="data.name" #code="ngModel" [ngClass]="{'error': code.invalid}">
      </div>
    </div>


    <div class="form-group row">
      <label for="details" class="col-sm-3 col-form-label text-grey">Description</label>
      <div class="col-sm-9">
        <textarea  class="form-control" id="details" rows="3" placeholder="Brief description here ..."
          name="details" [(ngModel)]="data.details" #details="ngModel"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="active" class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input check-btn " type="checkbox" name="active" [(ngModel)]="active"
            >
          <label for="active" class="form-check-label text-grey" id="active">Marked as Active</label>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer NotBG">
  <button class="btn button-save" type="submit" (click)="addCountry()" [disabled]="addAgentForm.invalid">
    Save Country
  </button>
</div>