<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>

  <h5 class="modal-title py-0">
    <i class="fa fa-plus"></i>
    Letter of Credit (L/C)
    <!-- <small>
      <p class="mb-0">
        Contract No. {{data.autoContractNumber}}
      </p>
    </small> -->
  </h5>
  <div class="font text-muted text-center">Contract No. {{data.autoContractNumber}}</div>
</div>


<div class="modal-body BG p-0">
  <form #LCForm="ngForm" novalidate>

    <div class="col-md-12 pt-3 pb-2">

      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">L/C No.<span class="required-denote">*</span></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" name="lcNumber" [(ngModel)]="data.lcNumber" required
            #lcNumber="ngModel" [ngClass]="{ 'error': lcNumber.invalid && LCForm.submitted }"
            placeholder="purchase order number from buyer" />
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label ">L/C Open On<span class="required-denote">*</span></label>
        <div class="col-sm-8" (clickOutside)="enquiryDatePicker.close()">

          <input type="text" class="form-control  datetimepicker-input" (click)="enquiryDatePicker.toggle()" required
            #lcOpenOn="ngModel" [ngClass]="{ 'error': lcOpenOn.invalid && LCForm.submitted }" placeholder="Date"
            #enquiryDatePicker="ngbDatepicker" #lcOpenOn="ngModel" [(ngModel)]="data.lcOpenOn" name="lcOpenOn"
            ngbDatepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label ">L/C Shipment On<span class="required-denote">*</span></label>
        <div class="col-sm-8" (clickOutside)="enquiryDatePicker.close()">


          <input navigation="select" class="form-control text_Navy mb-1" ngbDatepicker #validity="ngbDatepicker"
            required #lcShipmentOn="ngModel" [ngClass]="{ 'error': lcShipmentOn.invalid && LCForm.submitted }"
            (click)="validity.toggle()" placeholder="Certificate validity date" [(ngModel)]="data.lcShipmentOn"
            name="lcShipmentOn" />

          <input type="text" class="form-control" name="lcShipmentInfo" [(ngModel)]="data.lcShipmentInfo"
            placeholder="Shipment Date Info" />
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label ">L/C Expiry Date<span class="required-denote">*</span></label>
        <div class="col-sm-8" (clickOutside)="validity2.close()">

          <input class="form-control text_Navy " ngbDatepicker #validity2="ngbDatepicker"
            required #lcExpiryDate="ngModel" [ngClass]="{ 'error': lcExpiryDate.invalid && LCForm.submitted }"
            (click)="validity2.toggle()" placeholder="Certificate validity date" [(ngModel)]="data.lcExpiryDate"
            name="lcExpiryDate" />
        </div>
      </div>

      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Remarks</label>
        <div class="col-sm-8">
          <textarea type="text" class="form-control" rows="4" name="remarks" [(ngModel)]="data.remarks"
            placeholder="L/C Additional Details here..."></textarea>
        </div>
      </div>

    </div>


    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit" (click)="addContractLOC(LCForm)">
        Save L/C
      </button>
    </div>
  </form>
</div>