<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>

  <h5 class="modal-title">
    <i class="fa fa-plus"></i>
    Letter of Credit (L/C)
    <small>
      <p class="mb-0">
        Contract No. {{data.autoContractNumber}}
      </p>
    </small>
  </h5>
</div>


<div class="modal-body BG p-0">
  <form #LCForm="ngForm" novalidate>

    <div class="col-md-12 pt-3 pb-2">

    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">L/C No.</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" name="lcNumber" [(ngModel)]="data.lcNumber"
          placeholder="purchase order number from buyer" />
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label ">L/C Open On</label>
      <div class="col-sm-8" (clickOutside)="enquiryDatePicker.close()">

        <input type="text" class="form-control  datetimepicker-input" (click)="enquiryDatePicker.toggle()"
          placeholder="Date" #enquiryDatePicker="ngbDatepicker" #lcOpenOn="ngModel" [(ngModel)]="data.lcOpenOn"
          name="lcOpenOn" ngbDatepicker>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label ">L/C Shipment On</label>
      <div class="col-sm-8" (clickOutside)="enquiryDatePicker.close()">


        <input navigation="select" class="form-control text_Navy mb-1" ngbDatepicker #lcShipmentOn="ngbDatepicker"
          (click)="lcShipmentOn.toggle()" placeholder="Certificate validity date" [(ngModel)]="data.lcShipmentOn"
          name="lcShipmentOn" />

        <input type="text" class="form-control" name="lcShipmentInfo" [(ngModel)]="data.lcShipmentInfo"
          placeholder="Shipment Date Info" />
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label ">L/C Expiry Date</label>
      <div class="col-sm-8" (clickOutside)="enquiryDatePicker.close()">

        <input navigation="select" class="form-control text_Navy " ngbDatepicker #lcExpiryDate="ngbDatepicker"
          (click)="lcExpiryDate.toggle()" placeholder="Certificate validity date" [(ngModel)]="data.lcExpiryDate"
          name="lcExpiryDate" />
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Remarks</label>
      <div class="col-sm-8">
        <textarea type="text" class="form-control" rows="4" name="remarks" [(ngModel)]="data.remarks"
          placeholder="L/C Additional Details here..."></textarea>
      </div>
    </div>

</div>


    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit" (click)="addContractLOC()">
        Save L/C
      </button>
    </div>

  </form>
</div>