<!-- Modal -->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="fas fa-user-tie fa-fw"></i>
    Edit External Agent
  </h5>
</div>

<div class="modal-body BG pt-2r">
  <form #addAgentForm="ngForm" novalidate (ngSubmit)="UpdateAgent(addAgentForm)">


    <div class="form-group row">
      <label name="agentTypeId" class="col-sm-3 col-form-label text_Navy" [(ngModel)]="agentTypeId">
        Type</label>
      <div class="col-sm-8">
        <select class="form-control">
          <option disabled>Select ID</option>
          <option>External Agent</option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label name="agentSideId" class="col-sm-3 col-form-label text_Navy" [(ngModel)]="agentSideId">
        Side
      </label>
      <div class="col-sm-8">
        <select class="form-control">
          <option>Buyer side agent</option>
          <option *ngFor="let i of agentSideId" [value]="i.id">
            {{ i.id }}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row" [class.has-error]="name.invalid && name.touched">
      <label for="name" class="col-sm-3 col-form-label control-label text_Navy">Name<span class="required-denote">*</span>
      </label>
      <div class="col-sm-8">
        <input appAutofocus required id="name" type="text" class="form-control" placeholder="Enter Agent full name" name="name"
          [(ngModel)]="data.name" #name="ngModel" [ngClass]="{ error: name.invalid && addAgentForm.submitted }" />
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label text-grey">Address</label>
      <div class="col-sm-8">
        <input id="address" type="text" maxlength="300" class="form-control" placeholder="Enter Agent mailing address"
          name="address" [(ngModel)]="data.address" #address="ngModel" />
      </div>
    </div>

    <div class="form-group row">
      <label for="city" class="col-sm-3 col-form-label">City<span class="required-denote">*</span></label>
      <div class="col-sm-8">
        <ng-select [(ngModel)]="data.cityId" required placeholder="-- Select --" name="city" name="cityId" #cityId="ngModel"
        [ngClass]="{error: cityId.invalid && addAgentForm.submitted}">
          <ng-option *ngFor="let i of city" [value]="i.id">{{ i.name }}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label text-grey">Email</label>
      <div class="col-sm-8">
        <input id="emailAddress" type="text" maxlength="50"
          pattern="[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})"
          class="form-control" placeholder="Enter Agent email address" name="emailAddress"
          [(ngModel)]="data.emailAddress" #emailAddress="ngModel"
          [ngClass]="{error: emailAddress.invalid && emailAddress.touched}" />
      </div>
    </div>

    <div class="form-group row">
      <label for="cellNumber" class="col-sm-3 col-form-label text-grey">Contact Nos.</label>
      <div class="col-sm-8">
        <input type="text" pattern="[+0-9-]{7,15}" maxlength="15" minlength="7" class="form-control" id="cellNumber"
          placeholder="Enter mobile numbers" name="cellNumber" [(ngModel)]="data.cellNumber" #cellNumber="ngModel"
          [ngClass]="{error : cellNumber.invalid && cellNumber.touched}" />
      </div>
      <label class="col-sm-3 col-form-label"></label>
      <div class="col-sm-8 mt-1">
        <input type="text" pattern="[+0-9-]{7,15}" class="form-control" id="landlineNumber"
          placeholder="Enter Land numbers" name="landlineNumber" [(ngModel)]="data.landlineNumber"
          #landlineNumber="ngModel" [ngClass]="{error : landlineNumber.invalid && landlineNumber.touched}" />
      </div>
    </div>

    <div class="form-group row">
      <label for="bankName" class="col-sm-3 col-form-label control-label text-grey">Bank
      </label>
      <div class="col-sm-8">
        <input id="bankName" type="text" maxlength="100" class="form-control" placeholder="Enter Agent Bank Name"
          name="bankName" [(ngModel)]="data.bankName" #bankName="ngModel" />
      </div>
    </div>

    <div class="form-group row" [class.has-error]="accountNumber.invalid && accountNumber.touched">
      <label for="accountNumber" class="col-sm-3 col-form-label control-label text-grey">Account
      </label>
      <div class="col-sm-8">
        <input id="accountNumber" type="text" class="form-control" pattern="[0-9]{8,11}"
          placeholder="Enter Agent Account No." name="accountNumber" [(ngModel)]="data.accountNumber"
          #accountNumber="ngModel" [ngClass]="{error : accountNumber.invalid && accountNumber.touched}" />

      </div>
      <label class="col-sm-3 col-form-label control-label text-grey"></label>
      <div class="col-sm-8 mt-1">
        <input id="accountTitle" type="text" class="form-control" placeholder="Enter Agent Account name"
          name="accountTitle" [(ngModel)]="data.accountTitle" #accountTitle="ngModel"
          [ngClass]="{ error: accountTitle.invalid}" />
      </div>
    </div>

    <div class="form-group row" [class.has-error]="swiftCode.invalid && swiftCode.touched">
      <label for="swiftCode" class="col-sm-3 col-form-label control-label text-grey">Swift
      </label>
      <div class="col-sm-8">
        <input id="swiftCode" type="text" pattern="[+0-9-]{8,11}" class="form-control"
          placeholder="Enter Agent Account swift code" name="swiftCode" [(ngModel)]="data.swiftCode"
          #swiftCode="ngModel" [ngClass]="{error : swiftCode.invalid && swiftCode.touched}" />

      </div>
    </div>

    <div class="form-group row">
      <label for="details" class="col-sm-3 col-form-label text-grey">Details</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="details" rows="3" maxlength="300"
          placeholder="Description or note for agent ..." name="details" [(ngModel)]="data.details" #details="ngModel">
        </textarea>
      </div>
    </div>
   

<div class="modal-footer NotBG">
  <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
    Close
  </button>
  <button class="btn button-save" type="submit" >
    Update Agent
  </button>
</div>
</form>
</div>