<div class="content-header">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light"> Manage Currency Rates
        <div class="ml-2 descr"> Define and manage currency rates in PKR. </div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Accounting</a></li>
        <li class="breadcrumb-item"><a href="#">Manage</a></li>
        <li class="breadcrumb-item active" aria-current="page">Currency Rates</li>
      </ol>
    </div>

  </div>
</div>



<div class="card ibox-content">
  <div class=" panel blank-panel">

    <div class=" panel-heading">

      <div class="row mb-3">
        <div class="col-md-6 ">
          <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2 ">
            <i class="fas fa-map fa-fw mr-2"></i>{{listCount}}</button>
          <span class="text-muted text2">Currency</span>
        </div>
        <div class="col-md-6 mrg-tsm">
          <button type="button" class="btn btn-primary btn-md float-right" (click)="addCurrencyForm()">
            <i class="fa fa-plus"></i> Add Currency</button>
        </div>

      </div>


      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="row justify-content-end">
            <div class=" col-md-4">
              <div class="input-group col-md-offset-3">
                <input type="text" placeholder="Search" class="input form-control w-50">
              </div>
            </div>

            <div class="html5buttons mrg-tsm">
              <div class="dt-buttons btn-group ">
                <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>Copy</span></a>
                <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>CSV</span></a>
                <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>Excel</span></a>
                <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>PDF</span></a>
                <a class="btn btn-default buttons-print bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>Print</span></a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>



    <div class="panel-body">
      <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

        <ngx-datatable-column name="S. No." [width]="5" prop="code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Valid Form" [width]="40">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.validFrom}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Currency" [width]="20">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.currencyCode}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Rate" [width]="5">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.rate}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.details}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" Updated By" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.createdByName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" Updated On" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.updatedDateTime}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>


            <div class="ibox-tools text-center">
              <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Edit" (click)="editCurrencyForm(row)">
                <i class="far fa-edit "></i>
              </button>
              <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Delete" (click)="deleteCurrency(row)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

  </div>
</div>