<!-- Modal -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
  <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss()">
    <span style="color: black" aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="far fa-edit"></i>
    Edit Buyer
  </h5>
</div>
<div class="modal-body BG p-0">

  <form #buyerEditForm="ngForm" novalidate (ngSubmit)="updateBuyer(buyerEditForm)">

    <div class="row justify-content-center">
      <div class="col-10 col-md-10 pt-3 pb-2">
    
        <div class="form-group row">
          <label for="name" class="col-md-3 col-form-label">Buyer Code</label>
          <div class="col-md-9">
            <input disabled id="buyerCode" type="text" class="form-control" name="buyerCode" [(ngModel)]="data.buyerCode" />
          </div>
        </div>
    
    
        <div class="form-group row">
          <label for="name" class="col-md-3 col-form-label text_Navy">Buyer Name
            <span class="required-denote">*</span>
          </label>
          <div class="col-md-9">
            <input appAutofocus required maxlength="60" id="buyerName" type="text" class="form-control"
              placeholder="Buyer name" name="buyerName" [(ngModel)]="data.buyerName" #name="ngModel"
              [ngClass]="{ error: name.invalid && buyerEditForm.submitted }" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="bill-address" class="col-md-3 col-form-label">Billing Address</label>
          <div class="col-md-9">
            <textarea class="form-control" id="billingAddress" rows="3" placeholder="Buyer mailing address"
              name="billingAddress" [(ngModel)]="data.billingAddress" #billingAddress="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="delivery-address" class="col-md-3 col-form-label">Delivery Address</label>
          <div class="col-md-9">
            <textarea class="form-control" id="deliveryAddress" rows="3" placeholder="Buyer delivery address"
              name="deliveryAddress" [(ngModel)]="data.deliveryAddress" #deliveryAddress="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="countryId" class="col-md-3 col-form-label">Country<span class="required-denote">*</span></label>
          <div class="col-md-9">
            <ng-select [(ngModel)]="data.countryId" required placeholder="-- Select --" name="countryId"
              #countryId="ngModel" [ngClass]="{ error: buyerEditForm.submitted && countryId.invalid }">
              <ng-option *ngFor="let i of country" [value]="i.id">{{ i.name }}
                <span *ngIf="i.details !=null" class="text-muted" style="font-size: 11px">({{ i.details }})</span>
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="contactNoPrimary" class="col-md-3 col-form-label">Contact Nos.</label>
    
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6 fieldmrgbtm">
                <input pattern="[+0-9-]{7,15}" minlength="7" maxlength="15" type="text" class="form-control"
                  id="contactNoPrimary" placeholder="Primary Contact No." name="contactNoPrimary"
                  [(ngModel)]="data.contactNoPrimary" #contactNoPrimary="ngModel" [ngClass]="{
                    error: contactNoPrimary.invalid && buyerEditForm.submitted
                  }" />
    
              </div>
              <div class="col-md-6">
                <input pattern="[+0-9-]{7,15}" minlength="7" maxlength="15" type="text" class="form-control"
                  id="contactNoSecondary" placeholder="Other Contact No." name="contactNoSecondary"
                  [(ngModel)]="data.contactNoSecondary" #contactNoSecondary="ngModel" [ngClass]="{
                    error: contactNoSecondary.invalid && buyerEditForm.submitted
                  }" />
    
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="faxNumber" class="col-md-3 col-form-label">Fax Number</label>
          <div class="col-md-9">
            <input pattern="[+0-9-]{5,15}" minlength="5" maxlength="15" class="form-control" id="faxNumber"
              placeholder="Buyer Fax No." name="faxNumber" [(ngModel)]="data.faxNumber" #faxNumber="ngModel"
              [ngClass]="{ error: faxNumber.invalid && buyerEditForm.submitted }" />
    
          </div>
        </div>
    
        <div class="form-group row">
          <label for="ntnNumber" class="col-md-3 col-form-label">NTN/GST Nos.</label>
    
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-6 fieldmrgbtm">
                <input required type="text" pattern="[+0-9-]" class="form-control" id="ntnNumber" placeholder="NTN No."
                  name="ntnNumber" [(ngModel)]="data.ntnNumber" #ntnNumber="ngModel"
                  [ngClass]="{ error: ntnNumber.invalid && buyerEditForm.submitted }" />
              </div>
    
              <div class="col-md-6">
                <input required pattern="[+0-9-]" type="text" class="form-control" id="gstNumber" placeholder="GST No."
                  name="gstNumber" [(ngModel)]="data.gstNumber" #gstNumber="ngModel"
                  [ngClass]="{ error: gstNumber.invalid && buyerEditForm.submitted }" />
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="buyerDetails" class="col-md-3 col-form-label">Buyer Details</label>
          <div class="col-md-9">
            <textarea class="form-control" id="buyerDetails" rows="4" placeholder="Buyer additional details here ..."
              name="buyerDetails" [(ngModel)]="data.buyerDetails" #buyerDetails="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-check form-check-inline offset-md-3 pl-1">
          <input class="form-check-input check-btn" id="active" type="checkbox" name="isParentBuyer" [(ngModel)]="active" />
          <label for="active" class="form-check-label">Parent Buyer</label>
        </div>
    
        <div class="form-group row">
          <label for="parentBuyerId" class="col-md-3 col-form-label">Parent Buyer</label>
          <div class="col-md-9">
            <ng-select name="parentSellerId" [(ngModel)]="data.parentBuyerId" placeholder="-- Select --"
              #isParentBuyer="ngModel">
              <ng-option *ngFor="let i of buyer" [value]="i.id">
                {{ i.buyerName }}
              </ng-option>
            </ng-select>
          </div>
        </div>
    
      </div>
    </div>


    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit">
        Update Buyer
      </button>
    </div>
  </form>

</div>