
.forum-info {
  text-align: center;
  overflow: hidden;
}

.views-number {
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  color: #535353;
}


.list {
    color: gray;
    list-style-type: none;
    font-size: 13px;
    padding-left: 50px;
    margin-top: 20px;
    font-weight: 400;
  }
  
  .list2 {
    color: gray;
    font-size: 13px;
    float: right;
    margin-right: 20px;
  }

.noDisplay{
  display: none;
}


dt {
  text-align: right;
}

  /* TAB STYLING  */

  
  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffffff;
    background-color: #1ab394;
    /* padding: 10px 25px;
    font-size: 15px;
    font-weight: 500; */
}

.nav-pills .nav-link:not(.active):hover {
  color: #6c757d !important;
  background-color: #e8e8e8;
}

.nav a{
  margin-left: 3px;
  font-weight: 500;
}

  /* ---------------------------------------------- */

  /* .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link.active {
    background: none;
    color: #138f51 !important;
    border-color: #138f51;
  }


  .servicetab ul li .nav-link {
    color: #212529 !important; 
    font-weight: bold;
  }
  .servicetab ul li .nav-link:hover {
    color: #138f51 !important; 
  }
  .servicetab ul li .nav-link.active {
    color: #138f51 !important; 
  }

  .servicetab ul li img {
    display: block;
    margin: 0 auto;
    padding: 0 0 10px 0;
  } */

  .mid-text {
    font-size: 25px;
    line-height: 32px;
  }


  /* Progress Bar */
.progress {
  box-shadow: none;
  border-radius: 8px;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 8px;
  overflow: hidden;
  font-size: 10px;
  background-color: #e9ecef;
  /* border-radius: 0.25rem;
  box-shadow: inset 0 0.1rem 0.1rem rgb(0 0 0 / 10%); */
}

.progress-bar{
  background-color:#1ab394 ;
}

/* --------------------------------------------- */
.bg-primary{
  background-color: #1ab394 !important;
}

.text-small{
  font-size: 15px;
}


.btn-success {
  background-color: #1a7bb9 !important;
  border-color: #1a7bb9 !important;
}

.btn-outline-success {
  color: #1a7bb9 !important;
  border-color: #1a7bb9 !important;
}


.btn-outline-success:hover {
  color: #ffffff !important;
  background-color: #1a7bb9 !important;
  border-color: #1a7bb9 !important;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active, .show > .btn-outline-success.dropdown-toggle {
  color: #ffffff !important;
  background-color: #1a7bb9 !important;
  border-color: #1a7bb9 !important;
}

