<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Enquiry Detail
                <div class="ml-2 descr"> Show all the details against any selected business enquiry</div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Business Enquiry</a></li>
                <li class="breadcrumb-item active" aria-current="page">Enquiry Detail</li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 bg-white card ibox-content">
        <div class="row mb-3">
            <div class="col-md-3 ">
                <h2 class="text-muted text2">FG-93</h2>
            </div>
            <div class="col-md-9 mrg-tsm">

                <span class="text-muted text2">Dalal Industries</span>

                <button type="button" class="btn btn-primary btn-md float-right">
                    <i class="fa fa-plus"></i>Edit Enquiry</button>
            </div>



            <div [ngClass]="{ d2 : toggle==false }">
                OK122222
            </div>


            <div [ngClass]="{ d : toggle==true }">
                OK
            </div>
        </div>


        <div class="row border-bottom">

            <!-- <div>OK</div> -->

            <div class="col-md-6">
                <ul class="list">
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                Status:
                            </div>
                            <div class="col-md-4">
                                <span> ACTIVE</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                Status:
                            </div>
                            <div class="col-md-4">
                                <span> ACTIVE</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                Status:
                            </div>
                            <div class="col-md-4">
                                <span> ACTIVE</span>
                            </div>
                        </div>
                    </li>



                </ul>
            </div>

            <div class="col-md-6">
                <ul class="list "><b>
                        <li>
                            Towel:
                            <span class="list2 "> [20]</span>

                        </li>

                        <li>
                            Bathrobe:
                            <span class="list2"> [14]</span>
                        </li>

                        <li>
                            Test Articles:
                            <span class="list2"> [9]</span>
                        </li>

                        <li>
                            Towels:
                            <span class="list2"> [7]</span>
                        </li>

                        <li>
                            Night shirt patient:
                            <span class="list2"> [5]</span>
                        </li>
                    </b>
                </ul>
            </div>
        </div>




        <div class="row border-bottom">
            <div class="col-md-6">
                <ul class="list">
                    <li>
                        <div class="row">
                            <div class="col-md-8 text-right pl-2 font-weight-bold">
                                Status:
                            </div>
                            <div class="col-md-4">
                                <span> ACTIVE</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                Status:
                            </div>
                            <div class="col-md-4">
                                <span> ACTIVE</span>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-md-8">
                                Status:
                            </div>
                            <div class="col-md-4">
                                <span> ACTIVE</span>
                            </div>
                        </div>
                    </li>



                </ul>
            </div>

            <div class="col-md-6">
                <ul class="list ">
                    <li>
                        Towel:
                        <span class="list2 "> [20]</span>

                    </li>

                    <li>
                        Bathrobe:
                        <span class="list2"> [14]</span>
                    </li>
                    <li>
                        Bathrobe:
                        <span class="list2"> [14]</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row border-bottom pt-4">
            <div class="col-md-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-pricing-tab" data-toggle="tab" href="#nav-pricing"
                            role="tab" aria-controls="nav-pricing" aria-selected="true">Pricing Details</a>
                        <a class="nav-item nav-link" id="nav-vendor-tab" data-toggle="tab" href="#nav-vendor" role="tab"
                            aria-controls="nav-vendor" aria-selected="false">Vendor Details</a>
                        <a class="nav-item nav-link" id="nav-order-tab" data-toggle="tab" href="#nav-order" role="tab"
                            aria-controls="nav-order" aria-selected="false">Order Details</a>
                        <a class="nav-item nav-link" id="nav-enquiry-tab" data-toggle="tab" href="#nav-enquiry"
                            role="tab" aria-controls="nav-enquiry" aria-selected="false">Enquiry Remarks </a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-pricing" role="tabpanel"
                        aria-labelledby="nav-pricing-tab">
                        <ul class="list">
                            <li [ngClass]="{ d2 : toggle==false }">
                                <div class="row">
                                    <div class="col-md-8 text-right pl-2 font-weight-bold">
                                        Status:
                                    </div>
                                    <div class="col-md-4">
                                        <span> ACTIVE</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 text-right pl-2 font-weight-bold">
                                        Status:
                                    </div>
                                    <div class="col-md-4">
                                        <span> ACTIVE</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 text-right pl-2 font-weight-bold">
                                        Status:
                                    </div>
                                    <div class="col-md-4">
                                        <span> ACTIVE</span>
                                    </div>
                                </div>
                                <button type="button" class="btn deleteIconBack px-1 py-1" (click)="toggle = !toggle">
                                    <i class="far fa-edit "></i>
                                </button>

                            </li>

                            <form [ngClass]="{ d2 : toggle==true }">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" placeholder="Enter email">
                                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                        anyone else.</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                        placeholder="Password">
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>
                                <button type="submit" class="btn btn-primary" (click)="toggle = !toggle">Submit</button>
                            </form>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-vendor" role="tabpanel" aria-labelledby="nav-vendor-tab">
                        <ul class="list">
                            <li>
                                <div class="row">
                                    <div class="col-md-8 text-right pl-2 font-weight-bold">
                                        Status:
                                    </div>
                                    <div class="col-md-4">
                                        <span> ACTIVE</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
                        Tab 3
                    </div>

                    <div class="tab-pane fade" id="nav-enquiry" role="tabpanel" aria-labelledby="nav-enquiry-tab">
                        Tab 4
                    </div>
                </div>
            </div>
        </div>







        <!-- ----------------------------------------------------- -->


        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Enquiry Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Notes / Activities</a>
            </li>
        </ul>
        <!-- --------------------------------------------- -->


        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">

                    <button type="button" class="btn btn-primary btn-md float-right"
                        (click)="addEnquiryItemform('AddEnquiryItem')">
                        <i class="fa fa-plus"></i>Add Enquiry Item</button>

                </div>


                <div class="row">
                    <div class="col-md-1 col-sm-3 col-xs-3 forum-info" data-original-title="POCs">
                        <div class="poc-icon">
                            <a class="faq-question text-muted text-s-lg text-w-3" data-toggle="collapse" role="button"
                                aria-expanded="false" aria-controls="collapseExample">
                                <span class="fa fa-users"></span>List</a>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <a class="faq-question ">Name</a>
                        <div class="small mb-1">Parent Buyer:Name (NAME)</div>
                        <div class="small">Added by <strong>Admin</strong>
                            <div class="m-l-lg" style="display: inline-block;">
                                <i class="far fa-clock"></i> Date
                            </div>

                            <div class="m-l-lg" style="display: inline-block;">Country: &nbsp; Date</div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="ibox-tools">
                            <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top"
                                title="" data-original-title="Edit" (click)=" addQuotationform('addQuotation') ">
                                <i class="fas fa-paperclip"></i>
                            </button>
                            <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top"
                                title="" data-original-title="Edit" (click)=" EditEnquiryItemform('EditEnquiryItem') ">
                                <i class="far fa-edit "></i>
                            </button>
                            <button type="button" class="btn deleteIconBack" data-toggle="tooltip" data-placement="top"
                                title="" data-original-title="Delete" Date>
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>
                    </div>


                    <div class="col-md-1 forum-info" data-toggle="tooltip" data-placement="top" title=""
                        style="border-left: 1px solid #d0d0d0" data-original-title="Total Contracts">
                        <span class="views-number">0</span>
                        <div><small>Total Contracts</small></div>
                    </div>

                    <div class="col-md-1 forum-info" data-toggle="tooltip" data-placement="top" title=""
                        data-original-title="Open Contracts">
                        <span class="views-number">
                            0
                        </span>
                        <div>
                            <small>Open Contracts</small>
                        </div>
                    </div>
                </div>



            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Comming Soon</div>
        </div>

    </div>




    <!-- --------------------------------------------------- -->
    <div class="col-md-4">
        ye abi banana hai (Side Nav Bar)
    </div>

</div>