<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Enquiry Detail
                <div class="ml-2 descr"> Show all the details against any selected business enquiry</div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Business Enquiry</a></li>
                <li class="breadcrumb-item active" aria-current="page">Enquiry Detail</li>
            </ol>
        </div>
    </div>

</div>


<!-- ---------------------------------------------------------- -->


<div class="row">

    <div class="col-md-9">
    
        <div class="card ibox-content text-muted">
    
    
            <div [ngClass]="{ noDisplay : enquiryToggle==true }">
    
                <div class="row mb-3">
                    <div class="col-md-3">
                        <h2 class="text-muted text2">{{enquiryData.autoEnquiryNumber}}</h2>
                    </div>
                    <div class="col-md-9 mrg-tsm">
    
                        <span class="text-muted text2">{{enquiryData.buyerName}}</span>
    
                        <button type="button" class="btn btn-outline-primary btn-sm float-right"
                            (click)="enquiryToggle = ! enquiryToggle">
                            <i class="fa fa-plus"></i> Edit Enquiry</button>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-6"> Status:</dt>
                            <dd class="col-sm-6">
                                <span class="badge badge-primary" *ngIf="enquiryData.active == 'true'">Active</span>
                                <span class="badge badge-secondary" *ngIf="enquiryData.active== 'false'">Closed</span>
                                <span class="badge badge-primary">Active</span>
                            </dd>
                        </dl>
                    </div>
    
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-4"> Enquiry Date:</dt>
                            <dd class="col-sm-8 text_Navy"><i class="far fa-clock"></i> &nbsp; {{enquiryData.enquiryDate}}</dd>
                        </dl>
                    </div>
                </div>


                <div class="row border-bottom">
                    <div class="col-md-6">
                        
                        <dl class="row">
                            <dt class="col-sm-6"> Enquiry Created:</dt>
                            <dd class="col-sm-6">{{enquiryData.createdByName}}</dd>
                        
                            <dt class="col-sm-6"> Last Updated:</dt>
                            <dd class="col-sm-6">{{enquiryData.updatedByName}}</dd>
                        </dl>
                    </div>
    
                    <div class="col-md-6">
    
                        <dl class="row">
                            <dt class="col-sm-4"> Created on:</dt>
                            <dd class="col-sm-8"><i class="far fa-calendar-alt"></i> &nbsp; {{enquiryData.createdDateTime}}</dd>
                        
                            <dt class="col-sm-4"> Updated on:</dt>
                            <dd class="col-sm-8"><i class="far fa-calendar-alt"></i> &nbsp; {{enquiryData.updatedDateTime}}</dd>
                        </dl>
                    </div>
                </div>
    
                <div class="row border-bottom mt-3">
                    <div class="col-md-6">
    
                        <dl class="row">
                            <dt class="col-sm-6"> Article:</dt>
                            <dd class="col-sm-6">{{enquiryData.articleName}}</dd>
                        
                            <dt class="col-sm-6"> Design Type:</dt>
                            <dd class="col-sm-6">{{enquiryData.designTypeName}}</dd>
                        
                            <dt class="col-sm-6"> Shipment Dates:</dt>
                            <dd class="col-sm-6">{{enquiryData.shipmentdates}}</dd>
                        </dl>
                    </div>
    
    
                    <div class="col-md-6">
    
                        <dl class="row">
                            <dt class="col-sm-4"> Process:</dt>
                            <dd class="col-sm-8">{{enquiryData.processName}}</dd>
                        
                            <dt class="col-sm-4">Process Type:</dt>
                            <dd class="col-sm-8">{{enquiryData.processTypeName}}</dd>
                        
                            <dt class="col-sm-4"> Packaging:</dt>
                            <dd class="col-sm-8">{{enquiryData.packagingName}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
    
    
            <div class="row">
                <div class="col-md-12 border-bottom pb-3" [ngClass]="{ noDisplay : enquiryToggle==false }">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Buyer Name</label>
                        <div class="col-md-6">
    
                            <ng-select [(ngModel)]="enquiryData.buyerId" placeholder="-- Select --" name="buyerId">
                                <ng-option *ngFor="let i of buyer" [value]="i.id">{{ i.buyerName }}
                                </ng-option>
                            </ng-select>
    
                        </div>
                    </div>
    
    
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Article Name</label>
                        <div class="col-md-6">
    
                            <ng-select [(ngModel)]="enquiryData.articleId" placeholder="-- Select --" name="articleId"
                                #articleId="ngModel">
                                <ng-option *ngFor="let i of article" [value]="i.id">{{ i.name }}
                                </ng-option>
                            </ng-select>
    
    
                        </div>
                    </div>
    
    
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Process</label>
                        <div class="col-md-6">
    
                            <ng-select [(ngModel)]="enquiryData.processId" placeholder="-- Select --" name="processId"
                                #processId="ngModel">
                                <ng-option *ngFor="let i of process" [value]="i.id">{{ i.name }}
                                </ng-option>
                            </ng-select>
    
    
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Process Type</label>
                        <div class="col-md-6">
    
                            <ng-select [(ngModel)]="enquiryData.processTypeId" placeholder="-- Select --"
                                name="processTypeId" #processTypeId="ngModel">
                                <ng-option *ngFor="let i of ptype" [value]="i.id">{{ i.type }}
                                </ng-option>
                            </ng-select>
    
                        </div>
                    </div>
    
    
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Design Type</label>
                        <div class="col-md-6">
    
                            <ng-select [(ngModel)]="enquiryData.designTypeId" placeholder="-- Select --" name="designTypeId"
                                #designTypeId="ngModel">
                                <ng-option *ngFor="let i of design" [value]="i.id">{{ i.type }}
                                </ng-option>
                            </ng-select>
    
    
                        </div>
                    </div>
    
    
    
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Packaging</label>
                        <div class="col-md-6">
    
                            <ng-select [(ngModel)]="enquiryData.packagingId" placeholder="-- Select --" name="packagingId"
                                #packagingId="ngModel">
                                <ng-option *ngFor="let i of packing" [value]="i.id">{{ i.name }}
                                </ng-option>
                            </ng-select>
    
                        </div>
                    </div>
    
    
    
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Shipment Dates</label>
                        <div class="col-md-6">
                            <div class="input-group">
                                <textarea class="form-control" rows="3" type="text" [(ngModel)]="enquiryData.shipmentdates"
                                    name="shipmentdates"></textarea>
                            </div>
                        </div>
                    </div>
    
                    <button class="btn btn-light float-right ml-1" (click)="enquiryToggle = !enquiryToggle"> Close</button>
                    <button class="btn btn-primary float-right"
                        (click)=" addEnquiryBuyerDetails() ; enquiryToggle = !enquiryToggle"> Save</button>
                </div>
            </div>
    
    
            <div class="row border-bottom pt-4">
                <div class="col-md-12">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist" class="nav nav-pills">

                            <a class="nav-item nav-link active" id="nav-pricing-tab" data-toggle="tab" href="#nav-pricing"
                                role="tab" aria-controls="nav-pricing" aria-selected="true">Pricing Details</a>

                            <a class="nav-item nav-link" id="nav-vendor-tab" data-toggle="tab" href="#nav-vendor" role="tab"
                                aria-controls="nav-vendor" aria-selected="false">Vendor Details</a>

                            <a class="nav-item nav-link" id="nav-order-tab" data-toggle="tab" href="#nav-order" role="tab"
                                aria-controls="nav-order" aria-selected="false">Order Details</a>

                            <a class="nav-item nav-link" id="nav-enquiry-tab" data-toggle="tab" href="#nav-enquiry"
                                role="tab" aria-controls="nav-enquiry" aria-selected="false">Enquiry Remarks </a>

                            <a class="nav-item nav-link" id="nav-enquiryItems-tab" data-toggle="tab" href="#nav-enquiryItems"
                                role="tab" aria-controls="nav-enquiryItems" aria-selected="false">Enquiry Items <span class="badge badge-primary">0</span></a>

                                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" href="#nav-notes"
                                role="tab" aria-controls="nav-notes" aria-selected="false">Notes / Activities <span class="badge badge-primary">0</span> </a>
                        </div>
                    </nav>

                    <div class="tab-content pt-3" id="nav-tabContent">


                        <!-- --------------------------- Tab 1 -------------------------- -->
                        <div class="tab-pane fade show active" id="nav-pricing" role="tabpanel" aria-labelledby="nav-pricing-tab">

                            <div class="row">
                                <div class="col-md-12" [ngClass]="{ noDisplay : currencyToggle==true }">
    
                                    <dl class="row">
                                        <dt class="col-sm-3"> Currency:</dt>
                                        <dd class="col-sm-9">{{enquiryData.currencyCode}}</dd>
                                    
                                        <dt class="col-sm-3">Quantity:</dt>
                                        <dd class="col-sm-9">{{enquiryData.totalQuantity}}</dd>
                                    
                                        <dt class="col-sm-3"> Payment terms:</dt>
                                        <dd class="col-sm-9">{{enquiryData.paymentTermName}}</dd>
                                    
                                        <dt class="col-sm-3">Price terms:</dt>
                                        <dd class="col-sm-9">{{enquiryData.priceTermName}}</dd>
                                    
                                        <dt class="col-sm-3">Supplier Commission:</dt>
                                        <dd class="col-sm-9">{{enquiryData.sellerSideCommission}}%</dd>
                                    
                                        <dt class="col-sm-3"> Buyer Commission:</dt>
                                        <dd class="col-sm-9">{{enquiryData.buyerSideCommission}}% 

                                            <button class="btn btn-outline-primary float-right btn-sm"
                                        (click)="currencyToggle = !currencyToggle"> Edit</button>

                                        </dd>
                                    </dl>
    
    
                                </div>
    
                                <!-- <div class="col-md-6" [ngClass]="{ noDisplay : currencyToggle==true }">
    
                                    <button class="btn btn-outline-primary float-right"
                                        (click)="currencyToggle = !currencyToggle"> Edit</button>
                                </div> -->

                            </div>
    
    
                            <div class="row">
                                <div class="col-md-12 py-3" [ngClass]="{ noDisplay : currencyToggle==false }">

                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-3 col-form-label control-label">Currency</label>
                                        <div class="col-md-6">
    
                                            <ng-select [(ngModel)]="enquiryData.currencyId" placeholder="-- Select --"
                                                name="currencyId" #currencyId="ngModel">
                                                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.currencyCode }}
                                                </ng-option>
                                            </ng-select>
    
    
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Total Quantity</label>
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input class="form-control" type="number"
                                                    [(ngModel)]="enquiryData.totalQuantity" name="totalQuantity" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
    
                                            <ng-select [(ngModel)]="enquiryData.uomId" placeholder="-- Select --"
                                                name="uomId" #uomId="ngModel">
                                                <ng-option *ngFor="let i of uom" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
    
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Payment Terms</label>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <ng-select [(ngModel)]="enquiryData.paymentTermId"
                                                    placeholder="-- Select --" name="paymentTermId"
                                                    #paymentTermId="ngModel">
                                                    <ng-option *ngFor="let i of payment" [value]="i.id">{{ i.term }}
                                                    </ng-option>
                                                </ng-select>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="input-group">
                                                <input class="form-control" type="number"
                                                    [(ngModel)]="enquiryData.paymentTermDays" name="paymentTermDays" />
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input class="form-control" type="text" placeholder="Additional Information"
                                                [(ngModel)]="enquiryData.paymentTermInfo" name="paymentTermInfo" />
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Price terms</label>
    
                                        <div class="col-md-3">
    
                                            <ng-select [(ngModel)]="enquiryData.priceTermId" placeholder="-- Select --"
                                                name="priceTermId" #priceTermId="ngModel">
                                                <ng-option *ngFor="let i of price" [value]="i.id">{{ i.term }}
                                                </ng-option>
                                            </ng-select>
    
                                        </div>
    
                                        <div class="col-md-3">
    
                                            <ng-select [(ngModel)]="enquiryData.destinationId" placeholder="-- Select --"
                                                name="destinationId" #destinationId="ngModel">
                                                <ng-option *ngFor="let i of city" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
    
                                        </div>
                                    </div>
    
    
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Suppiler Side Commission</label>
    
                                        <div class="col-md-6">
                                            <div class="row">
    
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input type="text" placeholder="Comm%" class="form-control"
                                                            name="sellerSideCommission"
                                                            [(ngModel)]="enquiryData.sellerSideCommission"
                                                            name="sellerSideCommission">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">per</span>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="col-md-4 mrg-sm1">
                                                    <ng-select [(ngModel)]="enquiryData.sellerSideCommissionUOMId"
                                                        placeholder="-- Select --" name="sellerSideCommissionUOMId"
                                                        #sellerSideCommissionUOMId="ngModel">
                                                        <ng-option *ngFor="let i of uom" [value]="i.id">{{ i.name }}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
    
                                                <div class="col-md-4 mrg-sm1">
                                                    <input type="text" placeholder="Additional Info." class="form-control"
                                                        [(ngModel)]="enquiryData.sellerSideCommissionInfo"
                                                        name="sellerSideCommissionInfo">
                                                </div>
                                            </div>
                                            <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                                FabCot Seller Side Commission in %age, if UOM not selected
                                            </small>
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="code" class="col-md-3 col-form-label control-label">Buyer Side
                                            Commission</label>
    
                                        <div class="col-md-6">
                                            <div class="row">
    
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input type="text" placeholder="Comm%" class="form-control"
                                                            name="buyerSideCommission"
                                                            [(ngModel)]="enquiryData.buyerSideCommission">
                                                        <div class="input-group-append">
                                                            <span class="input-group-text" id="basic-addon2">per</span>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="col-md-4 mrg-sm1">
                                                    <ng-select [(ngModel)]="enquiryData.buyerSideCommissionUOMId"
                                                        placeholder="-- Select --" name="buyerSideCommissionUOMId"
                                                        #buyerSideCommissionUOMId="ngModel">
                                                        <ng-option *ngFor="let i of uom" [value]="i.id">{{ i.name }}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
    
                                                <div class="col-md-4 mrg-sm1">
                                                    <input type="text" placeholder="Additional Info." class="form-control"
                                                        name="buyerSideCommissionInfo"
                                                        [(ngModel)]="enquiryData.buyerSideCommissionInfo">
                                                </div>
                                            </div>
                                            <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                                FabCot Buyer Side ommission in %age, if UOM not selected
                                            </small>
                                        </div>
                                    </div>
    
                                    <button class="btn btn-light float-right ml-1" (click)="currencyToggle = !currencyToggle">Close</button>
                                    <button class="btn btn-primary float-right" (click)="currencyToggle = !currencyToggle"
                                        (click)=" addEnquiryPaymentDetails()">Save</button>
                                    
    
                                </div>
                            </div>
    
                        </div>
    
                        <!-- --------------------------- Tab 2 -------------------------- -->
                        <div class="tab-pane fade" id="nav-vendor" role="tabpanel" aria-labelledby="nav-vendor-tab">

                            <div [ngClass]="{ noDisplay : vendorToggle==true }">
                                <dl class="row">
                                    <dt class="col-sm-3"> Selected Vendor:</dt>
                                    <dd class="col-sm-9">{{enquiryData.sellerName}}</dd>
                                
                                    <dt class="col-sm-3"> Final Costing:</dt>
                                    <dd class="col-sm-9">{{enquiryData.costingDetail}}

                                        <button class="btn btn-outline-primary float-right btn-sm" (click)="vendorToggle = !vendorToggle"> Edit</button>

                                    </dd>
                                </dl>
                            </div>

    <!-- ------------------------------form---------------------- -->
                            <div class="row">
                                <div class="col-md-12 py-3" [ngClass]="{ noDisplay : vendorToggle==false }">
                            
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Suplier / Seller</label>
                                        <div class="col-md-6">
                            
                                            <ng-select [(ngModel)]="enquiryData.sellerId" placeholder="-- Select --" name="sellerId">
                                                <ng-option *ngFor="let i of vendorSeller" [value]="i.id">{{ i.sellerName }}
                                                </ng-option>
                                            </ng-select>
                            
                            
                                        </div>
                                    </div>
                            
                            
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Costing</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" [(ngModel)]="enquiryData.costingDetail"
                                                    name="costingDetail"></textarea>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <button class="btn btn-light float-right ml-1" (click)="vendorToggle = !vendorToggle">Close</button>
                                    <button class="btn btn-primary float-right" (click)="addEnquiryVendorDetails(); vendorToggle = !vendorToggle">Save</button>
                                    
                                </div>
                            </div>
                        </div>
    
                        <!-- --------------------------- Tab 3 -------------------------- -->
                        <div class="tab-pane fade" id="nav-order" role="tabpanel" aria-labelledby="nav-order-tab">
    
    
                            <div [ngClass]="{ noDisplay : orderToggle==true }">
                                <dl class="row">
                                    <dt class="col-sm-3">Order Confirm On:</dt>
                                    <dd class="col-sm-9">{{confirmOn}}</dd>
                                
                                    <dt class="col-sm-3"> Details:</dt>
                                    <dd class="col-sm-9">{{enquiryData.confirmationDetails}}

                                        <button class="btn btn-outline-primary float-right btn-sm" (click)="orderToggle = !orderToggle"> Edit</button>

                                    </dd>
                                </dl>
    
                                
                            </div>
    
                            <div class="row">
                                <div class="col-md-12 py-3" [ngClass]="{ noDisplay : orderToggle==false }">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Confirmation On:</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input class="form-control " ngbDatepicker #validityDate="ngbDatepicker"
                                                    (click)="validityDate.toggle()" [displayMonths]="1" [(ngModel)]="enquiryData.confirmationDate"
                                                    name="confirmationDate" />
                                            </div>
                                        </div>
                                    </div>
                            
                            
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Details</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" [(ngModel)]="enquiryData.confirmationDetails"
                                                    name="confirmationDetails"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-light float-right ml-1" (click)="orderToggle = !orderToggle">Close</button>
                                    <button class="btn btn-primary float-right" (click)="addEnquiryOrderDetails() ; orderToggle = !orderToggle">Save</button>
                                    
                                </div>
                            </div>

                        </div>

                        <!-- --------------------------- Tab 4 -------------------------- -->
                        <div class="tab-pane fade" id="nav-enquiry" role="tabpanel" aria-labelledby="nav-enquiry-tab">
    
                            <div [ngClass]="{ noDisplay : remarksToggle==true }">
                                <dl class="row">
                                    <dt class="col-sm-3">Enquiry Remarks:</dt>
                                    <dd class="col-sm-9">{{enquiryData.enquiryRemarks}}</dd>
                                
                                    <dt class="col-sm-3"> Other Condition:</dt>
                                    <dd class="col-sm-9">{{enquiryData.enquiryOtherCondition}}</dd>
                                
                                    <dt class="col-sm-3">Certifications:</dt>
                                    <dd class="col-sm-9">{{enquiryData.certificateName}}
                                        <button class="btn btn-outline-primary float-right btn-sm" (click)="remarksToggle = !remarksToggle">Edit</button>
                                    </dd>
                                </dl>
    
                            </div>
    


                            <div class="row">
                                <div class="col-md-12 py-3" [ngClass]="{ noDisplay : remarksToggle==false }">
                            
                            
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Remarks</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" [(ngModel)]="enquiryData.enquiryRemarks"
                                                    name="enquiryRemarks"></textarea>
                                            </div>
                                        </div>
                                    </div>
                            
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Other
                                            Conditions</label>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" [(ngModel)]="enquiryData.enquiryOtherCondition"
                                                    name="enquiryOtherCondition"></textarea>
                                            </div>
                                        </div>
                                    </div>
                            
                            
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Certificates</label>
                                        <div class="col-md-6">
                            
                                            <ng-select [(ngModel)]="enquiryData.certificateId" placeholder="-- Select --" name="certificateId">
                                                <ng-option *ngFor="let i of certificate" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
                            
                                        </div>
                                    </div>
                            
                                    <button class="btn btn-light float-right ml-1" (click)="remarksToggle = !remarksToggle">Close</button>
                                    <button class="btn btn-primary float-right" (click)="addEnquiryRemarks(); remarksToggle = !remarksToggle">Save Info</button>
                                    
                                </div>
                            </div>

                        </div>

                        <!-- --------------------------- Tab 5 -------------------------- -->
                        <div class="tab-pane fade" id="nav-enquiryItems" role="tabpanel" aria-labelledby="nav-enquiryItems-tab">
                            <div class="row ">
                                <div class="col-md-12 my-4">

                                <button type="button" class="btn btn-primary btn-sm float-right"
                                    (click)="addEnquiryItemform('AddEnquiryItem', objEnquiry)">
                                    <i class="fa fa-plus"></i>Add Enquiry Item</button>

                                </div>
                            </div>
                            
                            <div class="row py-3" *ngFor="let obj of enquiryData.enquiryItemList ; let x = index">
                                <div class="col-md-1 col-sm-3 col-xs-3 forum-info" data-original-title="POCs">
                                    <div class="poc-icon">
                                        <a class="faq-question text-muted text-s-lg text-w-3" data-toggle="collapse" role="button"
                                            href="#enquiryItemList-{{ x }}" aria-expanded="false" aria-controls="collapseExample">
                                            <span class="fa fa-expand-alt"></span>1</a>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <a class="faq-question ">{{obj.description}}</a>
                                    <div class="small mb-1">Color : Composition : {{ obj.compositionPercentage}}%
                                        fabName
                                        | Construction: {{obj.construction}}
                                        Size: {{obj.size}} </div>
                                    <div class="small">Added by <strong>{{obj.createdByName}} </strong>
                                        <div class="m-l-lg" style="display: inline-block;">
                                            <i class="far fa-clock"></i> Date : {{obj.createdDateTime}}
                                        </div>
            
                                    </div>
                                </div>
            
                                <div class="col-md-3">
                                    <div class="ibox-tools">
                                        <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Edit" (click)=" addQuotationform('addQuotation' ) ">
                                            <i class="fas fa-paperclip"></i>
                                        </button>
                                        <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Edit"
                                            (click)=" EditEnquiryItemform('EditEnquiryItem', obj)">
                                            <i class="far fa-edit "></i>
                                        </button>
                                        <button type="button" class="btn deleteIconBack" data-toggle="tooltip" data-placement="top"
                                            title="" data-original-title="Delete" (click)=" deleteEnquiryItem(obj)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
            
                                    </div>
                                </div>
            
            
                                <div class="col-md-1 forum-info" data-toggle="tooltip" data-placement="top" title=""
                                    style="border-left: 1px solid #d0d0d0" data-original-title="Total Contracts">
                                    <span class="views-number">1</span>
                                    <div><small>Sets</small></div>
                                </div>
            
                                <!-- ----------------End Of Row-------------------- -->
            
                                <div class="collapse" id="enquiryItemList-{{ x }}">
                                    <div class="card-body mt-4 BG">
                                        <div class="row">
                                        </div>
            
                                        <h2>Vendor Quotes</h2>
            
                                        <div class="row text-center pt-3" *ngFor="let quote of obj.vendorQuotationList ">
                                            <div class="col-md-2 border p-2 ">id:{{quote.id}}</div>
                                            <div class="col-md-2 border p-2">sellerId: {{quote.sellerId}}</div>
                                            <div class="col-md-2 border p-2">currencyId: {{quote.currencyId}}</div>
                                            <div class="col-md-2 border p-2">remarks: {{quote.remarks}}</div>
                                            <div class="col-md-2 border p-2">
                                                <div class="badge badge-primary" *ngIf="quote.active == true">Active</div>
                                                <div class="badge badge-secondary" *ngIf="quote.active == false">Inactive</div>
                                            </div>
                                            <div class="col-md-2 border ">
                                                <button type="button" class="btn editIconBack"
                                                    (click)="editQuotationform('editQuotation' , quote)">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                                <button type="button" class="btn deleteIconBack" (click)=" deleteQuotation(quote)">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!----------------------------------------------------------------------------->
                            </div>
    

                        </div>

                        <!-- --------------------------- Tab 6 -------------------------- -->
                        <div class="tab-pane fade" id="nav-notes" role="tabpanel" aria-labelledby="nav-notes-tab">
                            
                                <button class="btn btn-primary" (click)="addNoteform('EnquiryItemAddNote', objEnquiry)"> Add New Note</button>
                
                                <div class="row text-center pt-3" *ngFor="let note of enquiryData.enquiryNoteList ">
                                    <div class="col-md-2 border p-2 ">id:{{note.id}}</div>
                                    <div class="col-md-2 border p-2">title: {{note.title}}</div>
                                    <div class="col-md-2 border p-2">description: {{note.description}}</div>
                                    <div class="col-md-2 border p-2">remarks: {{note.remarks}}</div>
                                    <div class="col-md-2 border p-2">
                                        <div class="badge badge-primary" *ngIf="note.active == true">Active</div>
                                        <div class="badge badge-secondary" *ngIf="note.active == false">Inactive</div>
                                    </div>
                                    <div class="col-md-2 border ">
                                        <button type="button" class="btn editIconBack"
                                            (click)="editNoteform('EnquiryItemEditNote', note , objEnquiry)">
                                            <i class="far fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn deleteIconBack" (click)="deleteNote(note)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </div>

                        </div>

                    </div>

                </div>
            </div>
    
            <!-- ----------------------------------------------------- -->
    
    
            
    
        </div>
    </div>



    <!-- --------------------------------------------------- -->
    <div class="col-md-3">
    
        <div class=" bg-white p-3 ">
            Next Follow-Up
    
            <div [ngClass]="{ noDisplay : reminderToggle==true }">
                <button class="btn btn-white  float-right" (click)="reminderToggle = !reminderToggle "><i
                        class="fas fa-sync"></i> </button>
                <button class="btn btn-primary  float-right" (click)="reminderToggle = !reminderToggle "><i
                        class="fas fa-edit "></i> </button>
            </div>
    
            <div [ngClass]="{ noDisplay : reminderToggle==false }">
                <button class="btn btn-white  float-right" (click)="reminderToggle = !reminderToggle "><i class="fas fa-times"></i> </button>
                <button class="btn btn-primary  float-right" (click)="reminderToggle = !reminderToggle "><i class="fas fa-check"></i> </button>
    
                <input class="form-control " ngbDatepicker #reminderDate="ngbDatepicker" (click)="reminderDate.toggle()" placeholder="Reminder"
                    [displayMonths]="1" />
            </div>






        </div>

        <div class="mt-3 bg-white p-3">
            Enquiry Work Completed
            <div class="mid-text">35%</div>
            <div class="progress mt-1">
                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="75"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="text_Navy mt-2">19-Dec-2016 11:50</div>

        </div>

        <div class="bg-primary mt-3 rounded-lg">
            <!-- <div class="p-3 d-inline-block">
            <i class="far fa-clock fa-5x"></i> 
        </div>
        <div class="float-right">Time Spent</div> -->

            <div class="row p-3">
                <div class="col-md-4 ">
                    <i class="far fa-clock fa-5x"></i> 
                </div>
                <div class="col-md-8 text-right">
                    <span>Time Spent</span>
                    <div class="h2">
                        0 
                        <span class="text-small">Hr</span>
                        0 
                        <span class="text-small">Min</span>
                    </div>
                   
                </div>
            </div>
  

        </div>
        

        <div class="row">
            <div class="col-md-12 mt-3">
                <button class="btn btn-outline-info btn-block btn-lg text-center  ">
        
                    <i class="fas fa-print"></i>
                    <span class="ml-2 text-small"> Enquiry Preview </span>
        
                </button>
                <button class="btn btn-outline-success btn-block btn-lg text-center  ">
        
                    <i class="fas fa-print"></i>
                    <span class="ml-2 text-small"> Enquiry Preview w/o Customer</span>
        
                </button>
                <button class="btn btn-warning btn-block btn-lg text-center  ">
        
                    <i class="fas fa-level-down-alt fa-md"></i>
                    <span class="ml-2 text-small"> Enquiry On-hold </span>
        
                </button>
                <button class="btn btn-danger btn-block btn-lg text-center  ">
        
                    <i class="far fa-trash-alt fa-md"></i>
                    <span class="ml-2 text-small"> Enquiry Cancle </span>
        
                </button>
                <button class="btn btn-info btn-block btn-lg text-center ">
        
                    <i class="fas fa-file-archive fa-md"></i>
                    <span class="ml-2 text-small "> Enquiry Archived </span>
        
                </button>
                <button class="btn btn-primary btn-block btn-lg text-center ">
        
                    <i class="fas fa-file-archive fa-md"></i>
                    <span class="ml-2 text-small "> Create Contract </span>
        
                </button>
            </div>
        </div>

    </div>



</div>