<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Tax Challan
                <div class="ml-2 descr">List of all Tax Challan </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Payments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tax Challans </li>
            </ol>
        </div>
    </div>
</div>


<div class="card ibox-content">
    <div class=" panel blank-panel">
        <div class="panel-heading">
            <div class="row mb-3">
                <div class="col-md-6 ">
                    <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2 ">
                        <i class="fas fa-map fa-fw mr-2"></i>{{count}}</button>
                    <span class="text-muted text2">Challans</span>
                </div>
                <div class="col-md-6 mrg-tsm">
                    <button type="button" class="btn btn-primary btn-sm float-right" (click)="navigateForm()">
                        <i class="fa fa-plus"></i> Add New Tax Challan</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row justify-content-end">
                        <div class=" col-md-4 pr-0">
                            <div class="form-group row">
                                <label for="inputSearch" class="col-sm-3 col-form-label">Search:</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Search.... "
                                        class="input form-control form-control-sm" (keyup)="search($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-body">

            <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'code', dir: 'asce'}]" [rowHeight]="'auto'"
                [limit]="6">

                <ngx-datatable-column name="Action" [width]="40">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                        <div class="ibox-tools text-center">

                            <button type="button" class="btn deleteIconBack px-1 py-1"
                            (click) = "deleteChalan(row)"
                            >
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>

                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="TC ID" [width]="80" prop="name">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.name}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Parent Buyer" [width]="80" prop="genericName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.buyerNme}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Parent Seller" [width]="80" prop="genericName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.sellerName}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="TaxChallan Date" [width]="80" prop="genericName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.challanDate}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Amount" [width]="80" prop="genericName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.amount}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="CPR" [width]="80" prop="genericName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.cprNumber}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Remarks #" [width]="80" prop="genericName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.remarks}}
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>

        </div>

    </div>
</div>