<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> General Settings
                <div class="ml-2 descr">System general settings for each departmemt.
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                <li class="breadcrumb-item active" aria-current="page">General Settings</li>
            </ol>
        </div>

    </div>
</div>







<div class="card ibox-content">

    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Department Settings</h4>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>


    <div class="card-body p-0">


        <div class="row">
            <div class="col-md-12 p-3">

                <form #enquiryForm="ngForm" novalidate>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">System Emai Address</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="Email address of system..." />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Email From Name</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="FabCot" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Before L/C Reminder Days</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="0" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">System Notification Recipient</label>
                        <div class="col-md-6">
                            <textarea name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="Email IDs to whom system notification sent, saparated by:"></textarea>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Contract Title Message</label>
                        <div class="col-md-6">
                            <textarea name="" id="" cols="50" rows="4" class="form-control text-w-4"
                                placeholder="Message title to appear in contrcat preview under attention"></textarea>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Terms and Condition</label>
                        <div class="col-md-6">
                            <textarea name="" id="" cols="50" rows="10" class="form-control text-w-4"
                                placeholder="Terms and conditions to appear in contracts"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Amount Decimal Points</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="2" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Quantity Decimal Points</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="0" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Deptt Email Address</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="Department Email Address" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label control-label">Deptt Phone No.</label>
                        <div class="col-md-6">
                            <input name="" id="" cols="50" rows="2" class="form-control text-w-4"
                                placeholder="Department Phone number" />
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-md-3 col-form-label control-label"></div>
                        <div class="col-md-6">
                            <button class="btn button-save">Save Settings</button>

                        </div>
                    </div>


            </form>

            </div>
        </div>
    </div>
</div>