<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>



<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div >

      <h5 class="modal-title py-0">
        <i class="fas fa-edit"></i>
        Remarks and Other Conditions
        <br>
        <!-- <div class="font">Contract No. {{data.autoContractNumber}}</div> -->
      </h5>
      <div class="font text-muted text-center">Contract No. {{data.autoContractNumber}}</div>
    </div>
  </div>
  

 
    


  <div class="modal-body BG p-0">
    <form #CityForm="ngForm" novalidate>
  
      <div class="row justify-content-center">
        <div class="col-10 col-md-11 pt-3 pb-2">
  
          <div class="form-group">
            <label for="contractRemarks" class="col-form-label text_grey">Remarks</label>
  
            <textarea [(ngModel)]="data.contractRemarks" class="form-control" rows="3"
              placeholder="Contract remarks here ..." name="contractRemarks"></textarea>
  
          </div>
  
  
          <!-- <div class="form-group row">
              <label for="contractRemarks" class="col-sm-3 col-form-label text_grey">Remarks</label>
              <div class="col-sm-8">
                <textarea [(ngModel)]="data.contractRemarks"
                 class="form-control" rows="4" placeholder="Contract remarks here ..."
                  name="contractRemarks"  ></textarea>
              </div>
            </div> -->
  
          <div class="form-group " *ngIf="loggedInDepartmentName != 'Yarn Export'  && loggedInDepartmentName != 'Yarn Export Bangladesh' && loggedInDepartmentName != 'Yarn Import' && loggedInDepartmentName == '!Fabric Export' || loggedInDepartmentName == 'Yarn Local'">
            <label for="buyerRemarks" class=" col-form-label text_grey">Buyers Remarks</label>
  
            <textarea [(ngModel)]="data.buyerRemarks" class="form-control" rows="3"
              placeholder="Buyer side contract remarks here ..." name="buyerRemarks"></textarea>
  
          </div>
  
          <div class="form-group ">
            <label for="otherConditionRemarks" class="col-form-label text_grey">Other Condition</label>
  
            <textarea [(ngModel)]="data.otherConditionRemarks" class="form-control" rows="9"
              placeholder="Any other terms and conditions" name="otherConditionRemarks"></textarea>
  
          </div>
  
          <div class="form-group">
            <label for="title" class="col-form-label text_grey">Title</label>
  
            <textarea [(ngModel)]="data.title" class="form-control" rows="3" placeholder="Contract preview title ..."
              name="title"></textarea>
  
          </div>
  
        </div>
      </div>
  
  
      <div class="modal-footer NotBG">
        <!-- <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button> -->
        <button class="btn btn-outline-dark" type="submit" (click)="activeModal.close()">
          Close
        </button>
        <button class="btn btn-save" type="submit" (click)="addContractRemark()">
          Save
        </button>
      </div>
  
  
    </form>
  </div>




  