
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="modal-title">
      <i class="fa fa-anchor fa-fw"></i>
      Edit Article
    </h5>

  </div>

  <div class="modal-body BG">
    <form #addAgentForm="ngForm" novalidate>

      <div class="form-group row" [class.has-error]="code.invalid && code.touched">
        <label for="code" class="col-sm-3 col-form-label control-label " >Article Code </label>
        <div class="col-sm-9">
          <input required id="code" type="text" class="form-control" placeholder="Article Code" name="code"
            [(ngModel)]="data.code" #code="ngModel" [ngClass]="{'error': code.invalid && code.touched}">
            <small>Standard code for the article</small>
        </div>
      </div>

      <div class="form-group row" [class.has-error]="name.invalid && name.touched">
        <label for="code" class="col-sm-3 col-form-label control-label topInputclr" >Article Name </label>
        <div class="col-sm-9">
          <input required id="name" type="text" class="form-control" placeholder="Article name" name="name"
            [(ngModel)]="data.name" #name="ngModel" [ngClass]="{'error': name.invalid && name.touched}">
            <small >Add warp,weft,end,pick & width info in order</small>
        </div>
      </div>


      <div class="form-group row">
        <label for="genericName" class="col-sm-3 col-form-label otherInputclr">Generic Name</label>
        <div class="col-sm-9">
          <input required id="genericName" type="text" class="form-control" placeholder="Article generic name" name="genericName"
            [(ngModel)]="data.genericName" #genericName="ngModel" >
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label otherInputclr">Description</label>
        <div class="col-sm-9">
          <textarea required class="form-control" id="description" rows="3" placeholder="Brief article description here ..." name="description"
            [(ngModel)]="data.description" #description="ngModel"></textarea>
        </div>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input check-btn" type="checkbox" checked>
        <label class="form-check-label otherInputclr">Parent Buyer</label>
      </div>

   
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">Close</button>
    <button class="btn button-save" type="submit" (click)="UpdateArticle()">
      Update Article
    </button>
  </div>