<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade"
 [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="statusCheck == 'addShipment'">
    <h5 class="modal-title">
      <i class="fa fa-plus fa-fw"></i>
      Add Shipment Line
    </h5>
  </div>
  <div *ngIf="statusCheck == 'editShipment'">
    <h5 class="modal-title">
      <i class="far fa-edit fa-fw"></i>
      Edit Shipment Line
    </h5>
  </div>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate>

    <div class="row justify-content-center">
      <div class="col-10 col-md-11 pt-3 pb-2">
    
        <div class="form-group row">
          <label for="code" class="col-md-3 col-form-label control-label text_Navy">Shipment Line<span
              class="required-denote">*</span> </label>
          <div class="col-md-8">
            <input appAutofocus required maxlength="80" minlength="3" type="text" class="form-control"
              [(ngModel)]="data.shipmentLineType" name="shipmentLineType"
              [ngClass]="{'error': shipmentLineType.invalid && addAgentForm.submitted }" #shipmentLineType="ngModel"
              placeholder="Shipment Line">
          </div>
        </div>
    
    
    
        <div class="form-group row">
          <label for="description" class="col-md-3 col-form-label text-Navy">Shipment Mode<span
              class="required-denote">*</span></label>
          <div class="col-md-8">
            <ng-select [(ngModel)]="data.shipmentMode" placeholder="Select Shipment Mode" name="shipmentMode"
              #shipmentMode="ngModel">
              <ng-option *ngFor="let i of mode" [value]="i">{{ i }}</ng-option>
            </ng-select>
          </div>
        </div>
    
    
        <div class="form-group row">
          <label for="details" class="col-md-3 col-form-label text-grey">Details</label>
          <div class="col-md-8">
            <textarea maxlength="300" class="form-control" id="details" rows="3" [(ngModel)]="data.details" name="details"
              placeholder="Brief description here ..."></textarea>
          </div>
        </div>
      </div>
    </div>



    <div class="modal-footer NotBG">

      <button  *ngIf="statusCheck == 'addShipment' " class="btn button-save" (click)="addShipment()"
        type="submit">
        Add Shipment Line
      </button>
      <button *ngIf="statusCheck == 'editShipment'" class="btn button-save" (click)="UpdateShipment()"
        type="submit">
        Update Shipment Line
      </button>

    </div>

  </form>
</div>