<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Notification Settings
                <div class="ml-2 descr">System notification settings for each departmemt
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Configuration</a></li>
                <li class="breadcrumb-item active" aria-current="page">Notification Settings</li>
            </ol>
        </div>

    </div>
</div>







<div class="card ibox-content">

    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Notification Settings</h4>

        <div class="card-tools">
            <button type="button" class="btn btn-danger">
                <i class="far fa-bell"></i>
            </button>
        </div>
    </div>


    <div class="card-body p-0">


        <div class="row">
            <div class="col-md-12 p-3">

                <form #enquiryForm="ngForm" novalidate>

                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">Closed since x days & Un Billed</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class=" form-control col-md-4" placeholder="30">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>
                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">Bill generated & payment pending since x days</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class="form-control col-md-4" placeholder="30">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>
                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">Bill generated & partial Payment Pending</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class="form-control col-md-4" placeholder="60">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>
                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">Contract is in open and working state</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class="form-control col-md-4" placeholder="180">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>
                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">User / Agent Not Login since x days</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class="form-control col-md-4" placeholder="7">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>
                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">Vouchers needs approval from CEO</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class="form-control col-md-4" placeholder="2">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>
                    <div class="form-group row input-group">
                        <label class="col-md-4 col-form-label control-label ">No of days left for L/C closure & not delivered yet</label>
                        <div class="col-md-6">                                <div class="input-group mb-2">
                                    <input type="text" class="form-control col-md-4" placeholder="7">
                                    <div class="input-group-append">
                                      <span class="input-group-text">Days</span>
                                    </div>
                                    </div>
                          </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 col-form-label control-label">Notification Details</label>
                        <div class="col-md-6">
                            <textarea name="" id="" cols="50" rows="4" class="form-control text-w-4"
                                placeholder=""></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4 col-form-label control-label"></div>
                        <div class="col-md-6">
                            <button class="btn button-save">Save Settings</button>

                        </div>
                    </div>


            </form>

            </div>
        </div>
    </div>
</div>