<div class="content-header p-4">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <p  style="font-size: x-large; color: rgb(133, 127, 127); font-weight: 400;">
            <strong  >Article </strong> 
            <small style="font-size: large;">Manage Fabric / Yarn Articles with warp, weft, end, pick,weive & width info</small> <small style="font-size: small; float: right;">Configuration / Articles</small></p>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="ibox-content">
    <div class=" panel blank-panel">  
      <div class=" panel-heading">
        <table class="table">
            <tbody>
                <tr>
                    <td class="noBorder" > 
                        <button type="button" class="btn btn-primary m-r-sm text-s-md px-3"> 
                       <strong><i class="fa fa-anchor fa-fw"></i>&nbsp;&nbsp;{{listCount}}</strong> </button>
                        <strong><span class="text-muted text">&nbsp;&nbsp;&nbsp;Articles</span></strong> 
                    </td>
                    <td class="noBorder">
                        <button type="button" class="btn  m-r-sm text-s-md px-3"> </button>
                        <span class="text-muted text"></span>
                    </td>
                    <td class="noBorder">
                        <button type="button" class="btn btn-primary btn-md float-right" 
                        (click)="addArticleForm()"><i class="fa fa-plus"></i> Add New Article</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="row">
          <div class=" col-md-4 mb-4" >
            <div class="input-group col-md-offset-3">
              <input type="text" placeholder="Search " 
              class="input form-control w-50" (keyup)="updateFilter($event)">
            </div>
          </div>
          <div class="html5buttons">
            <div class="dt-buttons btn-group ">
              <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0" 
              aria-controls="DataTables_Table_0"><span>Copy</span></a>
              <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0" 
              aria-controls="DataTables_Table_0"><span>CSV</span></a>
              <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0" 
              aria-controls="DataTables_Table_0"><span>Excel</span></a>
              <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0" 
              aria-controls="DataTables_Table_0"><span>PDF</span></a>
              <a class="btn btn-default buttons-print bg-white" tabindex="0" 
              aria-controls="DataTables_Table_0"><span>Print</span></a>
             </div>
           </div>
        </div>



        <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'" 
        [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'code', dir: 'asce'}]"
        [rowHeight]="'auto'" [limit]="6">

      <ngx-datatable-column name="Article Code" [width]="5" prop="code" > 
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{row.code}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Article Name" [width]="80" prop="name"> 
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" Generic Name" [width]="80" prop="genericName">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.genericName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [width]="5" prop="address"> 
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <div class="status" *ngIf="row.active==true">
              Active
          </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Updated On" [width]="80" prop="modifiedDate">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{myDate | date:'medium'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Updated By" [width]="80" prop="modifiedBy">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
         {{row.createdByName}} 
            </ng-template>
          </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="40" >
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button type="button" class="btn editIconBack" (click)="editArticleForm(row)">
              <i class="far fa-edit "></i>
            </button>
            <button type="button" class="btn editIconBack" (click)=" deleteArticle(row)">
              <i class="far fa-trash-alt"></i>
            </button>
       
            <!-- <button type="button" 
            class="btn deleteIconBack"
            mwlConfirmationPopover 
            popoverTitle="Confirmation"
            popoverMessage="Are you sure ?" 
            placement="left" 
            (confirm)="deleteArticle(row)"> 
            <i class="far fa-trash-alt"></i>
            </button> -->
          </ng-template>
        </ngx-datatable-column>
        
      </ngx-datatable>      




        