.column{
    font-size: medium;
  
}

.badge {
    padding: 5px 10px !important;
    font-weight: 500 !important;
    font-size: 100% !important;
}


.checkbox-container {
    position: relative;
  }
  
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .checkbox-container .check {
    position: absolute;
    top: 0;
    left: -11px;
    width: 20px;
    height: 20px;
    border: 2px solid cadetblue !important;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .checkbox-container .check:hover {
    background: #cccc;
  }
  
  .checkbox-container input:checked ~ .check {
    background:#2980b9;
  }
  
  .checkbox-container .check::after {
    position: absolute;
    content: "";
    left: 5.5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border-color: #fff;
    border-style: solid;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg) scale(0.5);
    opacity: 0;
    transition: transform .1s linear;
  }
  
  .checkbox-container input:checked ~ .check::after {
    transition: transform .1s linear;
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }