<!-- Modal -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="modal-header">
  <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss()">
    <span style="color: black" aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="fa fa-user"></i>
    Select User
  </h5>
</div>

<div class="modal-body BG p-0">
  <form #buyerEditForm="ngForm" class="justify">

    <div class="col-md-12 pt-3 pb-2">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search User..." (keyup)="updateFilter($event)"
       
        >
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

   
      <div class="faq-item shadow-sm" *ngFor="let i of owner">
        <div class="row" (click) = "update(i)" >


          <div class="col-md-7, color">

            <a class="faq-question "></a>


            <div class="small mb-1"></div>
            <h5>{{i.fullName}}</h5>
            <span><i class="fa fa-user"></i>&nbsp;{{i.role}}&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;<i
                class="fa fa-object-group"></i>&nbsp;&nbsp;  <b *ngIf = "loggedInDepartmentName =='Home Textile & Garment' "> Home Textile & Garment </b>
                <b *ngIf = "loggedInDepartmentName =='Yarn Local' "> Yarn Local</b>
                <b *ngIf = "loggedInDepartmentName =='Fabric Local' ">Fabric Local</b>
                <b *ngIf = "loggedInDepartmentName =='Yarn Local Karachi' ">Yarn Local Karachi</b>
               
                <b *ngIf = "loggedInDepartmentName =='Fabric Export' ">Fabric Export</b>
                <b *ngIf = "loggedInDepartmentName =='Yarn Export' ">Yarn Export</b>
                
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <i class="fa fa-envelope"></i>&nbsp;&nbsp;{{i.email}}</span>
            

          </div>


        </div> <!-- end of .row -->




      </div>

    </div>

    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>

    </div>


  </form>
</div>