 .size1{
    font-size: 15px !important;
  }
  .icon{
    color: grey;
  }

  .date-Label{
    font-size: 14px!important;
    /* font-weight: 200; */
}
.date{
    font-size: 22px;
    /* font-weight: 200; */
}