<div class="content-header">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light"> Active Enqury
        <div class="ml-2 descr"> List of all open and active business inquiries and its management</div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Business Enquiry</a></li>
        <li class="breadcrumb-item active" aria-current="page">Active Enquiries</li>
      </ol>
    </div>

  </div>
</div>




<div class="card ibox-content">

  <div class="card-header pt-1 px-0">
    <h4 class="card-title">Date</h4>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="maximize">
        <i class="fas fa-expand"></i>
      </button>
      <button type="button" class="btn btn-tool" data-card-widget="remove">
        <i class="fas fa-times"></i>
      </button>
    </div>

  </div>
  <!-- <div class="headline">Date</div> -->


  <div class="card-body p-0">


    <div class="row border-bottom">

      <div class="col-6 col-md-3 col-lg-6 col-xl-3 active-enqury-pdg">
        <button type="button" class="btn btn-primary text ">
          <i class="fas fa-phone px-1"></i>
          <span class="text-muted text ml-1 ">0</span>
        </button>
        <span class="text-muted text-s-md  ml-2">Active</span>
      </div>

      <div class="col-6 col-md-3 col-lg-6 col-xl-3 active-enqury-pdg">
        <button type="button" class="btn btn-info  text ">
          <i class="far fa-check-circle px-1"></i>
          <span class="text-muted text ml-1">0</span>
        </button>
        <span class="text-muted text-s-md  ml-2">Confirmed</span>
      </div>

      <div class="col-6 col-md-3 col-lg-6 col-xl-3 active-enqury-pdg">
        <button type="button" class="btn btn-danger m-r-sm text ">
          <i class="far fa-window-close px-1"></i>
          <span class="text-muted text ml-1">0</span>
        </button>
        <span class="text-muted text-s-md  ml-2">Closed</span>
      </div>

      <div class="col-6 col-md-3 col-lg-6 col-xl-3 active-enqury-pdg">
        <button type="button" class="btn btn-secondary m-r-sm text ">
          <i class="fas fa-mug-hot px-1"></i>
          <span class="text-muted text ml-1">0</span>
        </button>
        <span class="text-muted text-s-md  ml-2">On-Hold</span>
      </div>


    </div>



    <div class="row py-5">
      <div class="col-md-4">
        <div class="input-group ">
          <input type="text" placeholder="Search" class="input form-control">
        </div>
      </div>

      <div class="col-md-8">
        <button type="button" class="btn btn-primary float-right mrg-tsm">
          <i class="fa fa-plus"></i> Add New Enqury</button>
      </div>

    </div>



    <div class="panel-body">

      <ngx-datatable #myTable class="bootstrap" [columns]="" [rows]="" [columnMode]="'force'" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" [limit]="6">

        <ngx-datatable-column name="Article Code" [width]="5" prop="code">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.Ali}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Article Name" [width]="80" prop="name">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.Ali}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" Generic Name" [width]="80" prop="genericName">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.Ali}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [width]="5" prop="address">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.Ali}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Updated On" [width]="80" prop="modifiedDate">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            Ali
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Updated By" [width]="80" prop="modifiedBy">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            Ali
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="40">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>


            <div class="ibox-tools text-center" data-toggle="tooltip" data-placement="top" title=""
              data-original-title="Edit">
              <button type="button" class="btn editIconBack">
                <i class="far fa-edit "></i>
              </button>

              <button type="button" class="btn deleteIconBack" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Delete" mwlConfirmationPopover popoverTitle="Confirmation"
                popoverMessage="Are you sure ?" placement="left">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>

          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>

    </div>

  </div>


</div>