.btn.btn-white {
  font-weight: 400;
  color: #333;
  background: #fff;
  border-color: #e2e7eb;
}
.edit{
  color: lightgrey;
}
.delete{
  color: red;
}
.editIconBack1 :hover {
  color: #36afd4;
  transform: scale(1.5);
}
.deleteIconBack1 :hover {
  color: red;
  transform: scale(1.5);
}
.label-primary, .badge-primary {
  background-color: #1ab394;
  color: #FFFFFF !important;
}
.badge {
  background-color: #d1dade;
  color: #5e5e5e;
  font-family: 'Open Sans';
  font-size: 11px;
  font-weight: 600;
  padding-bottom: 4px;
  padding-left: 6px;
  padding-right: 6px;
  text-shadow: none;
}
.btn-primary .badge {
  color: #337ab7 !important;
  background-color: #fff !important;
}
.buttonOuter{
  background-color: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 50px;
  padding: 0px 10px;
  margin: 10px 0px;
  box-shadow: 0 0.4rem 0.5rem rgb(0 0 0 / 15%) !important;
}