<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="content-header">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light"> Active Contract
        <!-- <div class="ml-2 descr"> Manage Fabric / Yarn Articles with warp, weft, end, pick,weive & width info </div> -->
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Active Contracts</li>
      </ol>
    </div>

  </div>
</div>


<div class="card ibox-content">
  <div class=" panel blank-panel">
    <div class="panel-heading">
      
      <div class="row mb-3">
        <div class="col-md-12 text-center">
         
          <div class="btn-group" role="group">

            <button type="button" class="btn btn-sm btn-primary" (click)="activeContract();" id="all"
              data-toggle="tooltip" title="" data-original-title="All Contracts"> <i class="fa fa-bullseye fa-fw"></i>
              All &nbsp; <span class="badge badge-pill badge-primary">{{allCount}}</span> 
            </button>

            <button type="button" class="btn btn-sm btn-white" (click)="openContract();" id="open"
              data-toggle="tooltip" title="Contract open &amp; in-process"> <i class="far fa-folder-open"></i> Open
              &nbsp; <span class="badge badge-pill badge-primary">{{openCount}}</span> 
            </button>
            
            <button type="button" class="btn btn-sm btn-white"  id="close"
              data-toggle="tooltip" title="Contract working closed &amp; waiting for billing"> <i
                class="fa fa-check fa-fw"></i> Close &nbsp; <span
                class="badge badge-pill badge-primary">{{closedCount}}</span>
              </button>
            <button type="button" class="btn btn-sm btn-white" (click)="bill_awaitedContract();" id="con-billawaited"
              data-toggle="tooltip" title="Contract ready for billing"> <i class="far fa-clock"></i> Bill Awaited
              &nbsp; <span class="badge badge-pill badge-primary">{{billAwaitedCount}}</span> 
            </button>
            <button type="button" class="btn btn-sm btn-white" (click)="billedContract();" id="con-billed"
              data-toggle="tooltip" title="Contract bill generated"> <i class="far fa-edit"></i>
              Billed &nbsp; <span class="badge badge-pill badge-primary">{{billedCount}}</span> 
            </button>
            <button type="button" class="btn btn-sm btn-white" (click)="receivableContract();" id="con-receivable"
              data-toggle="tooltip" title="Some payment received against contract"> <i
                class="far fa-money-bill-alt"></i>
              Receivable &nbsp; <span class="badge badge-pill badge-primary">{{receivableCount}}</span> 
            </button>
            <button type="button" class="btn btn-sm btn-white" (click)="receivedContract();" id="con-received"
              data-toggle="tooltip" title="All payment received against contract"> <i class="fas fa-dollar-sign"></i>
              Received &nbsp; <span class="badge badge-pill badge-primary">{{receivedCount}}</span> 
            </button>
            <button type="button" class="btn btn-sm btn-white" (click)="on_HandContract();" id="con-onhold"
              data-toggle="tooltip" title="Contract currently on-hold or deferred"> <i class="far fa-hand-paper"></i>
              On-Hold &nbsp; <span class="badge badge-pill badge-primary">{{onHoldCount}}</span> 
            </button>
          </div>
         
        </div>
      </div>
      
      <!-- <div class="row mb-2">
        <div class="col-md-6 mrg-tsm">
          <button type="button" class="btn btn-primary btn-md">
            <i class="fa fa-filter fa-fw"></i> Advance Filter</button>
        </div>
      </div> -->
      <div class="card shadow mb-4">
        <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-6 mrg-tsm">
          <!-- refresh button -->
  
      <!-- <button type="button" class="btn btn-light btn-sm">
          <i class="fas fa-sync-alt"></i>
          </button> -->
     <!-- Filter Button -->
          <!-- <button type="button" class="btn btn-primary btn-sm mr-1" >
          <i class="fa fa-filter"></i>
      </button> -->
      <!-- add new commision button -->
      <button type="button" class="btn btn-primary btn-sm mr-1"
      (click)="navigateAddContract()"
      >
          <i class="fa fa-plus"></i> Add new Contract
      </button>
    
    </div>
        <div class="col-md-6 mrg-tsm ">

          <div class="form-group row">
            <label for="inputSearch" class="col-sm-3 col-form-label">Search:</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="inputSearch" (keyup)="searchFilter($event)"
              placeholder="Search by Contract Number, Buyer and Seller Name"
              >
            </div>
          </div>

        </div>
      </div>

      
      <div class="panel-body">

        <ngx-datatable #myTable class="bootstrap datatable-row-wrapper" [columns]="columns" [rows]="rows" [columnMode]="'flex'"
        [headerHeight]="50" [footerHeight]="50" [sorts]="[{ prop: 'autoContractNumber', dir: 'desc' }]" [rowHeight]="'auto'"
        [limit]="6">
          <ngx-datatable-column name="Action"  [width] = "20"  [flexGrow]="0.06"  >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

              <div class="ibox-tools text-center">

                <span  class="editIconBack1 px-1 py-1 "
                (click)="navigateEditContract(row)"
                >
                  <i class="far fa-edit edit  "></i>
                </span>

                <span  class="deleteIconBack1 px-1 py-1" 
                (click)="deleteContract(row)"
                >
                  <i class="far fa-trash-alt edit"></i>
                </span>

              </div>
            </ng-template>
          </ngx-datatable-column>

     

          <ngx-datatable-column name="Age" prop="contractAge" [width] = "20"  [flexGrow]="0.04"  >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              <span class="badge badge-primary">{{row.contractAge}}</span>
             
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Details" [width] = "20" [flexGrow]="0.07"   prop="autoContractNumber">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.autoContractNumber}}
              B:{{row.buyerName}}
              S:{{row.sellerName}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Dated" [width] = "20"  [flexGrow]="0.07"  prop="contractOn">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.contractOn}}
              
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="#PO" [width] = "20" [flexGrow]="0.05"   prop="poNumber">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.poNumber}}
            
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="#SC"  [width] = "20" [flexGrow]="0.05"  prop="scNumber">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.scNumber}}
             
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Article/Const." [width] = "10"  [flexGrow]="0.07"  prop="articleName">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.articleName}}
              

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Price"  [width] = "20" [flexGrow]="0.05"  prop="articleName">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.price}}
              

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Qty." [width] = "20"  [flexGrow]="0.05"  prop="articleName">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.quantity}}
              

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Dispatch(Inv)" [width] = "30"  [flexGrow]="0.07"  prop="articleName">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.saleInv}}
              

            </ng-template>
          </ngx-datatable-column> [flexGrow]="0.07" 
        </ngx-datatable>
      </div>
        </div>
      </div>
    </div>


  </div>
</div>