<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-sm-12">
          <h2 class="row wrapper page-header"> <strong>Loom Type</strong> 
            <small class="ml-2 text-muted">Loom Description</small> </h2>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="ibox-content shadow">
    <div class=" panel blank-panel">  
      <div class=" panel-heading">
        <table class="table">
            <tbody>
                <tr>
                    <td class="noBorder">
                        <button type="button" class="btn btn-primary descBtn"> 
                        <i class="fas fa-anchor fa-fw"></i>{{listCount}}</button>
                        <span class="text-muted text2">Loom Type</span>
                    </td>
                    <td class="noBorder">
                        <button type="button" class="btn  mr-1 px-3"> </button>
                        <span class="text-muted text"></span>
                    </td>
                    <td class="noBorder">
                        <button type="button" class="btn btn-primary btn-md float-right" (click)="addLoomForm()"
                        ><i class="fa fa-plus"></i> Add Loom Type</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="row">
          <div class=" col-md-4 mb-4" >
            <div class="input-group col-md-offset-3">
              <input type="text" placeholder="Search"
              class="input form-control w-50" >
            </div>
          </div>

       <div class="html5buttons">
         <div class="dt-buttons btn-group ">
           <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0" 
           aria-controls="DataTables_Table_0"><span>Copy</span></a>
           <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0" 
           aria-controls="DataTables_Table_0"><span>CSV</span></a>
           <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0" 
           aria-controls="DataTables_Table_0"><span>Excel</span></a>
           <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0" 
           aria-controls="DataTables_Table_0"><span>PDF</span></a>
           <a class="btn btn-default buttons-print bg-white" tabindex="0" 
           aria-controls="DataTables_Table_0"><span>Print</span></a>
          </div>
        </div>
        </div>


        <ngx-datatable #myTable class="material" [columns]="columns" [rows]="rows" [columnMode]="'force'" 
        [headerHeight]="50" [footerHeight]="50"
        [rowHeight]="'auto'" [limit]="10">

      <ngx-datatable-column name="S. No." [width]="5" prop="code" > 
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{row.id}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Loom Types" [width]="40">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.type}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" [width]="20">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [width]="10">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <div class="active" *ngIf="row.active==true">
              Active
            </div>
            <div class="inactive" *ngIf="row.active==false">
              Inactive
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Changed On | Changed By" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{myDate | date:'medium'}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button type="button" class="btn editIconBack" (click)="editLoomForm(row)">
              <i class="far fa-edit "></i>
            </button>
            <button type="button" class="btn deleteIconBack" (click)="deleteLoom(row)">
              <i class="far fa-trash-alt"></i>
            </button>
            <!-- <button type="button" 
            class="btn deleteIconBack"
            mwlConfirmationPopover 
            popoverTitle="Confirmation"
            popoverMessage="Are you sure ?" 
            placement="left" 
            (confirm)="deleteLoom(row)"> 
            <i class="far fa-trash-alt"></i>
            </button> -->
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>      

