<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light">
                <b>Bill {{rows.billNumber}}</b>
                <div class="ml-2 descr">
                    Billing detail of Bill <b>{{rows.billNumber}}</b> against Contract <b>{{rows.contractNumber}}</b>
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Billing and Payment</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Active Bills
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Bill
                </li>
            </ol>
        </div>
    </div>
</div>



<div class="card ibox-content">
    <div class="panel blank-panel">
        <div class="panel-heading">


            <div class="row mb-3">
                <div class="col-md-8">
                    <span class="text-muted">Supplier Side Bill
                    </span>
                </div>
                <div class="col-md-2">

                    <button type="button" class="btn btn-primary btn-md float-right" (click) = "print()" >
                        <i class="fa fa-print"></i> Print Bill
                    </button>
                   
                </div>

                <div class="col-md-2 ">

                  
            <button type="button" class="btn btn-primary bill btn-md float-right" (click) = "billBreakup()" >
                <i class="fa fa-unlink"></i>  Bill Breakup
            </button>
                   
                </div>
            </div>



            <div class="row  mb-4">
                <div class="col-md-3 ">
                    <img src="/assets/fabcot.png" height="80px" width="200px">

                </div>
                <div class="col-md-6  mt-4">
                    <p class="font  clr"><strong>Fabcot International </strong>
                    </p>

                </div>
            
            </div>

<div class="row justify-content-center">
    <p class="address "><strong>133-Aurangzeb Block New Garden Town Lahore.
    </strong>
    </p>
</div>
<div class="row justify-content-center">
    <p class="address2 "><strong>  {{bNameDisplay}} 

    </strong>
    </p>
</div>
<div class="row justify-content-center">
    <p class="address3"><strong>PNTN No. P-1300724-6


    </strong>
    </p>
</div>
<div class="row justify-content-center">
    <p class="address3"><strong>STRN: 3277876195292


    </strong>
    </p>
</div>
   
<div class="row mb-3">
    <div class="col-md-6 float-right">
        <span class="text-font1">
            Seller: 
        </span>
        <br>
        <span class="text-font1">
           {{data.sellerName}}
        </span>
        <br>
        <span class="text-small bold">
            Address: <span class=" text-small">{{data.sellerBillingAddress}}</span>
        </span>
        <br>
        <span class="text-small bold">
            Sales Tax Resgitration No.: <span class=" text-small"> {{data.sellerGST}}</span>
        </span>
        <br>
        <span class="text-small bold">
            NTN No.:<span class=" text-small"> {{data.sellerNTN}}</span>
        </span>
    </div>
    <div class="col-md-6 float-right">
        <span class="text-font1">
            Buyer: 
        </span>
        <br>
        <span class="text-font1">
           {{data.buyerName}}
        </span>
        <br>
        <span class="text-small bold">
            Address: <span class=" text-small">{{data.buyerBillingAddress}}</span>
        </span>
        <br>
        <span class="text-small bold">
            Sales Tax Resgitration No.: <span class=" text-small"> {{data.buyerGST}}</span>
        </span>
        <br>
        <span class="text-small bold">
            NTN No.:<span class=" text-small">  {{data.buyerNTN}}</span>
        </span>
    </div>
</div>



            <div class="clearfix">

                <div class="float-right">
                    <span class="text-font1" *ngIf="billName != 'Qbill'">
                        <!-- Sales Tax Invoice No. : <span class="weight">{{invNo}}</span> -->
                        Sales Tax Invoice No. : <span class="weight">{{data.billInvoiceNumber}}</span>
                    </span>
                    
                    <br>
                    <span class="text-font1">
                        Bill No.: <span class="bold text-font1">{{data.billNumber}}</span>
                    </span>
                    <br>
                    <span class="text-font1">
                        Invoice Date.:<span class="bold text-font1">{{data.billInvoiceDate}}</span>
                    </span>
                </div>

                <div class="float-left">
                    <!-- <span class="text-font1" >
                        Seller: <span class="bold text-font1">{{rows.sellerName}}</span>
                    </span>
                <br>
                    <span class="text-font1" >
                        Buyer: <span class="bold text-font1">{{rows.buyerName}}</span>
                    </span>
                    <br> -->

                    <span class="text-font1">
                        Fabcot Contract No: <span class="bold text-font1"> {{data.contractNumber}}</span>
                    </span>
                    <br>
                  
                    <span class="text-font1">
                        Contract Date: <span class="bold text-font1">{{data.contractDate}}</span>
                    </span>
                    <br>
                  

                </div>

            </div>

            <table class="table">
                <tr>
                    <th>Description</th>
                    <th>Sale Invoice #</th>
                    <th>Sale Invoice Date</th>
                    <th>Quantity</th>
                    <th>Rate({{data.currencyName}})</th>
                    <th>Commission  %age</th>
                    <th>Amount Excl. Tax</th>
                    <th>Tax ({{data.invoiceTaxPercentage}})%</th>
                    <th *ngIf="billName != 'Qbill'">Amount Incl. Tax</th>
                    <th *ngIf="billName == 'Qbill'">Amount Excl. Tax</th>




                </tr>
                <tr *ngFor="let i of data.contractSaleInvoices">
                    <td>{{i.description}}</td>
                   
                    <td>{{i.saleInvoiceNo}}</td>
                    <td>{{i.saleInvoiceDateToDisplay}}</td>
                    <td>{{i.quantity}} {{i.quanityUOM}}</td>
                    <td>{{i.rate}}</td>
                    <td>{{i.commission}} </td>

                    <td>{{i.sellerCommissionAmount}} </td>
                    <!-- <td>{{i.amount}}</td> -->
                    <td>{{i.taxAmount | number:'1.0-0'}}</td>

                    <td>{{i.totalAmount  | number:'1.0-0'}}</td>


                </tr>
            </table>
 
            <br>
            <div class="float-right">
                <span class=" bold text-font1">
                    Sub Total: <span class="text-font1 underline">{{data.billAmount | number:'1.0-0'}} </span>
                </span>
                <br>
                <span class=" bold text-font1">
                    TAX : <span class="text-font1 underline">{{data.invoiceTaxAmountTotal | number:'1.0-0'}}</span>
                </span><br>
                <span class=" bold text-font1">
                    TOTAL : <span class="bold text-font1 underline">{{data.invoiceTotalAmount}}  </span>
                </span>
            </div>
            <div class="float-left" >
            <span class="text-font1">
                Quantity:<span class="bold text-font1 "> {{data.quantitySum}}&nbsp; {{data.quanityUOM}}</span>
            </span>
            <br><br><br>
            <span class=" text-font1">
                Amount In Words:<span class="bold text-font1 underline text-capitalize">  {{amountInWorda}}</span>
            </span>
            <br> <br><br><br>
            <span class=" float-left text-font1">
                For<span class="bold text-font1">&nbsp;FABCOT INTERNATIONAL ®</span>
            </span>
        </div>
            <br><br>
           
           

        </div>
    </div>
</div>






