
/*  
 .badge-primary {
  color: #1ab394;
  background-color: #ffffff !important;

} */


.badge {
  padding: 5px 10px !important;
  font-weight: 500 !important;
  font-size: 110% !important;
}
.clrbtn{
  background-color: #23c6c8;
  color: white;
}
/* .form-group {
  margin-bottom: 1.2rem !important;
} */

.headline {
  font-size: 16px;
  font-weight: 700;
  color: #545454;
  padding-bottom: 10px;
  border-bottom: 1px solid #dee2e6;
}

.btn-success {
  color: #1ab394;
  background-color: #ffffff;
  border-color: #1ab394;
  border-radius: 0px;
}
.btn-success:hover {
  color: #ffffff;
  background-color: #1ab394;
  border-color: #1ab394;
  border-radius: 0px;
}
.btn-secondary {
  color: #ffffff;
  background-color: #818381;
  border-color: #818381;
  border-radius: 0px;
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 11px 12px;
  text-align: center;
}
.input-w{
  width: 95% !important;
}
.input-w1{
  width: 96% !important;
}
.input-w2{
  width: 85% !important;
}
.input-w3{
  width: 80% !important;
}
.input-w4{
  width: 90% !important;
}


.ng-select.ng-select-single .ng-select-container {
  height: 38px !important;
}



@media only screen and (max-width: 1600px) {
  .input-w{
    width: 93% !important;
  }
  .input-w1{
    width: 95% !important;
  } 
  .input-w2{
    width: 81% !important;
  }
  .input-w3{
    width: 75% !important;
  }
  .input-w4{
    width: 88% !important;
  }

}

@media only screen and (max-width: 1366px), (max-width: 1440px) {
  .input-w{
    width: 92% !important;
  }
   .input-w1{
    width: 95% !important;
  }

  .input-w2{
    width: 77% !important;
  }
  .input-w3{
    width: 69% !important;
  }
  .input-w4{
    width: 85% !important;
  }
}

@media only screen and (max-width: 1280px) {
  .input-w{
    width: 92% !important;
  }

  .input-w1{
    width: 94% !important;
  } 

  .input-w2{
    width: 74% !important;
  }
  .input-w3{
    width: 65% !important;
  }
  .input-w4{
    width: 83% !important;
  }

}

@media only screen and (max-width: 1024px) {
  .input-w {
    width: 88% !important;
  }
  .input-w1{
    width: 93% !important;
  } 
  .input-w2{
    width: 63% !important;
  }
  .input-w3{
    width: 51% !important;
  }
  .input-w4{
    width: 76% !important;
  }
}
@media only screen and (max-width: 768px) {

  label:not(.form-check-label):not(.custom-file-label) {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  .mrg-sm1 {
    margin: 10px 0 0 0;
  }
}

@media only screen and (max-width: 736px) {
  .input-w{
    width: 92% !important;
  }
  .input-w1{
    width: 92% !important;
  } 
  .input-w2{
    width: 92% !important;
  }
  .input-w3{
    width: 92% !important;
  }
  .input-w4{
    width: 92% !important;
  }
}

@media only screen and (max-width: 667px) {
  .input-w{
    width: 91% !important;
  }
  .input-w1{
    width: 91% !important;
  }
  .input-w2{
    width: 91% !important;
  }
  .input-w3{
    width: 91% !important;
  }
  .input-w4{
    width: 91% !important;
  }
}

@media only screen and (max-width: 414px) {
  .input-w{
    width: 84% !important;
  }
  .input-w1{
    width: 84% !important;
  }
  .input-w2{
    width: 84% !important;
  }
  .input-w3{
    width: 84% !important;
  }
  .input-w4{
    width: 84% !important;
  }
  .mrg-top {
    margin: 10px 0 0 0;
  }
}

@media only screen and (max-width: 375px) {
  .input-w{
    width: 82% !important;
  }
  .input-w1{
    width: 82% !important;
  }
  .input-w2{
    width: 82% !important;
  }
  .input-w3{
    width: 82% !important;
  }
  .input-w4{
    width: 82% !important;
  }
}