<div class="content-header p-4">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h2 class="m-0 ">External Agents & L/C Opener </h2>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="ibox-content">
    <div class=" panel blank-panel">  
      <div class=" panel-heading">
        <table class="table">
            <tbody>
                <tr >
                    <td class="noBorder">
                        <button type="button" class="btn btn-primary m-r-sm text-s-md px-3"> 
                        <i class="fas fa-user-tie pr-2"></i>{{listCount}}</button>
                        <span class="text-muted text">Agent</span>
                    </td>
                    <td class="noBorder">
                        <button type="button" class="btn  m-r-sm text-s-md px-3"> </button>
                        <span class="text-muted text"></span>
                    </td>
                    <td class="noBorder">
                        <button type="button" class="btn btn-primary btn-md float-right" 
                        (click)="addAgentForm()"><i class="fa fa-plus"></i> Add New Agent</button>
                    </td>
                </tr>
            </tbody>
        </table>

        
        <div class="row">
          <div class=" col-md-4 mb-4" >
            <div class="input-group col-md-offset-3">
              <input type="text" placeholder="Search"
              class="input form-control w-50" (keyup)="updateFilter($event)">
            </div>
          </div>
        </div>

        

        <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'" 
        [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'code', dir: 'asce'}]"
        [rowHeight]="'auto'" [limit]="6">

      <ngx-datatable-column name="Agent Code" [width]="20" prop="code" > 
          <ng-template let-row="row"  ngx-datatable-cell-template>
            {{row.code}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Agent Name" [width]="20" prop="name">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name=" Agent Type" [width]="10">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.agentTypeId}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Address" [width]="20">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.address}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Email" [width]="20">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.emailAddress}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Contact Nos." [width]="10">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.cellNumber}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status " [width]="5">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <div class="status" *ngIf="row.active==true">
              Active
          </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Side" [width]="5">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.agentSideId}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Last Updated On | By" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{myDate | date:'medium'}} | {{row.createdByName}} 
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <button type="button" class="btn editIconBack" (click)="editAgentForm(row)">
              <i class="far fa-edit "></i>
            </button>
            <button type="button" class="btn editIconBack" (click)="deleteAgent(row)">
              <i class="far fa-trash-alt"></i>
            </button>
            <!-- <button type="button" 
            class="btn deleteIconBack"
            mwlConfirmationPopover 
            popoverTitle="Confirmation"
            popoverMessage="Are you sure ?" 
            placement="left" 
            (confirm)="deleteAgent(row)"> 
            <i class="far fa-trash-alt"></i>
            </button> -->
          </ng-template>
        </ngx-datatable-column>
        
      </ngx-datatable>      





      </div>
    </div>
  </div>