td {
  width: 33.3%;
  border: none;
  float: left;
  font-size: 20px;
}
.text {
  font-weight: 500;
}
.float-e-margins .btn {
  margin-bottom: 5px;
}
.text-s-md {
  font-size: 20px;
}
.m-r-sm {
  margin-right: 10px;
}
.btn1{
  background-color: #23c6c8;
  border-color: #23c6c8;
  color: #FFFFFF;
  border-radius: 3px; 
  display: inline-block;
  padding: 6px 12px; 
}
