<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Update Sale Receipt
                <div class="ml-2 descr"> Update sales receipt / received payment into the system against contract bill
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Payment Collection</a></li>
                <li class="breadcrumb-item active" aria-current="page">Update Sale Receipt</li>
            </ol>
        </div>

    </div>
</div>







<div class="card ibox-content">

    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Sale Receipt / Payment form</h4>

        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>

    </div>



    <div class="card-body p-0">


        <div class="row">
            <div class="col-md-12 p-3">

                <form #paymentForm="ngForm" novalidate>

                    <div class="form-row">
                        <div class="col-md-12 pt-2r pb-3">

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">Payment Date</label>

                                <div class="col-md-3">
                                    <div class="input-group">

                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>

                                        <!-- <input navigation="select" class="form-control  " ngbDatepicker
                                            #paymentDate="ngbDatepicker" (click)="paymentDate.toggle()"
                                            placeholder="Shipment date received from Buyer" name="paymentDate"
                                            name="paymentDate" [(ngModel)]="data.paymentDate" #paymentDate="ngModel"
                                            /> -->

                                            <input type="text" class="form-control  datetimepicker-input" (click)="paymentDatePicker.toggle()"
                                            placeholder="Date"  *ngIf = "statusCheck.statusCheck == 'addPayment'" #paymentDatePicker="ngbDatepicker" #paymentDate="ngModel" [(ngModel)]="paymentDateField"
                                            name="paymentDate" ngbDatepicker
                                          >
                                          <input type="text" class="form-control  datetimepicker-input" (click)="paymentDatePicker.toggle()"
                                          placeholder="Date"  *ngIf = "statusCheck.statusCheck == 'editPayment'" #paymentDatePicker="ngbDatepicker" #paymentDate="ngModel" [(ngModel)]="paymentDateField"
                                          name="paymentDate" ngbDatepicker
                                        >

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Pay Receipt #</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-scroll"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control date"   *ngIf = "statusCheck.statusCheck == 'addPayment'"
                                          name="receiptNumber" [(ngModel)]="data.receiptNumber" #receiptNumber="ngModel">
                                          <input type="text" class="form-control date"   *ngIf = "statusCheck.statusCheck == 'editPayment'"
                                          name="receiptNumber" [(ngModel)]="paymentdata.receiptNumber" #receiptNumber="ngModel">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Contract No.</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="far fa-handshake"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control date" readonly value="data.contractNumber" *ngIf = "statusCheck.statusCheck == 'addPayment'"
                                        name="contractNumber" [(ngModel)]="data.contractNumber" #contractNumber="ngModel"
                                        >
                                        <input type="text" class="form-control date" readonly value="paymentdata.contractNumber" *ngIf = "statusCheck.statusCheck == 'editPayment'"
                                        name="contractNumber" [(ngModel)]="paymentdata.contractNumber" #contractNumber="ngModel"
                                        >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <input type="text" class="form-control date" placeholder="Manual Contract No." readonly>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Bill #</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fas fa-file-invoice-dollar"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" value="data.contractNumber" readonly *ngIf = "statusCheck.statusCheck == 'addPayment'"
                                        name="billNumber" [(ngModel)]="data.billNumber" #billNumber="ngModel"
                                        >
                                        <input type="text" class="form-control" value="paymentdata.contractNumber" readonly *ngIf = "statusCheck.statusCheck == 'editPayment'"
                                        name="billNumber" [(ngModel)]="paymentdata.billNumber" #billNumber="ngModel"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">Supplier Name</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">
                                                <i class="fa fa-industry"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" readonly  *ngIf = "statusCheck.statusCheck == 'addPayment'"
                                        name="sellerName" [(ngModel)]="data.sellerName" #sellerName="ngModel"
                                        >
                                        <input type="text" class="form-control" readonly  *ngIf = "statusCheck.statusCheck == 'editPayment'"
                                        name="sellerName" [(ngModel)]="paymentdata.sellerName" #sellerName="ngModel"
                                        >
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">Sale Invoice No.</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend ">
                                            <span class="input-group-text">
                                                <i class="fas fa-file-invoice"></i>
                                            </span>

                                        </div>
                                        <div class="input-wdt" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                            <ng-select placeholder="">
                                                <ng-option>
                                                </ng-option>
                                            </ng-select>
                                        </div>
                                        <div class="input-wdt" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                            <ng-select placeholder="">
                                                <ng-option>
                                                </ng-option>
                                            </ng-select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">Amount</label>
                                <div class="div col-md-6">
                                    <div class="row">
                                        <div class="col-md-3" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                            <ng-select placeholder="--Select currency--"  [(ngModel)]="data.currencyId" name="currencyId">
                                                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}
                                                    <span *ngIf="i.name !=null" class="text-muted" style="font-size: 11px">( {{ i.name }} )</span>
                                                  </ng-option>
                                            </ng-select>
                                        </div>
                                        <div class="col-md-3" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                            <!-- <ng-select placeholder="--Select currency--"  [(ngModel)]="paymentdata.currencyId" name="currencyId">
                                                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}
                                                    <span *ngIf="i.name !=null" class="text-muted" style="font-size: 11px">( {{ i.name }} )</span>
                                                  </ng-option>
                                            </ng-select> -->
                                            <ng-select placeholder="--Select--"
                                    name="currencyId" [(ngModel)]="paymentdata.currencyId" #currencyId="ngModel"
                                
                                    >
                                    <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}
                                      </ng-option>

                                    </ng-select>
                                        </div>
                                        <div class="col-md-3 mrg-sm1">
                                            <div class="input-group" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                                <input type="text" class="form-control" placeholder="Paid Amount"
                                                name="paidAmount" [(ngModel)]="data.paidAmount" #paidAmount="ngModel"
                                                >
                                            </div>
                                            <div class="input-group" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                                <input type="text" class="form-control" placeholder="Paid Amount"
                                                name="paidAmount" [(ngModel)]="paymentdata.paidAmount" #paidAmount="ngModel"
                                                >
                                            </div>
                                        </div>
                                        <div class="col-md-3 mrg-sm1">
                                            <div class="input-group" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                                <input type="text" class="form-control" placeholder="tax Amount"
                                                name="taxAmount" [(ngModel)]="data.taxAmount" #taxAmount="ngModel">
                                            </div>
                                            <div class="input-group" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                                <input type="text" class="form-control" placeholder="tax Amount"
                                                name="taxAmount" [(ngModel)]="paymentdata.taxAmount" #taxAmount="ngModel">
                                            </div>
                                        </div>
                                        <div class="col-md-3 mrg-sm1">
                                            <div class="input-group" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                                <input type="text" class="form-control" placeholder="Deduction"
                                                name="deductionAmount" [(ngModel)]="data.deductionAmount" #deductionAmount="ngModel"
                                                >
                                            </div>
                                            <div class="input-group" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                                <input type="text" class="form-control" placeholder="Deduction"
                                                name="deductionAmount" [(ngModel)]="paymentdata.deductionAmount" #deductionAmount="ngModel"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Payment Mode</label>
                                <div class="col-md-2" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                    <ng-select name="paymentMode" placeholder="-- Select --" [(ngModel)]="data.paymentMode">
                                        <ng-option *ngFor="let i of paymentMode" [value]="i">
                                            {{i}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-md-2" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                    <ng-select name="paymentMode" placeholder="-- Select --" [(ngModel)]="paymentdata.paymentMode">
                                        <ng-option *ngFor="let i of paymentMode" [value]="i">
                                            {{i}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-md-4 " *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                    <input type="text" class="form-control"
                                        placeholder="Additional Info(Cheque No., PO/DD No. etc)"
                                        name="paymentDescription" [(ngModel)]="data.paymentDescription" #paymentDescription="ngModel"
                                        >
                                </div>

                                <div class="col-md-4 " *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                    <input type="text" class="form-control"
                                        placeholder="Additional Info(Cheque No., PO/DD No. etc)"
                                        name="paymentDescription" [(ngModel)]="paymentdata.paymentDescription" #paymentDescription="ngModel"
                                        >
                                </div>


                            </div>

                        </div>
                    </div>

                    <div class="form-row border-top">
                        <div class="col-md-12 pt-2r pb-3">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Bank Account</label>
                                <div class="col-md-2"  *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                    <ng-select placeholder="--Select--"
                                    name="bankAccountId" [(ngModel)]="data.bankAccountId" #bankAccountId="ngModel"
                                
                                    >
                                    <ng-option *ngFor="let i of bankAcc" [value]="i.id">{{ i.accountName }}
                                      </ng-option>

                                    </ng-select>
                                </div>
                                <div class="col-md-2" *ngIf = "statusCheck.statusCheck == 'editPayment'" > 
                                    <ng-select placeholder="--Select--"
                                    name="bankAccountId" [(ngModel)]="paymentdata.bankAccountId" #bankAccountId="ngModel"
                                
                                    >
                                    <ng-option *ngFor="let i of bankAcc" [value]="i.id">{{ i.accountName }}
                                      </ng-option>

                                    </ng-select>
                                </div>
                                <div class="col-md-4 "  *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                    <input type="text" class="form-control" placeholder="Additional Info"
                                    name="accountDescription" [(ngModel)]="data.accountDescription" #accountDescription="ngModel"
                                    >
                                </div>
                                <div class="col-md-4 " *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                    <input type="text" class="form-control" placeholder="Additional Info"
                                    name="accountDescription" [(ngModel)]="paymentdata.accountDescription" #accountDescription="ngModel"
                                    >
                                </div>

                            </div>

                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">Deposited in Bank</label>
                                <div class="col-md-2">
                                    <div class="form-check" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                        <input class="form-check-input" type="checkbox" value=""
                                        name="isDepositedInBank" [(ngModel)]="data.isDepositedInBank" #isDepositedInBank="ngModel"
                                        >
                                    </div>
                                    <div class="form-check" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                        <input class="form-check-input" type="checkbox" value=""
                                        name="isDepositedInBank" [(ngModel)]="paymentdata.isDepositedInBank" #isDepositedInBank="ngModel"
                                        >
                                    </div>

                                </div>
                                <div class="col-md-1 ">
                                    <label class=" col-form-label control-label">
                                        Deposited Date</label>
                                </div>
                                <div class="col-md-3" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                    <!-- <input navigation="select" class="form-control  " ngbDatepicker
                                        #validityDate3="ngbDatepicker" (click)="validityDate3.toggle()"
                                        name="validityDate3"
                                        name="depositeDate" [(ngModel)]="data.depositeDate" #depositeDate="ngModel"
                                        /> -->
                                        <input type="text" class="form-control  datetimepicker-input" (click)="depositeDatePicker.toggle()"
                                        placeholder="Date" #depositeDatePicker="ngbDatepicker" #depositeDate="ngModel" [(ngModel)]="paymentdata.depositeDate"
                                        name="depositeDate" ngbDatepicker
                                      >
                                </div>

                                <div class="col-md-3" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                    <!-- <input navigation="select" class="form-control  " ngbDatepicker
                                        #validityDate3="ngbDatepicker" (click)="validityDate3.toggle()"
                                        name="validityDate3"
                                        name="depositeDate" [(ngModel)]="data.depositeDate" #depositeDate="ngModel"
                                        /> -->
                                        <input type="text" class="form-control  datetimepicker-input" (click)="depositeDatePicker.toggle()"
                                        placeholder="Date" #depositeDatePicker="ngbDatepicker" #depositeDate="ngModel" [(ngModel)]="depositeDateField"
                                        name="depositeDate" ngbDatepicker
                                      >
                                </div>


                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label
                             control-label">Additional Note:</label>
                                <div class="col-md-6" *ngIf = "statusCheck.statusCheck == 'addPayment'">
                                    <textarea class="form-control" rows="4" placeholder="Any Additional note here..."
                                        name="remarks"></textarea>
                                </div>
                                <div class="col-md-6" *ngIf = "statusCheck.statusCheck == 'editPayment'">
                                    <textarea class="form-control" rows="4" placeholder="Any Additional note here..."
                                        name="remarks"></textarea>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <button class="btn button-save" *ngIf="statusCheck.statusCheck == 'addPayment'"
                                    (click) = " addPayment()"
                                    >
                                        <i class="fas fa-check"></i> Save
                                        Payment Info</button>
                                        <button class="btn button-save" *ngIf="statusCheck.statusCheck == 'editPayment'"
                                        (click) = "UpdatePayment()"
                                        >
                                            <i class="fas fa-check"></i> Update
                                            Payment Info</button>
                                    <button class="btn btn-secondary ml-2" routerLink="/payment-collection">
                                        <i class="fas fa-times">
                                        </i> Close
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </form>

            </div>
        </div>


    </div>


</div>