
<div class="content-header">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light"> Process Type
        <div class="ml-2 descr"> Process Type Description </div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Configuration</a></li>
        <!-- <li class="breadcrumb-item">Textile-Garments</li> -->
        <li class="breadcrumb-item active" aria-current="page">Process Type</li>
      </ol>
    </div>

  </div>
</div>



<div class="card ibox-content">
  <div class=" panel blank-panel">

    <div class="panel-heading">

      <div class="row mb-3">
        <div class="col-md-6 ">
          <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2 ">
            <i class="fas fa-anchor fa-fw mr-2"></i>{{listCount}}</button>
            <span class="text-muted text2">Process</span>
        </div>
        <div class="col-md-6 mrg-tsm">
          <button type="button" class="btn btn-primary btn-md float-right" (click)="addProcessTypeForm()">
            <i class="fa fa-plus"></i> Add Process Type</button>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12 mb-4">
          <div class="row justify-content-end">
            <div class=" col-md-4">
              <div class="input-group col-md-offset-3">
                <input type="text" placeholder="Search by Process Type... " class="input form-control w-50"
                  (keyup)="updateFilter($event)">
              </div>
            </div>
            <div class="html5buttons mrg-tsm">
              <div class="dt-buttons btn-group ">
                <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>Copy</span></a>
                <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"><span>CSV</span></a>
                <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
                  (click)="exportAsXLSX()"
                  ><span>Excel</span></a>
                <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
                  (click)="generatePDF()"
                  ><span>PDF</span></a>
                <a class="btn btn-default buttons-print bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
                  (click)="printPdf()"
                  ><span>Print</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="panel-body">

        <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'id', dir: 'asce'}]" [rowHeight]="'auto'"
          [limit]="6">

          <ngx-datatable-column name="S. No." [width]="5" prop="id">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row.id}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Process Type" [width]="40" prop="type">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.type}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Details" [width]="20">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.description}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" [width]="10">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
             
              <span class="badge badge-primary" *ngIf="row.active==true">Active</span>
              <span class="badge badge-secondary" *ngIf="row.active==false">Inactive</span>

            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Last Changed On | Updated By" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.updatedDateTime}} | {{row.updatedByName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              

              <div class="ibox-tools text-center">
                <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Edit" (click)="editProcessTypeForm(row)">
                  <i class="far fa-edit "></i>
                </button>
                <button type="button" class="btn deleteIconBack" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Delete" (click)="deleteProcess(row)">
                  <i class="far fa-trash-alt"></i>
                </button>
              </div>
              

            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>

    </div>
    
  </div>
  </div>