<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade"
 [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="far fa-edit fa-fw"></i>
    Edit Currency Rate
  </h5>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate (ngSubmit)="UpdateCurrency(addAgentForm)">

    <div class="row justify-content-center">
      <div class="col-10 col-md-11 pt-3 pb-2">
    
        <div class="form-group row">
          <label for="validFrom" class="col-md-3 col-form-label control-label text_Navy">Form Validity<span
              class="required-denote">*</span></label>
    
          <div class="col-md-8">
            <!-- <input required id="validFrom" type="date"  value="validForm" class="form-control" placeholder="Date" name="validFrom"
              [(ngModel)]="data.validFrom" #validFrom="ngModel" [ngClass]="{'error': validFrom.invalid && addAgentForm.submitted}"> -->
    
            <input navigation="select" class="form-control  " ngbDatepicker #validityDate3="ngbDatepicker"
              (click)="validityDate3.toggle()" name="validityDate3" placeholder="" name="validFrom"
              [(ngModel)]="data.validFrom" #validFrom="ngModel" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="code" class="col-md-3 col-form-label control-label text_Navy">Currency Code
            <span class="required-denote">*</span>
          </label>
          <div class="col-md-8">
            <input appAutofocus required id="currencyCode" type="text" class="form-control" placeholder="Code"
              name="currencyCode" [(ngModel)]="data.currencyCode" #currencyCode="ngModel"
              [ngClass]="{'error': currencyCode.invalid && addAgentForm.submitted }">
          </div>
        </div>
    
        <div class="form-group row">
          <label for="code" class="col-md-3 col-form-label control-label text_Navy">Rate <span
              class="required-denote">*</span>
          </label>
          <div class="input-group col-md-8">
            <input required id="rate" type="text" class="form-control" placeholder="Rate" name="rate"
              [(ngModel)]="data.rate" #rate="ngModel" [ngClass]="{'error': rate.invalid  && addAgentForm.submitted }">
            <!-- <span class="rate">= 1 USD</span> -->
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">= 1 USD</span>
            </div>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="details" class="col-md-3 col-form-label">Details</label>
          <div class="col-md-8">
            <textarea class="form-control" id="details" rows="3" name="details" [(ngModel)]="data.details"
              #details="ngModel"></textarea>
          </div>
        </div>
    
      </div>
    </div>



    <div class="modal-footer NotBG pr-md1"> 
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">Close</button>
      <button class="btn button-save" type="submit">
        Update Rate
      </button>
    </div>
  </form>
</div>