<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header" >
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="id != null ">
    <h5 class="modal-title">
      <i class="far fa-edit fa-fw"></i>
      Edit Code
    </h5>
  </div>
  <div *ngIf="id == null ">
    <h5 class="modal-title">
      <i class="fa fa-plus fa-fw"></i>
     Add Code
    </h5>
  </div>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate>

    <div class="row justify-content-center">
      <div class="col-10 col-md-11 pt-3 pb-2">
    
        <div class="form-group row" >
          <label for="code" class="col-md-3 col-form-label control-label text_Navy">Seller Name
              <!-- <span
              class="required-denote">*</span> -->
             </label>
          <div class="col-md-8">
            <input disabled type="text" class="form-control"
              placeholder="Seller name" name="sellerName" [(ngModel)]="mapping.sellerName" #sellerName="ngModel"
           >
          </div>
        </div>
    
    
        <div class="form-group row">
          <label for="details" class="col-md-3 col-form-label text-grey">Code</label>
          <div class="col-md-8">
            <input  type="text" class="form-control"
            placeholder="Enter Code" name="accountCode" [(ngModel)]="mapping.accountCode" #accountCode="ngModel"
         >
          </div>
        </div>

        <div class="form-group row">
          <label for="details" class="col-md-3 col-form-label text-grey">Party_Coa</label>
          <div class="col-md-8">
            <input  type="text" class="form-control"
            placeholder="Enter Party_Coa" name="party_Coa" [(ngModel)]="mapping.party_Coa" #party_Coa="ngModel"
         >
          </div>
        </div>

        <div class="form-group row">
          <label for="details" class="col-md-3 col-form-label text-grey">Sale_Tax_Coa</label>
          <div class="col-md-8">
            <input  type="text" class="form-control"
            placeholder="Enter Sale_Tax_Coa" name="sale_Tax_Coa" [(ngModel)]="mapping.sale_Tax_Coa" #sale_Tax_Coa="ngModel"
         >
          </div>
        </div>
    
        <!-- <div class="form-group row">
          <label for="active" class="col-md-3 col-form-label text-grey"></label>
          <div class="col-md-8">
            <div class="form-check form-check-inline">
              <input class="form-check-input check-btn " id="active" *ngIf="statusCheck == 'add'" id="active"
                type="checkbox" name="active" [(ngModel)]="active">
              <label for="active" *ngIf="statusCheck == 'add'" class="form-check-label text-grey">Marked as Active</label>
    
              <input class="form-check-input check-btn " *ngIf="statusCheck == 'edit'" id="active" type="checkbox"
                name="active" [(ngModel)]="active">
              <label for="active" *ngIf="statusCheck == 'edit'" class="form-check-label text-grey">Marked as Active</label>
           
            </div>
          </div>
        </div> -->
      </div>
    </div>

    <div class="modal-footer NotBG">

      <button *ngIf="id == null " class="btn button-save" type="submit" (click) = "addCode()" >
        Add Code
      </button>
      <button *ngIf="id != null " class="btn button-save" type="submit" (click) = "updateCode()">
        Update Code
      </button>

    </div>

  </form>
</div>