<!-- Modal -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="modal-header">
  <button type="button" class="close text-white" aria-label="Close" (click)="activeModal.dismiss()">
    <span style="color: black" aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="far fa-building"></i>
    Select Contract Number
  </h5>
  <p class="center">Click to select Contract</p>
</div>

<div class="modal-body BG p-0">
  <form #buyerEditForm="ngForm" class="justify">

    <div class="col-md-12 pt-3 pb-2">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Bank Account..." name="contractNo" 
        #contractNo = "ngModel" [(ngModel)] = "data.contractNo" (keyup)="ContractsDropdown()"
        >
        <div class="input-group-append">
          <button class="btn btn-primary" type="button"  (click)="ContractsDropdown()" >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>

      <div class="faq-item shadow-sm"   *ngFor="let obj of bankAcc ; let x = index" (click) = "Save(obj)">
        <div class="row"   >


          <div class="col-md-7, color" >

            <a class="faq-question "></a>


            <!-- <div  *ngIf = "bankAcc.contractNumber == null">
            <h5 > <b>Contract Number:</b>  {{autoContractNumbr}}</h5>
            <span ><b>Buyer Name:</b>&nbsp;{{buyerName}} &nbsp;&nbsp;</span><br>
            <p > <b>Seller Name:</b> &nbsp;{{sellerName}}</p>
          </div> -->
            <h5 > <b>Contract Number:</b> {{obj.autoContractNumber}}</h5>
            <span ><b>Buyer Name:</b>&nbsp;{{obj.buyerName}} &nbsp;&nbsp;</span><br>
            <p > <b>Seller Name:</b> &nbsp;{{obj.sellerName}}</p>
           <br>
          </div>


        </div>
      </div>

    </div>

    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit" >
Save
      </button>
    </div>


  </form>
</div>