<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Buyer to Seller Payment Form
                <div class="ml-2 descr"> Fill and save all the Buyer payment details.
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Buyer Payments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add New Payments</li>
            </ol>
        </div>

    </div>
</div>

<div class="card ibox-content">


    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Buyer Payment Form</h4>

        <div class="card-tools">
            <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
              <i class="fas fa-sync-alt"></i>
            </button> -->

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button> -->
        </div>
    </div>


    <div class="card-body p-0">

        <div class="row">
            <div class="col-md-12 p-3">
                <!-- <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="row">
                                <div class="col-md-12"> -->

                                    <!-- <div class="nav nav-pills " id="nav-tab" role="tablist">

                                        <a class="nav-item nav-link active " id="nav-Details-tab" data-toggle="tab"
                                            href="#nav-parties" role="tab" aria-controls="nav-Details"
                                            aria-selected="true">Parties</a>

                                        <a class="nav-item nav-link " id="nav-payment-tab" data-toggle="tab"
                                            href="#nav-payment" role="tab" aria-controls="nav-payment"
                                            aria-selected="false">Payment Detials &nbsp;</a>

                                        <a class="nav-item nav-link " id="nav-sale-tab" data-toggle="tab"
                                            href="#nav-sale" role="tab" aria-controls="nav-sale"
                                            aria-selected="false">Sale Invoices &nbsp;</a>

                                        <a class="nav-item nav-link " id="nav-remarks-tab" data-toggle="tab"
                                            href="#nav-remarks" role="tab" aria-controls="nav-remarks"
                                            aria-selected="false">Remarks / Other Conditions &nbsp;</a>
                                    </div> -->
<!-- 
                                </div>
                            </div>
                        </nav>
                    </div>
                </div> -->


            

                <!-- <div class="tab-content" id="nav-tabContent"> -->

                    <div class="form-row ">
                        <div class="col-md-12 pt-2r pb-3">
                            
                            <div class="col-md-12">
                                <span class="badge badge-primary"> Parties</span>
                            </div>

                        </div>
                    </div>
                    <!-- <div class="tab-pane fade show active" id="nav-parties" role="tabpanel" aria-labelledby="nav-parties-tab"> -->
                        <form #enquiryForm="ngForm" novalidate>
                    
                         
                    
                                <div class="form-group row">
                                    <label for="inputEmail3" class=" col-md-2 col-form-label control-label">Buyer Name</label>
                    
                                    <div class="col-md-8">
                    
                                        <ng-select name="buyerId" #buyerId="ngModel" class="input-w px-0" [(ngModel)]="data.buyerId"
                                        placeholder="-- Select --">
                                        <ng-option *ngFor="let i of buyer" [value]="i.id">{{ i.buyerName }}
                                        </ng-option>
                                    </ng-select>
                    
                    
                                    <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                        Only Parent Buyer is available for selection
                                    </small>
                                    </div>
                                </div>


                    
                                <div class="form-group row">
                                    <label for="inputEmail3" class=" col-md-2 col-form-label control-label">Supplier Name</label>

                                    <div class="col-md-8">
                                    
                                        <ng-select name="sellerId" #sellerId="ngModel" class="input-w px-0" [(ngModel)]="data.sellerId"
                                        placeholder="-- Select --">
                                        <ng-option *ngFor="let i of seller" [value]="i.id">{{ i.sellerName }}
                                        </ng-option>
                                    </ng-select>
                                    
                                        <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                            Only Parent Supplier is available for selection
                                        </small>
                                    
                                    </div>
                    
                                </div>
                    
                            
                    
                        </form>
                    <!-- </div> -->



                    <!-- tab 2 -->
                  
                    <div class="form-row border-top">
                        <div class="col-md-12 pt-2r pb-3">
                            
                            <div class="col-md-12">
                                <span class="badge badge-primary"> Payment Details</span>
                            </div>

                        </div>
                    </div>
                    
                        <div class="col-md-12">
                    
                            <div class="form-group row">
                                <label for="name" class="col-md-2 col-form-label">Payment Date</label>
                                <div class="col-sm-8">
                                    <input navigation="select" class="form-control" ngbDatepicker #validityDate="ngbDatepicker"
                                        (click)="validityDate.toggle()" placeholder="" [(ngModel)]="data.paymentDate"
                                        name="paymentDate" />
                                </div>
                            </div>
                    
                            <div class="form-group row">
                    
                                <label for="inputEmail3" class="col-form-label col-sm-2 control-label ">Amount</label>
                    
                                <div class="col-md-8">
                                    <div class="row">
                    
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="number" min="0" placeholder="Comm%" #amount="ngModel"
                                                    class="form-control" [(ngModel)]="data.amount"
                                                    name="amount">
                                            </div>
                                        </div>
                    
                                        <div class="col-md-3 mrg-sm1">
                    
                                            <ng-select name="currencyId " #currencyId="ngModel"
                                                [(ngModel)]="data.currencyId" placeholder="Select Currency">
                                                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
                    
                                        </div>
                    
                                        <div class="col-md-6 mrg-sm1">
                                            <div class="row">
                                                <label for="inputEmail3" class="col-form-label col-sm-4 control-label ">Payment
                                                    Mode</label>
                    
                    
                                                <div class="col-md-8 mrg-sm1">
                    
                                                    <ng-select name="paymentMode " 
                                                        [(ngModel)]="data.paymentMode" placeholder="Select Payment Mode">
                                                        <ng-option *ngFor="let i of paymentMode" [value]="i">{{ i }}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                            </div>
                    
                    
                            <div class="form-group row">
                                <label for="name" class="col-md-2 col-form-label">Additional Details</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="additionalDetails" placeholder="Additional details..."
                                    [(ngModel)]="data.additionalDetails"
                                    />
                                    <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                        Only Parent Supplier is available for selection
                                    </small>
                                </div>
                            </div>
                    
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label  ">Deposite Date</label>
                                <div class="col-md-8">
                                    <input navigation="select" class="form-control" ngbDatepicker #validityDate1="ngbDatepicker"
                                    (click)="validityDate1.toggle()" placeholder="" [(ngModel)]="data.depositeDate"
                                    name="depositeDate" />
                                </div>
                            </div>
                    
                            <div class="form-group row">
                                <label for="number" class="col-sm-2 col-form-label  ">Tax Challan</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="number" placeholder="Tax Challan Number"
                                    [(ngModel)] = "data.taxChalan"
                                    />
                                </div>
                            </div>
                    
                        </div>



<!-- sale Invoice -->
<div class="form-row border-top">
    <div class="col-md-12 pt-2r pb-3">
        
        <div class="col-md-12">
            <span class="badge badge-primary">Sale Invoices</span>
        </div>

    </div>
</div>
                        <div class="panel-body">

                            <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                                [sorts]="[{prop: 'code', dir: 'asce'}]" [rowHeight]="'auto'" [limit]="6">

                                <ngx-datatable-column name="Action" [width]="40">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                                        <div class="ibox-tools text-center">

                                            <button type="button" class="btn editIconBack">
                                                <i class="far fa-edit "></i>
                                            </button>

                                            <button type="button" class="btn deleteIconBack">
                                                <i class="far fa-trash-alt"></i>
                                            </button>

                                        </div>

                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Pay ID" [width]="80" prop="name">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.name}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Parent Buyer" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>



                                <ngx-datatable-column name="Parent Seller" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>



                                <ngx-datatable-column name="Payment Date" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>




                                <ngx-datatable-column name="Amount" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>



                                <ngx-datatable-column name="Pay Mode" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>



                                <ngx-datatable-column name="Cheque #" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>


                                <ngx-datatable-column name="Challan Reqd." [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>



                                <ngx-datatable-column name="Challan Amount (Exp)." [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>


                                <ngx-datatable-column name="Challan Amount (Act)." [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>

                        </div>


                        <div class="form-row border-top">
                            <div class="col-md-12 pt-2r pb-3">
                                
                                <div class="col-md-12">
                                    <span class="badge badge-primary">Remarks</span>
                                </div>
                        
                            </div>
                        </div>
                        <div class="col-md-12">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-2 col-form-label control-label">Remarks:</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <textarea rows="3" class="form-control" [(ngModel)]="data.remarks"
                                            name="remarks"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
 

  <div class="row p-4">
    <div class="col-md-6 offset-md-3">
        <button type="button"  class="btn button-save " (click) = "addPayment()" (click)="navigateBuyerPaymentForm()">
            <i class="fas fa-check"></i>&nbsp;Save 
        </button>
        <button class="btn btn-outline-secondary  ml-2" (click)="navigateBuyerPaymentForm()" >
            <i class="fas fa-times">
            </i> Close
        </button>
        </div>
        </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>