<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>
<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Buyer to Seller Payment Form
                <div class="ml-2 descr"> Fill and save all the Buyer payment details.
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Buyer Payments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add New Payments</li>
            </ol>
        </div>

    </div>
</div>

<div class="card ibox-content">


    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Buyer Payment Form</h4>

        <div class="card-tools">
            <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
              <i class="fas fa-sync-alt"></i>
            </button> -->

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button> -->
        </div>
    </div>


    <div class="card-body p-0">

        <div class="row">
            <div class="col-md-12 p-3">






                <form #enquiryForm="ngForm" novalidate>


                    <div class="pt-4 pb-4">

                        <div class="mb-3">
                            <span class="badge badge-primary"> Parties</span>
                        </div>


                        <div class="form-group row">
                            <label for="inputEmail3" class=" col-md-3 col-form-label control-label">Buyer Name</label>

                            <div class="col-md-7">

                                <ng-select name="buyerId" #buyerId="ngModel" [(ngModel)]="data.buyerId" (change)="buyerNameChange($event)"
                                    placeholder="-- Select --">
                                    <ng-option *ngFor="let i of buyer" [value]="i.id">{{ i.buyerName }}
                                    </ng-option>
                                </ng-select>


                                <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                    Only Parent Buyer is available for selection
                                </small>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="inputEmail3" class=" col-md-3 col-form-label control-label">Supplier
                                Name</label>

                            <div class="col-md-7">
 
                                <ng-select name="sellerId" #sellerId="ngModel" class="" [(ngModel)]="data.sellerId" (change)="sellerNameChange($event)"
                                    placeholder="-- Select --">
                                    <ng-option *ngFor="let i of seller" [value]="i.id">{{ i.sellerName }}
                                    </ng-option>
                                </ng-select>

                                <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                    Only Parent Supplier is available for selection
                                </small>

                            </div>

                        </div>

                    </div>


                </form>


                <!-------------- -------------->


                <div class="form-row border-top">
                    <div class="col-md-12 pt-4 pb-4">

                        <div class="mb-3">
                            <span class="badge badge-primary"> Payment Details</span>
                        </div>



                        <div class="form-group row">
                            <label for="name" class="col-md-3 col-form-label">Payment Date</label>
                            <div class="col-md-7">
                                <input navigation="select" class="form-control" ngbDatepicker
                                    #validityDate="ngbDatepicker" (click)="validityDate.toggle()" placeholder=""
                                    [(ngModel)]="data.paymentDate" name="paymentDate" />
                            </div>
                        </div>

                        <div class="form-group row">

                            <label for="inputEmail3" class="col-form-label col-md-3 control-label ">Amount</label>

                            <div class="col-md-7">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="number" min="0" [readonly]="isAmountDisabled" placeholder="Comm%" #amount="ngModel" (change)="onBlurMethod(data.amount)" (keyup)="amountCall($event)"
                                                class="form-control" [(ngModel)]="data.amount" name="amount">
                                        </div>
                                    </div>

                                    <div class="col-md-3 mrg-sm1 mrg-tp">

                                        <ng-select name="currencyId " #currencyId="ngModel"
                                            [(ngModel)]="data.currencyId" placeholder="Select Currency">
                                            <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.name }}
                                            </ng-option>
                                        </ng-select>

                                    </div>

                                    <div class="col-md-6 mrg-sm1">
                                        <div class="row">
                                            <label for="inputEmail3"
                                                class="col-form-label col-md-5 control-label ">Payment
                                                Mode</label>


                                            <div class="col-md-7 mrg-sm1">

                                                <ng-select name="paymentMode " [(ngModel)]="data.paymentMode"
                                                    placeholder="Select Payment Mode">
                                                    <ng-option *ngFor="let i of paymentMode" [value]="i">{{ i }}
                                                    </ng-option>
                                                </ng-select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label for="name" class="col-md-3 col-form-label">Additional Details</label>
                            <div class="col-md-7">
                                <input class="form-control" type="text" name="additionalDetails"
                                    placeholder="Additional details..." [(ngModel)]="data.additionalDetails" />
                                <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                    Cheque, DD, TT etc. number
                                </small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="name" class="col-md-3 col-form-label  ">Deposite Date</label>
                            <div class="col-md-7">
                                <input navigation="select" class="form-control" ngbDatepicker
                                    #validityDate1="ngbDatepicker" (click)="validityDate1.toggle()" placeholder=""
                                    [(ngModel)]="data.depositeDate" name="depositeDate" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="number" class="col-md-3 col-form-label  ">Tax Challan</label>
                            <div class="col-md-3">
                                <input class="form-control" type="number" placeholder="Tax Challan Number" (keyup)="taxCalculated($event)"
                                    [(ngModel)]="data.taxChalan" />
                            </div>
                            <label for="number" class="col-md-1 col-form-label  ">Rs:{{calculatedTax}}</label>
                        </div>

                    </div>
                </div>


                <!-------------- -------------->


                <div class="row border-top">
                    <div class="col-md-12 pt-4 pb-4">

                        <div class="mb-3">
                            <span class="badge badge-primary">Sale Invoices</span>
                        </div>


                        <div class="panel-body">
                                  {{result}}
                            <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows"
                                [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
                             
                              
                                [sorts]="[{prop: 'code', dir: 'asce'}]" [rowHeight]="'auto'" [limit]="6">



                                <ngx-datatable-column name="S. No#" [width]="80" prop="saleInvoiceNo">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.saleInvoiceNo}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column name="Date" [width]="80" prop="saleInvoiceDateToDisplay">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.saleInvoiceDateToDisplay}}
                                    </ng-template>
                                </ngx-datatable-column>
                                

                                <ngx-datatable-column name="Invoice Amount" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.saleInvoiceAmount}}
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column
                               

                                
                              > 
                              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                <div>
                                    <label class="checkbox-container">
                                    <input type="checkbox" (change)="onSelect($event,row)">
                                    <span class="check"></span>
                                  </label>
                                </div>
                                <!-- <input type="checkbox"  class="checkbox-lg" (change)="onSelect($event,row)" > -->
                            </ng-template>
                            </ngx-datatable-column>

                            <ngx-datatable-column name="Received Amount" [width]="80" prop="receivedAmount">
                                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                    {{row.receivedAmount}}
                                </ng-template>
                            </ngx-datatable-column> 

                                 <ngx-datatable-column name="Tax Challan" [width]="80" prop="taxChallan">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.taxChallan}}
                                    </ng-template>
                                </ngx-datatable-column> 

                               

                            </ngx-datatable>

                        </div>

                    </div>
                </div>



                <!-------------- -------------->

                <div class="row border-top">
                    <div class="col-md-12 pt-4 pb-4">

                        <div class="mb-3">
                            <span class="badge badge-primary">Remarks</span>
                        </div>




                        <div class="form-group row">
                            <label for="inputEmail3" class="col-md-3 col-form-label control-label">Remarks:</label>
                            <div class="col-md-7">
                                <div class="input-group">
                                    <textarea rows="3" class="form-control" [(ngModel)]="data.remarks"
                                        name="remarks"></textarea>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>








                <div class="row p-4">
                    <div class="col-md-12 text-center">
                        <button type="button" class="btn button-save " (click)="addPayment()"
                            (click)="navigateBuyerPaymentForm()">
                            <i class="fas fa-check"></i>&nbsp;Save
                        </button>
                        <button class="btn btn-outline-secondary  ml-2" (click)="navigateBuyerPaymentForm()">
                            <i class="fas fa-times">
                            </i> Close
                        </button>
                    </div>
                </div>




            </div>
        </div>
    </div>
</div>