
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="content-header">

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h5 class="row wrapper page-header font-weight-light">Active Bills
          <div class="ml-2 descr">Contract Bills. Awating for payments . Default last 90 days record displayed</div>
        </h5>
      </div>
  
    </div>



    
        
    
      

  </div>

<!--Start Info boxes -->
<div class="row mb-1">

  <div class="col-md-3">
    <div class="widget style1 yellow-bg  ">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-file-invoice-dollar fa-4x"></i>
        </div>
        <div class="col-md-8 text-right">
          <div> Active Bills </div>
          <h6 class="font-bold">{{data.activeBillCount}}<p class="topbox-small-text">&nbsp;</p></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="widget style1 bg-secondary shadow">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-wallet fa-4x"></i>
        </div>
        <div class="col-md-8 text-right">
          <div> Total Amount </div>
          <h6 class="font-bold">{{data.totalAmount}} <p class="topbox-small-text">Rs./$</p></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="widget style1 bg-info shadow">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-hand-holding-usd fa-4x"></i>
        </div>
        <div class="col-md-8 text-right">
          <div> Balance Amount </div>
          <h6 class="font-bold">{{data.balanceAmount}}<p class="topbox-small-text">Rs./$</p></h6>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="widget style1 bg-success shadow">
      <div class="row">
        <div class="col-md-4">
          <i class="fa fa-calculator fa-4x"></i>
        </div>
        <div class="col-md-8 text-right">
          <div> Tax Amount </div>
          <h6 class="font-bold">{{data.taxAmount}} <p class="topbox-small-text">Rs./$</p></h6>
        </div>
      </div>
    </div>
  </div>


</div>
<!--End Info boxes -->


  <div class="card ibox-content">
    <div class="panel blank-panel">
      
      <div class="panel-heading">

        <div class="row mb-1 p-2">

          <div class= "col-md-1 ">
              <span class="date-Label text_Navy">From:</span>
          </div>      
          <div class="col-md-3">
              <input  navigation="select" class="form-control"  ngbDatepicker #startDate="ngbDatepicker"
              (click)="startDate.toggle()"  
              name="toDate" [(ngModel)] = "data2.toDate"  #toDate="ngModel"
              placeholder="Start Date">
          </div>   

          <div class= "col-md-1 ">
            <span class="date-Label text_Navy"> To: </span>
    
     
        </div>  
        <div class="col-md-3">
          <input  navigation="select" class="form-control  " ngbDatepicker #endDate="ngbDatepicker"
          (click)="endDate.toggle()"   name="FromDate" [(ngModel)] = "data2.FromDate"  #FromDate="ngModel" placeholder="End Date">
      </div>  
      <div class="col-md-2">  <button type="button" class="btn btn-primary" (click) = "fetch()" ><i class="fa fa-search"></i>Go!
      </button></div> 
      <div class="col-md-2"> <button type="button" class="btn btn-primary btn-sm float-right" (click)="getSelectedRowData()">
          <i class="fa fa-print"></i> Bulk Print
        </button></div>
      </div>
     
        <!-- <div class="row mb-4 justify-content-center">
          <div class="col-auto">
            <button type="button" class="btn btn-primary btn-sm float-right"  
           (click) = "getSelectedRowData()"
            >
              <i class="fa fa-print"></i> Bulk Print
            </button>
       
          </div>
          <form>
            <div class="form-row">
        
          
              <div class="col-auto">
           
              </div>
            </div>
          </form>
        </div> -->
      </div>


<!--Start panel body -->     
<div class="card shadow">
 
      <div class="panel-body">
        <kendo-grid
        [kendoGridBinding]="rows"
        kendoGridSelectBy="id"
        [selectedKeys]="mySelection"
        [pageSize]="20"
        [pageable]="true"
        [sortable]="true"
        [reorderable]="true"
        [resizable]="true"
        [height]="450"
        [pageable]="true"
        [filterable]="true"
      
        >
        <ng-template kendoGridToolbarTemplate>
          <!-- <p class="col-md-3  totalAmnt">Total Amount : <span>  &nbsp;  &nbsp; {{dashboardAmnt}} </span></p> -->
          <input placeholder="Search in all columns..." class="col-md-3 form-control" #newItem kendoTextBox (input)="onFilter(newItem.value)"/>
          <h5> <span class="col-md-12 badge badge-info">Total Amount : {{dashboardAmnt}}</span></h5>
            <kendo-grid-spacer></kendo-grid-spacer>
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="row justify-content-end">
                  <div class="html5buttons mrg-tsm">
                    <div class="dt-buttons btn-group btn-group-sm">
                      <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0" aria-controls="DataTables_Table_0"
                       (click)="copyBillsList()" ngxClipboard><span>Copy</span>
                      </a>
                      <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                      (click)="activeBillsCsvFile()" 
                      aria-controls="DataTables_Table_0"><span>CSV</span></a>
                      <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                      (click)="activeBillsExcelFile()"  
                      aria-controls="DataTables_Table_0"><span>Excel</span></a>
                      <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                      (click)="ActiveBillsListPdf()"  
                      aria-controls="DataTables_Table_0"><span>PDF</span></a>
                      <a class="btn btn-default buttons-print bg-white" tabindex="0"
                      (click)="printActiveBillsList()"  
                      aria-controls="DataTables_Table_0"><span>Print</span></a>
                    </div>
                  </div>
            
                </div>
            
              </div>
            </div>
        </ng-template>
        <kendo-grid-checkbox-column [width]="35" [headerClass]="{'text-center': true}"  [class]="{'text-center': true}" [resizable]="false" [columnMenu]="false" [showSelectAll]="true"></kendo-grid-checkbox-column>
        
            <kendo-grid-column field="sellerName" title="Bill For" [width]="120" [headerClass]="'customiconforgrid'">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <p *ngIf = "dataItem.sellerName !=null">Seller </p>
                    <p *ngIf = "dataItem.buyerName !=null">Buyer </p>
                </ng-template>
            </kendo-grid-column>
        
            <kendo-grid-column field="buyerName" title="Bill To" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.sellerName}}  <br>  {{dataItem.buyerName}}
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="billNumber" title="Bill #" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.billNumber}}
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="autoContractNumber" title="Contract #" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <button class="clr" (click) = "navigateEditContract(dataItem)" >
                  {{dataItem.autoContractNumber}}
                </button>
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="billGeneratedDateTime" title="Bill Date" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.billGeneratedDateTime}}
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="saleInvoiceNo" title="No.Sale Inv" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.saleInvoiceNo}}
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="billAmount" title="Bill Amount" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.billAmount}}
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column [headerClass]="'customiconforgrid'" field="taxAmount" title="Tax Amount" *ngIf = "loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import' && loggedInDepartmentName != 'Fabric Export' " [width]="120">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.taxAmount}}%
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="billStatus" title="Status" [width]="120" [headerClass]="'customiconforgrid'">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="badge badge-primary"> {{dataItem.billStatus}}</span>
              </ng-template>
              
            </kendo-grid-column>
            <kendo-grid-column field="action" title="Action" [width]="120"  [filterable]="false">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="ibox-tools text-center">
                  <button type="button" class="btn editIconBack px-1 py-1" data-toggle="tooltip" data-placement="top" title=""
                    data-original-title="open" (click)="navigateOpenBill(dataItem)"><i class="far fa-edit"></i></button>
                  <button type="button" class="btn editIconBack px-1 py-1" data-toggle="tooltip" data-placement="top" title=""
                    (click)="navigatePaymentForm('addPayment' , dataItem)"><i class="fas fa-money-check-alt"></i></button>
                </div>
              </ng-template>
              
            </kendo-grid-column>
        </kendo-grid>
       
      </div>
  
</div>
    </div>
    </div>




    
