:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  /* animation: horizontal 2s ease infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: horizontal;
} */