<div >
    <div >
        <h2 style="margin: auto;">Please Login in First</h2>
        <h3 *ngIf='message'>
{{message}}
        </h3>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">UserName:</label>
                <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
                <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Please Enter UserName</div>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" formControlName="password" id="passworde" autocomplete="off">
                    <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Please Enter Password</div>
                </div>
                <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
                <div *ngIf="invalidLogin" class="error">
                    <div>Invalid Credentials, Try again!</div>
                </div>
        </form>
  
