<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="fa fa-anchor fa-fw"></i>
    Add New Article
  </h5>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate (ngSubmit)="addArticle(addAgentForm)">

    <div class="col-md-12 py-3">

      <div class="form-group row" [class.has-error]="code.invalid ">
        <label for="code" class="col-sm-3 col-form-label control-label text-grey">Article Code </label>

        <div class="col-sm-8">
          <input appAutofocus id="code" type="text" class="form-control" placeholder="Article Code" name="code"
            maxlength="50" [(ngModel)]="data.code" #code="ngModel" />
          <small>Standard code for the article</small>

        </div>
      </div>

      <div class="form-group row" [class.has-error]="name.invalid ">
        <label for="name" class="col-sm-3 col-form-label control-label text_Navy">Article name <span
            class="required-denote">*</span></label>

        <div class="col-sm-8">
          <input required id="name" type="text" maxlength="100" class="form-control" placeholder="Article name"
            name="name" [(ngModel)]="data.name" #name="ngModel"
            [ngClass]="{'error': name.invalid && addAgentForm.submitted }">

          <small>Add warp,weft,end,pick & width info in order</small>

        </div>
      </div>

      <div class="form-group row">
        <label for="genericName" class="col-sm-3 col-form-label text-grey">Generic Name</label>
        <div class="col-sm-8">
          <input id="genericName" type="text" maxlength="50" class="form-control" placeholder="Article generic name"
            name="genericName" [(ngModel)]="data.genericName" #genericName="ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-grey">Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="description" maxlength="300" rows="3"
            placeholder="Brief article description here ..." name="description" [(ngModel)]="data.description"
            #description="ngModel"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="active" class="col-sm-3 col-form-label text-grey"></label>
        <div class="col-sm-8">
          <div class="form-check form-check-inline">
            <input  class="form-check-input check-btn " type="checkbox" name="active" [(ngModel)]="active">
            <label for="active" class="form-check-label text-grey" id="active">Marked as Active</label>
          </div>
        </div>
      </div>

    </div>


    <div class="modal-footer NotBG">
      <button class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">Close</button>
      <button class="btn button-save" type="submit">
        Save Article
      </button>
    </div>
  </form>
</div>