<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>

  <h5 class="modal-title" *ngIf="statusCheck == 'add'">
    <i class="fas fa-clock"></i>
    Add Shipment Schedule
  </h5>
  <h5 class="modal-title" *ngIf="statusCheck == 'edit'">
    <i class="fas fa-clock"></i>
    Edit Shipment Schedule
  </h5>
</div>



<div class="modal-body BG p-0">
  <form #deliveryForm="ngForm" novalidate>

    <div class="col-md-12 pt-3 pb-2">

      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label text_Navy">Shipment No.
          <span class="required-denote">*</span>
        </label>
        <div class="col-sm-8">
          <input appAutofocus required type="text" class="form-control" id="shipmentNo" name="shipmentNo"
            [(ngModel)]="data.shipmentNo" #shipmentNo="ngModel"
            [ngClass]="{ 'error': deliveryForm.submitted &&  shipmentNo.invalid }" placeholder="Shipment Number Info" />
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy">Supplier Date</label><span
          class="required-denote">*</span>
        <div class="col-sm-8" (clickOutside)="validity.close()">
          <input navigation="select" class="form-control text_Navy " id="supplierDate" name="supplierDate" required
            [(ngModel)]="data.supplierDate" #supplierDate="ngModel" ngbDatepicker #validity="ngbDatepicker"
            [ngClass]="{ 'error': deliveryForm.submitted &&  supplierDate.invalid }" (click)="validity.toggle()"
            placeholder="Shipment date received from Supplier" />
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label ">Buyer Date</label><span
          class="required-denote">*</span>
        <div class="col-sm-8" (clickOutside)="validity2.close()">

          <input navigation="select" class="form-control" id="buyerDate" name="buyerDate" [(ngModel)]="data.buyerDate"
            required #buyerDate="ngModel" ngbDatepicker #validity2="ngbDatepicker" (click)="validity2.toggle()"
            [ngClass]="{'error': deliveryForm.submitted &&  buyerDate.invalid}"
            placeholder="Shipment date received from Buyer" />
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy">Shipment Line</label>
        <div class="col-sm-8">
          <ng-select placeholder="Select Shipment Line " class="text-center">
            <ng-option>
            </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy">Shipment Mode</label>
        <div class="col-sm-8">
          <ng-select [(ngModel)]="data.shipmentMode" placeholder="Select Shipment Mode" name="shipmentMode"
            #shipmentMode="ngModel">
            <ng-option *ngFor="let i of mode" [value]="i">{{ i }}</ng-option>
          </ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputEmail3" class="col-md-3 col-form-label
           control-label">Additional Note:</label>
        <div class="col-md-8">
          <textarea class="form-control" id="shipmentRemarks" name="shipmentRemarks" [(ngModel)]="data.shipmentRemarks"
            #shipmentRemarks="ngModel" rows="4" placeholder="Shipment plan additional details here..."
            name="remarks"></textarea>
        </div>
      </div>

    </div>


    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button *ngIf="statusCheck == 'add'" class="btn button-save" type="submit" (click)="addshipment(deliveryForm)">
        Save
      </button>

      <button *ngIf="statusCheck == 'edit'" class="btn button-save" type="submit"
        (click)="Updateshipment(deliveryForm)">
        Update Item
      </button>
    </div>

  </form>
</div>