<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title" *ngIf="statusCheck == 'addInvoice'">
      <i class="fa fa-plus"></i>
      Add New Sale Invoice
    </h5>
  
    <h5 class="modal-title" *ngIf="statusCheck == 'editInvoice'">
      <i class="fa fa-plus"></i>
      Edit Sale Invoice
    </h5>
  </div>
  
  <div class="modal-body BG p-0">
    <form #InvoiceForm="ngForm" novalidate>
  
      <div class="row justify-content-center">
        <div class="col-10 col-md-11 pt-3 pb-2">
      
      
          <div class="form-group row">
            <label for="saleInvoiceNo" class="col-md-3 col-form-label text_Navy">Sale Inv. No.</label>
            <div class="col-md-8">
              <input type="text" class="form-control" placeholder="Sale Invoice number" name="saleInvoiceNo"
                [(ngModel)]="data.saleInvoiceNo" #saleInvoiceNo="ngModel" />
            </div>
          </div>
      
      
          <div class="form-group row">
            <label for="saleInvoiceDate" class="col-md-3 col-form-label text_Navy">Sale Inv. Date</label>
            <div class="col-md-8" (clickOutside)="saleInvoiceDate.close()">
      
              <input navigation="select" class="form-control  " ngbDatepicker #saleInvoiceDate="ngbDatepicker"
                (click)="saleInvoiceDate.toggle()" placeholder="Sale Invoice date" name="saleInvoiceDate"
                [(ngModel)]="data.saleInvoiceDate" />
            </div>
          </div>
      
          <div class="form-group row" *ngIf="loggedInDepartmentName=='Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import'">
            <label for="contractArticleId" class="col-md-3 col-form-label">Article</label>
            <div class="col-md-8">
              <ng-select [(ngModel)]="data.contractArticleId" (change)="articleData($event)" #contractArticleId="ngModel"
                placeholder="Contract Articles" name="contractArticleId">
                <ng-option *ngFor="let i of articles" [value]="i.id">{{i.articleName}}</ng-option>
              </ng-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Yarn Export'  || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import'">
            <label for="contractArticleCommission" class="col-md-3 col-form-label text_Navy">Commission</label>
            <div class="col-md-3" *ngIf="loggedInDepartmentName!='Yarn Export'  && loggedInDepartmentName != 'Yarn Import Bangladesh' && loggedInDepartmentName!='Yarn Import'">
              <input min="0" #contractArticleCommission="ngModel" (keyup)="getquantity($event)"
                name="contractArticleCommission" [(ngModel)]="data.contractArticleCommission" class="form-control" value=""
                placeholder="Commission" />
            </div>
            <div class="col-md-3" *ngIf="loggedInDepartmentName=='Yarn Export'  || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import'">
              <input min="0" disabled #contractArticleCommission="ngModel" (keyup)="getquantity($event)"
                name="contractArticleCommission" [(ngModel)]="data.contractArticleCommission" class="form-control" value=""
                placeholder="Commission" />
            </div>
            <!-- <div class="col-md-4"> -->
      
            <label for="contractArticleRate" class="col-sm-1 col-form-label text_Navy">Rate</label>
            <div class="col-md-4" *ngIf="loggedInDepartmentName!='Yarn Export' && loggedInDepartmentName != 'Yarn Import Bangladesh'  && loggedInDepartmentName!= 'Yarn Import'">
      
              <input min="0" #quantity="ngModel" (keyup)="getquantity($event)" name="Article Rate"
                [(ngModel)]="data.contractArticleRate" class="form-control" value="" placeholder="contractArticleRate" />
            </div>
            <div class="col-md-4" *ngIf="loggedInDepartmentName=='Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import'">
      
              <input min="0" disabled #quantity="ngModel" (keyup)="getquantity($event)" name="Article Rate"
                [(ngModel)]="data.contractArticleRate" class="form-control" value="" placeholder="contractArticleRate" />
            </div>
            <!-- </div> -->
      
          </div>
      
      
      
          <div class="form-group row">
            <label for="quantity" class="col-md-3 col-form-label text_Navy">Quantity</label>
            <div class="col-md-3" *ngIf="loggedInDepartmentName!='Yarn Export' && loggedInDepartmentName != 'Yarn Import Bangladesh'  && loggedInDepartmentName!= 'Yarn Import'">
              <input min="0" #quantity="ngModel" (keyup)="getquantity($event)" name="quantity"
                [(ngModel)]="data.quantity" class="form-control" value="" placeholder="Quantity" />
            </div>
            <div class="col-md-3" *ngIf="loggedInDepartmentName=='Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import'">
              <input min="0" #quantity="ngModel" (keyup)="getArticleAmount($event)" name="quantity"
                [(ngModel)]="data.quantity" class="form-control" value="" placeholder="Quantity" />
            </div>
            <label for="quantity" class="col-md-1 col-form-label text_Navy">Unit</label>
      
            <div class="col-md-4" *ngIf="loggedInDepartmentName!='Yarn Local'">
      
      
              <ng-select (change)="getunit($event)" [(ngModel)]="data.unit" #unit="ngModel" placeholder="Unit" name="unit"
                required>
                <ng-option *ngFor="let i of uomList" [value]="i.id">{{i.name}}</ng-option>
              </ng-select>
      
            </div>
            <div class="col-md-4" *ngIf="loggedInDepartmentName=='Yarn Local'">
      
      
              <ng-select  [(ngModel)]="data.unit" #unit="ngModel" placeholder="Unit" name="unit"
                required>
                <ng-option *ngFor="let i of uomList" [value]="i.id">{{i.name}}</ng-option>
              </ng-select>
      
            </div>
          </div>
      
      
      
      
          <div class="form-group row"  *ngIf = "loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import Bangladesh'  && loggedInDepartmentName != 'Yarn Import'" >
            <label for="amount" class="col-md-3 col-form-label text_Navy">Amount</label>
            <div class="col-md-8">
      
              <input disabled type="text" class="form-control" placeholder="Invoice Amount" name="amount"
                [(ngModel)]="data.amount" #amount="ngModel" />
            </div>
          </div>
       
          <div class="form-group row"  *ngIf = "(loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import') &&  statusCheck == 'addInvoice' && active == false" >
            <label for="amount" class="col-md-3 col-form-label text_Navy">Amount</label>
            <div class="col-md-8">
      
              <input disabled type="text" class="form-control" placeholder="Invoice Amount" name="amount"
                [(ngModel)]="data.amount" #amount="ngModel" />
            </div>
          </div>
          <div class="form-group row"  *ngIf = "(loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import') &&  statusCheck == 'editInvoice' && data.isFob == false" >
            <label for="amount" class="col-md-3 col-form-label text_Navy">Amount</label>
            <div class="col-md-8">
      
              <input disabled type="text" class="form-control" placeholder="Invoice Amount" name="amount"
                [(ngModel)]="data.amount" #amount="ngModel" />
            </div>
          </div>
          <div class="form-group row" *ngIf="loggedInDepartmentName=='Yarn Local'">
            <label for="taxPercentage" class="col-md-3 col-form-label">Tax %</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-append">
                </div>
                <input type="text" placeholder="Invoice tax %age" class="form-control" [(ngModel)]="condition"
                  name="condition">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">%</span>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local' || loggedInDepartmentName=='Yarn Local Karachi'">
            <label for="taxPercentage" class="col-md-3 col-form-label">Tax %</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-append">
                </div>
                <input type="text" placeholder="Invoice tax %age" class="form-control" [(ngModel)]="data.taxPercentage"
                  name="taxPercentage" #taxPercentage="ngModel">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">%</span>
                </div>
              </div>
            </div>
          </div>


          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local'">
            <label for="taxPercentage" class="col-md-3 col-form-label">AD IncomeTax %</label>
            <div class="col-md-8">
              <div class="input-group">
                <div class="input-group-append">
                </div>
                <input type="text" placeholder="AD Invoice tax %" class="form-control" [(ngModel)]="data.adIncomeTaxFL"
                  name="adIncomeTaxFL" #adIncomeTaxFL="ngModel">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf = " (loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import') && data.isFob == true  ">
            <label for="saleInvoiceDate"  class="col-md-3 col-form-label text_Navy">FOB Value</label>
            <div class="col-md-8" >
      
              <input navigation="select" class="form-control" 
               placeholder="Enter FOB value"  name="fobValue" [(ngModel)] = "data.fobValue" #fobValue = "ngModel" (keyup) = "getFob($event)" />
            </div>
          </div>
         
          <div class="form-group row" *ngIf = "loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh' || loggedInDepartmentName == 'Yarn Import'">
            <label for="active" class="col-md-3 col-form-label text-grey"></label>
            <div class="col-md-8">
              <div class="form-check form-check-inline">
                <input class="form-check-input check-btn "  id="active"
                  type="checkbox"  name="active" [(ngModel)]="active"   (change)="checkValue($event)" >
                <label for="active"  class="form-check-label text-grey">Marked as Fob</label>
      
                
              </div>
            </div>
            </div>
          <div class="form-group row" *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import Bangladesh'  || loggedInDepartmentName == 'Yarn Import' ">
            <label for="saleInvoiceDate" class="col-md-3 col-form-label text_Navy">BL Date</label>
            <div class="col-md-8" (clickOutside)="blDate.close()">
      
              <input navigation="select" class="form-control  " ngbDatepicker #blDate="ngbDatepicker"
                (click)="blDate.toggle()" placeholder="BL Date" name="blDate"
                [(ngModel)]="data.blDate" />
            </div>
          </div>
          <div class="form-group row">
            <label for="saleInvoiceRemarks" class="col-md-3 col-form-label ">Remarks</label>
            <div class="col-md-8">
              <textarea name="saleInvoiceRemarks" rows="3" class="form-control"
                placeholder="Sale invoice additional details here..." name="saleInvoiceRemarks"
                [(ngModel)]="data.saleInvoiceRemarks" #saleInvoiceRemarks="ngModel"></textarea>
            </div>
          </div>

   
      
        </div>
      </div>
  
      <div class="modal-footer NotBG">
        <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
          (click)="activeModal.close()">
          Close
        </button>
        <button class="btn button-save" type="submit" (click)="onSubmit('addInvoice')"  *ngIf="statusCheck == 'addInvoice'">
          Save Sale Invoice
        </button>
        <button class="btn button-save" type="submit" (click)="onSubmit('editInvoice')" *ngIf="statusCheck == 'editInvoice'">
          Update Sale Invoice
        </button>
      </div>
  
    </form>
  </div>