<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">

            <h2 class="row wrapper page-header font-weight-light"> Block Details
                <div class="ml-2 descr"> Show all the details of business contract</div>
                <!-- <span class="ml-3 font-weight-light">{{contractData.buyerName}} </span> -->
                <!-- <span class="text-muted">(Block # {{contractData.autoContractNumber}} )</span> -->
                <!-- <span class="font-weight-bold float-right"><u>{{checkR}}</u></span> -->
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item "><a href="#">Active Block</a></li>
                <li class="breadcrumb-item active" aria-current="page">Block Details</li>
            </ol>
        </div>

    </div>
</div>

<section class="content">
    <div class="container-fluid">

        <div class="buttonOuter">
            <div class="row">

                <div class="col-md-3 firstediv ">
                    <span>(Block # 00001)</span>
                </div>
                <div class="col-md-7  "></div>
                <div class="col-md-2 text-right ">
                    <button class="btn btn-info border-rounded btn-sm" (click)="printS()" style="margin: 7px !important;">
                        <i class="fas fa-print"></i>
                        Print
                    </button>
                </div>

            </div>
        </div>

        <form #blockForm="ngForm" novalidate (ngSubmit)="editblock(blockForm)">
            <div class="card ibox-content">

                <div class="card-body p-0">

                    <div class="row">
                        <div class="col-md-12 p-3">

                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="pb-1">
                                        <span class="badge badge-primary">General Info</span>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 card-body ">

                                            <div class="row">
                                            <label class="col-md-2">To</label>
                                        <div class=" form-group col-md-9">
                                            <input type="text" placeholder="To" class="form-control text-w-4"
                                                #to="ngModel" [(ngModel)]="data.to" name="to">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-2">Attn</label>
                                        <div class="form-group col-md-9">
                                            
                                            <input type="text" placeholder="Attn" class="form-control text-w-4"
                                                #attention="ngModel" [(ngModel)]="data.attention" name="attention">
                                        </div>
                                    </div>


                                  <div class="row">
                                    <label class="col-md-3">Contract Date</label>
                                    <div class="form-group col-md-8">
                                        
                                        <div class="input-group date" (clickOutside)="validity.close()">

                                            <input navigation="select" placeholder="Contract Date"
                                                class="form-control " id="enquiryDate" name="enquiryDate" 
                                                [(ngModel)]="data.enquiryDate" #enquiryDate="ngModel" ngbDatepicker
                                                #validity="ngbDatepicker" (click)="validity.toggle()" />

                                            <div class="input-group-append" (click)="validity.toggle()">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>


                                    </div>
                                    <div class="form-group col-md-6 card-body ">

                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-md-3 col-form-label control-label">Buyer
                                                Name</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <ng-select name="buyerId"
                                                        #buyerId="ngModel" class="input-w px-0 col-md-12"
                                                        [(ngModel)]="data.buyerId" placeholder="-- Select --"
                                                        [ngClass]="{'error': buyerId.invalid && buyerId.touched,'not-error': buyerId.valid && buyerId.touched}"
                                                        required>
                                                        <ng-option *ngFor="let i of buyer" [value]="i.id">{{ i.buyerName }}
                                                        </ng-option>
                                                    </ng-select>
    
                                                    <!-- <div class="input-group-append">
                                                        <button class="btn btn-outline-primary" type="button"
                                                            id="button-addon2" (click)="addBuyerForm()">
                                                            <i class="fa fa-plus"></i></button>
                                                    </div> -->
    
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-md-3 col-form-label control-label">Supplier
                                                Name</label>
                                            <div class="col-md-9">
                                                <div class="input-group">
                                                    <ng-select name="sellerId"
                                                        #sellerId="ngModel" class="input-w px-0 col-md-12"
                                                        [(ngModel)]="data.sellerId" placeholder="-- Select --"
                                                        [ngClass]="{'error': sellerId.invalid && sellerId.touched,'not-error': sellerId.valid && sellerId.touched}"
                                                        required>
                                                        <ng-option *ngFor="let i of seller" [value]="i.id">{{ i.sellerName
                                                            }}
                                                        </ng-option>
                                                    </ng-select>
    
                                                    <!-- <div class="input-group-append">
                                                        <button class="btn btn-outline-primary" type="button"
                                                            id="button-addon2" (click)="addSellerForm()">
                                                            <i class="fa fa-plus"></i></button>
                                                    </div> -->
    
                                                </div>
                                            </div>
                                        </div>



                                    </div>
                                    </div>
                                </div>
                            </div>

                            <hr>


                  

                            <div class="card shadow mb-4">
                                <div class="card-body">


                                    <div class="pb-2 row">
                                        <div class="col-md-9"><span class="badge badge-primary">Quantity &
                                                Costing</span></div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-outline-primary btn-sm"
                                                style="text-align: end !important;" (click)="addArticle()"> Add Another
                                                Article</button>
                                        </div>
                                    </div>

                                    <div class="card-body" *ngFor="let a of Article; let i = index; let first=first" [ngClass]="{'my_class': a.isHide == true}" >
                                        <div class="form-group row">
                                            <label for="inputEmail3"
                                                class="col-md-1 col-form-label control-label">Article:</label>

                                            <div class="col-md-11">
                                                <div class="row">

                                                    <div class="col-md-4">

                                                        <div class="input-group">


                                                            <ng-select name="articleId_{{i}}" #articleId="ngModel"
                                                                class="input-w px-0 col-md-12" [(ngModel)]="a.articleId"
                                                                placeholder="-- Select --"
                                                                [ngClass]="{'error': articleId.invalid && articleId.touched,'not-error': articleId.valid && articleId.touched}"
                                                                required>
                                                                <ng-option *ngFor="let i of article" [value]="i.id">{{
                                                                    i.name }}
                                                                </ng-option>
                                                            </ng-select>
                                                        </div>
                                                    </div>





                                                    <div class="col-md-3">
                                                        <div class="input-group">
                                                            <input type="number" min="0" placeholder="quantity"
                                                                #quantity="ngModel" class="form-control"
                                                                [(ngModel)]="a.quantity" name="quantity_{{i}}">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"
                                                                    id="basic-addon2">per</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 mrg-tsm">
                                                        <ng-select [(ngModel)]="a.quantityUOM" placeholder="Select UOM"
                                                            name="quantityUOM_{{i}}">
                                                            <ng-option *ngFor="let i of uomList" [value]="i.id">{{
                                                                i.name }}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>

                                                    <div class="col-md-2 mrg-tsm">
                                                        <div class="input-group">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"
                                                                    id="basic-addon2">+/-</span>
                                                            </div>
                                                            <input type="text" placeholder="tolerance value."
                                                                class="form-control" [(ngModel)]="a.tolerance"
                                                                name="tolerance_{{i}}" #tolerance="ngModel">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"
                                                                    id="basic-addon2">%</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="rate"
                                                class="col-md-1 col-form-label control-label">Rate:</label>

                                            <div class="col-md-11">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <div class="input-group">
                                                            <input type="number" min="0" placeholder="Rate"
                                                                #rate="ngModel" class="form-control"
                                                                [(ngModel)]="a.rate" name="rate_{{i}}">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"
                                                                    id="basic-addon2">per</span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-2 mrg-tsm">
                                                        <ng-select [(ngModel)]="a.currencyId"
                                                            placeholder="Select Currency" name="currencyId_{{i}}">
                                                            <ng-option *ngFor="let i of currency" [value]="i.id">{{
                                                                i.code }}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>

                                                    <div class="col-md-2">

                                                        <div class="row">
                                                            <div class="col-md-3 col-sm-4 pt-2"><strong> per </strong>
                                                            </div>
                                                            <div class="col-md-9 col-sm-8 mrg-tsm">
                                                                <ng-select [(ngModel)]="a.rateUOM"
                                                                    placeholder="Select UOM" name="rateUOM_{{i}}">
                                                                    <ng-option *ngFor="let i of uomList"
                                                                        [value]="i.id">{{
                                                                        i.name }}
                                                                    </ng-option>
                                                                </ng-select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="input-group">
                                                            <input type="text"
                                                                placeholder="Enter Specification here (Quality)"
                                                                name="construction_{{i}}" #construction="ngModel"
                                                                class="form-control text-w-4"
                                                                [(ngModel)]="a.construction">
                                                        </div>
                                                    </div>
                                                    <div class=" mrg-tsm" *ngIf="!first">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-danger " type="button"
                                                                (click)="removeArticle(i)">
                                                                <i class="fas fa-minus fa-xs"></i></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>



                                </div>
                                <!-- <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-7">
                                        <button type="button" class="btn btn-outline-primary btn-sm"
                                            (click)="addArticle()"> Add Another
                                            Article</button>
                                    </div>
                                </div> -->

                            </div>
                            <hr>
                            <!---------- Payment & Delivery for Local Yarn---------->

                            <div class="card shadow mb-4">
                                <div class="card-body">

                                    <div class="pb-2">
                                        <span class="badge badge-primary">Payment & Delivery Terms</span>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-2 col-form-label control-label">Commission:</label>
                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="number" min="0" placeholder="Comm%" #commission="ngModel"
                                                    class="form-control" [(ngModel)]="data.commission"
                                                    name="commission">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">per</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 mrg-tsm">
                                            <ng-select name="commisionUOMId " #commisionUOMId="ngModel"
                                                [(ngModel)]="data.commisionUOMId" placeholder="-- Unit UOM --">
                                                <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
                                        </div>


                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-2 col-form-label control-label">Packing:</label>

                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <ng-select name="packingId" #packingId="ngModel"
                                                    class="input-w px-0 col-md-12" [(ngModel)]="data.packingId"
                                                    placeholder="-- Select --"
                                                    [ngClass]="{'error': packingId.invalid && packingId.touched,'not-error': packingId.valid && packingId.touched}"
                                                    required>
                                                    <ng-option *ngFor="let i of packing" [value]="i.id">{{ i.name }}

                                                    </ng-option>
                                                </ng-select>


                                                <!-- <div class="input-group-append">
                                                    <button class="btn btn-outline-primary" type="button"
                                                        id="button-addon2" (click)="addYarnPackingForm()">
                                                        <i class="fa fa-plus"></i></button>
                                                </div> -->

                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <input type="text" placeholder="Terms of Payment"
                                                [(ngModel)]="data.termOfPayment" name="termOfPayment"
                                                #termOfPayment="ngModel" class="form-control text-w-4">

                                        </div>

                                    </div>


                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-2 col-form-label control-label">Delivery:</label>

                                        <div class="col-md-4">
                                            <input type="text" placeholder="Delivery" [(ngModel)]="data.delivery"
                                                name="delivery" #delivery="ngModel" class="form-control text-w-4">

                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" placeholder="Delivery Terms"
                                                [(ngModel)]="data.deliverTerms" name="deliverTerms"
                                                #deliverTerms="ngModel" class="form-control text-w-4">

                                        </div>

                                    </div>


                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-2 col-form-label control-label">Condition:</label>

                                        <div class="col-md-4">
                                            <input type="text" placeholder="Condition" [(ngModel)]="data.condition"
                                                name="condition" #condition="ngModel" class="form-control text-w-4">

                                        </div>

                                        <div class="col-md-4">
                                            <input type="text" placeholder="W.H.T Exemption"
                                                [(ngModel)]="data.whtExemption" name="whtExemption"
                                                #whtExemption="ngModel" class="form-control text-w-4">

                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-2 col-form-label control-label">Remarks:</label>

                                        <div class="col-md-8">

                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" placeholder="Remarks"
                                                    [(ngModel)]="data.remarks" name="remarks"></textarea>
                                            </div>


                                        </div>



                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-2 col-form-label control-label">Other
                                            Terms:</label>

                                        <div class="col-md-8">
                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" placeholder="Other Terms"
                                                    [(ngModel)]="data.otherTerms" name="otherTerms"></textarea>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail3"
                                            class="col-md-2 col-form-label control-label">Note:</label>

                                        <div class="col-md-8">

                                            <div class="input-group">
                                                <textarea rows="3" class="form-control" placeholder="Note"
                                                    [(ngModel)]="data.note" name="note"></textarea>
                                            </div>


                                        </div>


                                    </div>



                                </div>
                            </div>


                            <hr>
                            <div class="form-group row mt-3 mb-3">
                                <div class="col-md-12 text-center">
                                    <div class="btn-group mr-2">
                                        <button type="submit" [disabled]="blockForm.invalid"
                                            class="btn btn-info clrbtn btn-sm">
                                            <i class="far fa-hand-point-right"></i>&nbsp;Update Block
                                        </button>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</section>