
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title py-0">
      <i class="fa fa-edit"></i>
     Edit Product & Specification
      <!-- <small>
        <p class="mb-0">
          Contract No. {{data.autoContractNumber}}
        </p>
      </small> -->
    </h5>
    <div class="font text-muted text-center">Contract No.{{data.autoContractNumber}} </div>
  </div>
  
  
  <div class="modal-body BG p-0">
    <form #prodSpecForm="ngForm" novalidate>

  
      <div class="row justify-content-center">
        <div class="col-10 col-md-11 pt-3 pb-2">
          <!-- <div class="form-group row"> -->

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local' || loggedInDepartmentName == 'Fabric Export'">
            <label class="col-md-3 col-form-label text_Navy"> Construction</label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3">
                  <input type="text" class="form-control" value="" placeholder="%" name="pecenetAge" #pecenetAge="ngModel"
                    [(ngModel)]="data.pecenetAge" />
                </div>
                <div class="col-md-9">
          
                  <ng-select [(ngModel)]="data.febricId" placeholder="Fabric Type" name="febricId" #febricId="ngModel">
                    <ng-option *ngFor="let i of fabric" [value]="i.id">{{i.type}}
                    </ng-option>
                  </ng-select>
          
                </div>
              </div>
            </div>
          </div>
      
          <div class="form-group row">
            <label for="name" class="col-md-3 col-form-label"><strong>Cons.info</strong></label>
            <!-- <label for="name" class="col-md-3 col-form-label">Puchase Order</label> -->
            <div class="col-md-8">
              <input type="text" class="form-control" name="construction" #construction="ngModel"
                [(ngModel)]="data.construction" placeholder="Construction Information" />
      
            </div>
          </div>
      
      
      
          <div class="form-group row " *ngIf="loggedInDepartmentName != 'Yarn Export'">
            <label for="articleId" class="col-md-3 col-form-label text_Navy ">Article</label>
            <div class="col-md-8">
              <ng-select [(ngModel)]="data.articleId" placeholder="-- Select --" name="articleId">
                <ng-option *ngFor="let i of article" [value]="i.id">{{ i.name }}
                </ng-option>
      
              </ng-select>
            </div>
          </div>
      
          <div class="form-group row" *ngIf="loggedInDepartmentName == 'Yarn Export'">
            <label for="articleId" class="col-md-3 col-form-label text_Navy ">Brand Name</label>
            <div class="col-md-8">
              <ng-select name="brandId" #brandId="ngModel" class="input-w px-0" [(ngModel)]="data.brandId"
                placeholder="Select Brand Name">
                <ng-option *ngFor="let i of data4" [value]="i.id">{{ i.brandName }}
                </ng-option>
              </ng-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local' || loggedInDepartmentName == 'Fabric Export'">
            <label class="col-md-3 col-form-label "> Additional Specs </label>

            <div class="col-md-8">
              <div class="row">
          
          
                <div class="col-md-2">
                  <input type="text" class="form-control" value="" placeholder="GSM" name="gsm" #gsm="ngModel"
                    [(ngModel)]="data.gsm" />
                </div>

                <div class="col-md-4 mrg-tsm">
          
                  <div class="input-group">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">+/-</span>
                    </div>
                    <input type="text" placeholder="tolerance value." class="form-control" name="tolerance" #tolerance="ngModel"
                      [(ngModel)]="data.tolerance">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                  </div>
          
                </div>
                <div class="col-md-3 mrg-tsm">
                  <ng-select [(ngModel)]="data.weaveId" placeholder="Weave" name="weaveId" #weaveId="ngModel">
                    <ng-option *ngFor="let i of weave" [value]="i.id">{{ i.weaveName }}
                    </ng-option>
          
                  </ng-select>
                </div>
                <div class="col-md-3 mrg-tsm">
                  <ng-select [(ngModel)]="data.selvedgeId" placeholder="Selvedge" name="selvedgeId">
                    <ng-option *ngFor="let i of selvedge" [value]="i.id">{{ i.selvedgeName }}
                    </ng-option>
          
                  </ng-select>
                </div>
              </div>
            </div>
          
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local'">
            <label class="col-md-3 col-form-label ">Width:</label>
            <div class="col-md-6">
              <div class="input-group">
                <input type="text" placeholder="Width" #width="ngModel" class="form-control" [(ngModel)]="data.width"
                  name="width">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon2">per</span>
                </div>
              </div>
            </div>
      
          </div>
      
          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local' || loggedInDepartmentName == 'Fabric Export'">
            <label class="col-md-3 col-form-label  ">Piece Length</label>
            <div class="col-md-8">
              <ng-select [(ngModel)]="data.pieceLengthId" placeholder=" Select  Piece Length" name="pieceLengthId"
                #pieceLengthId="ngModel">
                <ng-option *ngFor="let i of piece" [value]="i.id"> {{i.pieceLengthName}}
                </ng-option>
      
              </ng-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local'">
            <label class="col-md-3 col-form-label  ">Pick Insertion</label>
            <div class="col-md-8">
              <ng-select [(ngModel)]="data.pickInsertionId" placeholder="Select pick insertion" name="pickInsertionId"
                #pickInsertionId="ngModel">
                <ng-option *ngFor="let i of pick" [value]="i.id"> {{i.pickInsetionName}}
                </ng-option>
      
              </ng-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local'">
            <label for="articleId" class="col-md-3 col-form-label  ">BR Warp</label>
            <div class="col-md-8">
              <ng-select [(ngModel)]="data.blendingRatioWarpId" placeholder="Select Warp" name="blendingRatioWarpId"
                #blendingRatioWarpId="ngModel">
                <ng-option *ngFor="let i of warp" [value]="i.id"> {{i.blendingRatioWarpName}}
                </ng-option>
      
              </ng-select>
            </div>
          </div>

          <div class="form-group row" *ngIf="loggedInDepartmentName=='Fabric Local'">
            <label for="blendingRatioWeftId" class="col-md-3 col-form-label  ">BR Weft</label>
            <div class="col-md-8">
              <ng-select [(ngModel)]="data.blendingRatioWeftId" #blendingRatioWeftId="ngModel" placeholder="Select Weft"
                name="blendingRatioWeftId">
                <ng-option *ngFor="let i of weft" [value]="i.id"> {{i.blendingRatioWeftName}}
                </ng-option>
      
              </ng-select>
            </div>
          </div>
      
          <!-- <div class="form-group row"> -->
        </div>
      </div>
     

  <div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
      Close
    </button>
    <button class="btn button-save" type="submit" (click) = "onSubmit()">
      Save
    </button>
  </div>
  
  </form>
  </div>