<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title py-0">
      <i class="fa fa-edit"></i>
     Edit Product & Specification
      <!-- <small>
        <p class="mb-0">
          Contract No. {{data.autoContractNumber}}
        </p>
      </small> -->
    </h5>
    <div class="font text-muted text-center">Contract No.{{data.autoContractNumber}} </div>
  </div>
  
  
  <div class="modal-body BG p-0">
    <form #prodSpecForm="ngForm" novalidate>
  
      <div class="col-md-12 pt-3 pb-2">
        <!-- <div class="form-group row"> -->
   
    
      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label"><strong>Cons.info</strong></label>
        <!-- <label for="name" class="col-sm-3 col-form-label">Puchase Order</label> -->
        <div class="col-sm-8">
          <input type="text" class="form-control" name="construction" #construction  = "ngModel"
          [(ngModel)] = "data.construction"
            placeholder="Construction Information" />
  
        </div>
      </div>
   
  
  
      <div class="form-group row">
        <label for="articleId" class="col-sm-3 col-form-label text_Navy ">Article</label>
        <div class="col-sm-8">
          <ng-select [(ngModel)]="data.articleId" placeholder="-- Select --"
          name="articleId"
         >
         <ng-option *ngFor="let i of article" [value]="i.id">{{ i.name }}
           </ng-option>

         </ng-select>
        </div>
      </div>
  
  
  
  
      <!-- <div class="form-group row"> -->
     </div>
     
  <div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
      Close
    </button>
    <button class="btn button-save" type="submit" (click) = "onSubmit()">
      Save
    </button>
  </div>
  
  </form>
  </div>