<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>




<div class="content-header">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light"> Fabric Type
        <div class="ml-2 descr">Fabric Type Description</div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Configuration</a></li>
        <!-- <li class="breadcrumb-item">Product</li> -->
        <li class="breadcrumb-item active" aria-current="page">Fabric Type</li>
      </ol>
    </div>

  </div>
</div>






<div class="card ibox-content">
  <div class=" panel blank-panel">
    <div class=" panel-heading">

      <!-- <table class="table">
        <tbody>
          <tr>
            <td class="noBorder">
              <button type="button" class="btn btn-primary descBtn ">
                <i class="fas fa-anchor fa-fw mr-2"></i>{{listCount}}</button>
              <span class="text-muted text2">Fabric Types</span>
            </td>

            <td class="noBorder">
              <button type="button" class="btn  mr-1 px-3"> </button>
              <span class="text-muted text"></span>
            </td>
            <td class="noBorder">
              <button type="button" class="btn btn-primary btn-md float-right" (click)="addTypeForm()">
                <i class="fa fa-plus"></i> Add Fabric Type</button>
            </td>
          </tr>
        </tbody>
      </table> -->


      <div class="row mb-3">
        <div class="col-sm-6 col-md-6 ">
          <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2 ">
            <i class="fas fa-anchor fa-fw mr-2"></i>{{fabricTypeCount}}</button>
          <span class="text-muted text2">Fabric Types</span>
        </div>
        <div class="col-sm-6 col-md-6 mrg-tsm">
          <button type="button" class="btn btn-primary btn-sm float-right" (click)="addTypeForm()">
            <i class="fa fa-plus"></i> Add Fabric Type</button>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
        
          <div class="row ">
            <div class="col-md-4">
            
              <div class="form-group row">
                <label for="inputSearch" class="col-sm-3 col-form-label">Status</label>
                <div class="col-sm-4">
                  <select class="form-control" (change)="activeInactive($event)">
                    <option value="Active">Active</option>
                    <option value="InActive">Inactive</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-8">
            <div class="row justify-content-end">
            <div class=" col-md-6 pr-0">

              <div class="form-group row">
                <label for="inputSearch" class="col-sm-3 col-form-label">Search:</label>
                <div class="col-sm-9">
                  <input type="text" placeholder="Search by Fabric Type. "
                  class="input form-control form-control-sm" (keyup)="search($event)">
                </div>
              </div>

              <!-- <div class="input-group col-md-offset-3">
                <input type="text" placeholder="Search by Article Code or Article Name.. "
                  class="input form-control w-50" (keyup)="search($event)">
              </div> -->
            </div>

            <div class="html5buttons mrg-tsm">
              <div class="dt-buttons btn-group btn-group-sm">
                <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
              (click)="copyFabricTypeList()"
                  ><span>Copy</span></a>
                <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
                  (click)="fabricCsvFile()"
                  ><span>CSV</span></a>
                <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0" 
                  (click)="fabricExcelFile()"><span>Excel</span></a>
                <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
                  (click)="fabricPdf()"
                  ><span>PDF</span></a>
                <a class="btn btn-default buttons-print bg-white" tabindex="0"
                  aria-controls="DataTables_Table_0"
                  (click)="printFabricList()"
                  ><span>Print</span></a>
              </div>
            </div>
          </div>
        </div>

          </div>
        </div>
      </div>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body"> 
    <div class="panel-body">
      <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'id', dir: 'desc'}]" [rowHeight]="'auto'" [limit]="6">

        <!-- <ngx-datatable-column name="S. No." [width]="20" prop="id">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            {{rowIndex + 1}}
          </ng-template>
        </ngx-datatable-column> -->
        <ngx-datatable-column name="Fabric Type" [width]="80" prop="type">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.type}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.description}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Status" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

            <span class="badge badge-primary" *ngIf="row.active==true">Active</span>
            <span class="badge badge-secondary" *ngIf="row.active==false">Inactive</span>

            <!-- <div class="active" *ngIf="row.active==true">
              Active
            </div>
            <div class="inactive" *ngIf="row.active==false">
              Inactive
            </div> -->

          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Changed On|By" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.updatedDateTime}} | {{row.updatedByName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

            <div class="ibox-tools text-center">
              <button type="button" class="btn editIconBack px-1 py-1" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Edit" (click)="editTypeForm(row)">
                <i class="far fa-edit "></i>
              </button>
              <button type="button" class="btn deleteIconBack px-1 py-1" data-toggle="tooltip" data-placement="top" title=""
                data-original-title="Delete" (click)="deleteType(row)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>
            <!-- <button type="button" 
            class="btn deleteIconBack"
            mwlConfirmationPopover 
            popoverTitle="Confirmation"
            popoverMessage="Are you sure ?" 
            placement="left" 
            (confirm)="deleteType(row)"> 
            <i class="far fa-trash-alt"></i>
            </button> -->
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
      </div>
    </div>

  </div>
</div>