<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="fa fa-anchor fa-fw"></i>
    Agent Contract List
  </h5>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate>

    <div class="row justify-content-center">
        <ul class="list-group" *ngFor="let i of data">
            <li class="list-group-item">{{i}}</li>

          </ul>
      
    </div>


    <div class="modal-footer NotBG">
      <button class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">Close</button>
      <!-- <button class="btn button-save" type="submit">
        Save Article
      </button> -->
    </div>
  </form>
</div>