<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
    <h5 class="modal-title" *ngIf = "statusCheck == 'Add'">
        <i class="fa fa-truck"></i>
        Add New Dispatch
      </h5>
    <h5 class="modal-title" *ngIf = "statusCheck == 'Edit' || statusCheck == 'Edit2'">
      <i class="fa fa-truck"></i>
      Edit Dispatch
    </h5>
    <div class="font text-muted text-center"><b> Contract No. </b> {{contractNmbr}}</div>
    <div class="font text-muted text-center"><b>Buyer : </b>{{ buyerName}} </div>
    <div class="font text-muted text-center"><b>Seller : </b> {{sellerName}} </div>
  </div>
  
  
  <div class="modal-body BG p-0">
    <form #dispatchForm="ngForm" novalidate>
        <div class="col-md-12 pt-2 ml-5">
            <div class="form-group row">
           
                <div class="col-md-3 font-weight-bold">
                 <p >Dispatch Count: </p>
                 <p>{{count.dispatchCount}}</p>
                </div>
                <div  class="col-md-3  font-weight-bold">
                  <p>Dispatch Qty:</p>
                 <p>{{count.dispatchQuantity}}</p>

                 </div>
                 <div class="col-md-3  font-weight-bold">
                  <p>Sale Invoice Qty:</p>
                 <p>{{count.saleInvoiceQty}}</p>

                 </div>
                </div>
            </div>
      <div class="col-md-12 pt-3 pb-2">

    
        <div class="form-group row">
          <label for="saleInvoiceNo" class="col-sm-3 col-form-label text_Navy">Dispatch No.</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Dispatch receipt number" name="number"
              [(ngModel)]="data.number" #number="ngModel" />
          </div>
        </div>
  
  
        <div class="form-group row">
          <label for="dispatchDate" class="col-sm-3 col-form-label text_Navy">Dispatch Date</label>
          <div class="col-sm-8" (clickOutside)="dispatchDate.close()">
  
            <input navigation="select" class="form-control  " ngbDatepicker #dispatchDate="ngbDatepicker"
              (click)="dispatchDate.toggle()" placeholder="Dispatch date" name="date"
              [(ngModel)]="data.date" #date="ngModel" />
          </div>
        </div>

          <div class="form-group row">
            <label for="itemQuantity" class="col-sm-3 col-form-label text_Navy">Quantity</label>
            <div class="col-sm-3">
                <input type="number" min="0" required
                id="itemQuantity" #itemQuantity="ngModel"
              name="quantity" [(ngModel)]="data.quantity" #quantity="ngModel"
                class="form-control" value="" placeholder="Quantity" />
            </div>
            <div class="col-md-5">
               
              <ng-select
              [(ngModel)]="data.uomId" placeholder="Unit" name="uomId">
              <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
              </ng-option>
            </ng-select>

            </div>
      
          </div>
          <div class="form-group row" *ngIf = "statusCheck == 'Edit2'">
            <label for="saleInvoiceDate" class="col-sm-3 col-form-label">Sales Tax %</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <div class="input-group-append">
                    </div>
                    <input type="number" placeholder="Sales Tax in percentage" class="form-control"
                        [(ngModel)]="data.salesTax" name="salesTax" #salesTax="ngModel">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">%</span>
                    </div>
                </div>
            </div>
          </div>

          
          <div class="form-group row" *ngIf = "statusCheck == 'Edit2'">
            <label for="saleInvoiceNo" class="col-sm-3 col-form-label ">Sale Inv. No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Sale Invoice number" name="saleInvoiceNo"
                [(ngModel)]="data.saleInvoiceNo" #saleInvoiceNo="ngModel" />
            </div>
          </div>
      
        <div class="form-group row">
          <label for="saleInvoiceRemarks" class="col-sm-3 col-form-label ">Remarks</label>
          <div class="col-sm-8">
            <textarea name="remarks" rows="3" class="form-control" placeholder="Dispatch additional details here..."
              name="remarks" [(ngModel)]="data.remarks" #remarks="ngModel"></textarea>
          </div>
        </div>
        
      </div>
  
      <div class="modal-footer NotBG" >
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
        <button *ngIf="statusCheck == 'Add'"class="btn button-save" type="submit"
          (click)="addDispatch(dispatchForm)">
          Save Item
        </button>
      
        <button  *ngIf="statusCheck == 'Edit'" class="btn button-save" type="submit"
          (click)="updateDispatch(dispatchForm)">
          Update Item
        </button>
           
        <button  *ngIf="statusCheck == 'Edit2'" class="btn button-save" type="submit"
          (click)="updateDispatch(dispatchForm)">
          Update Item
        </button>
        
      </div>
  
  
    </form>
  </div>