<div class="content-header">

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h2 class="row wrapper page-header font-weight-light">Notifications
          <div class="ml-2 text-muted descr">Display all notifications related to specific departments</div>
        </h2>
      </div>
  
      <div class="col-sm-12 col-md-6 col-lg-4">
        <ol class="breadcrumb flt-RnL">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notifications</li>
        </ol>
      </div>
  
    </div>
  </div>
  
  
  
  <div class="card ibox-content m-b-sm mb-3">
    <div class="row">
      <div class="col-md-3">
        <div class="widget style1 red-bg">
          <div class="row">
            <div class="col-md-4">
              <i class="fa fa-fas fa-bell fa-4x"></i>
            </div>
            <div class="col-md-8 text-right">
              <div> Total Notofications </div>
              <h3 class="font-bold">39</h3>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="row justify-content-end">
      <div class="col-md-5">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Notification">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">
                <i class="fa fa-search"></i>
              </button>
            <button type="button" class="btn btn-primary autoAdjustBtn ml-1" routerLink="/config/notification-settings"> <i class="fa fa-cogs"></i></button>

            </div>
          </div>
      </div>
    </div>
  </div>
  
  
  <div class="faq-item shadow-sm" >
    <div class="row">
      <div class="col-md-1 col-sm-3 col-xs-3 forum-info" data-original-title="POCs">
        <div class="poc-icon">
          <a class="faq-question text-muted text-s-lg text-w-3" data-toggle="collapse" role="button"
            aria-expanded="false" aria-controls="collapseExample">
            <span class="far fa-bell fa-3x"></span></a>
        </div>
      </div>
  
      <div class="col-md-7">
  
        <a class="faq-question "></a>
  
  
        <div class="small mb-1"></div>
        <span class="badge badge-pill badge-danger text-white">1</span>
        <span class="size text_Navy">Contract Closed Since <strong>30</strong>&nbsp;days but bill not generated yet</span>

      </div>
  
     
  
  
      <div class="col-md-1 forum-info" data-toggle="tooltip" data-placement="top" title=""
        style="border-left: 1px solid #d0d0d0" data-original-title="Total Contracts">
        <span class="views-number">38</span>
        <div><small>Active Count</small></div>
      </div>

    </div> <!-- end of .row -->

  
  
  </div>