<div class="content-header">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h2 class="row wrapper page-header font-weight-light">
        Seller Mappings
          <div class="ml-2 descr">
            Map Sellers according to code
          </div>
        </h2>
      </div>
  
      <div class="col-sm-12 col-md-6 col-lg-4">
        <ol class="breadcrumb flt-RnL">
          <li class="breadcrumb-item"><a href="#">Mappings</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            Seller Mappings
          </li>
        </ol>
      </div>
    </div>
  </div>


  <div class="card ibox-content">
    <div class="panel blank-panel">
      
      <div class="panel-heading">
  
              
                <div class="row mb-3">
                    <div class="col-md-6">
                      <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2">
                        <i class="fa fa-user fa-fw mr-2"></i>
                      </button>
                      <span class="text-muted text2">Sellers</span>
                    </div>
               
                  </div>


                <div class="row">
                    <div class="col-md-8 autoAdjustSearch">
                      <div class="input-group col-md-offset-3">
                        <input placeholder="Search Seller " type="text" class="input form-control winput"
                        (keyup)="search($event)"  />
                        <span class="group-btn">
                          <button type="button" class="btn btn-primary autoAdjustBtn ml-1">
                            <i class="fa fa-search"></i> Search
                          </button>
                        </span>
<!--                 
                        <button type="button" class="btn btn-primary float-right mrg-sm1" data-toggle="modal"
                          data-target="#exampleModalScrollable" >
                          <i  aria-hidden="true"></i> Save
                        </button> -->
                      </div>
                    </div>
                    <div class="col-md-4">
                        <ng-select  placeholder="Select Department" name="departmentId" (change)="getDeptId($event)">
                          <ng-option *ngFor="let i of departmentId" [value]="i.id">{{ i.name }}</ng-option>
                        </ng-select>
                    </div>


       
      </div>
<br>
<hr>


<!-- 
      <div class="faq-item shadow-sm" *ngFor="let obj of seller ; let x = index">
        <div class="row">
      
          <div class="col-md-1 col-sm-3 col-xs-3 forum-info" data-original-title="POCs">
            <div class="poc-icon">
              <a class="faq-question text-muted text-s-lg text-w-3" data-toggle="collapse" href="#seller-{{ x }}"
                role="button" aria-expanded="false" aria-controls="collapseExample">
                <span class="fa fa-users"> </span></a>
            </div>
          </div>
      
          <div class="col-md-6 col-xl-7">
            <a class="faq-question">{{ obj.sellerName }}</a>
          </div>
  
      
          <div class="col-md-3 col-xs-3 forum-info" data-toggle="tooltip" data-placement="top" title=""
            style="border-left: 1px solid #d0d0d0" data-original-title="Total Contracts">
            
            <div>
                <b>{{obj.accountCode}}</b>
            </div>
          </div>
      
      
        </div>

      
    
      </div> -->




      <div  class="panel-body">
      
        <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="seller"
          [sorts]="[{ prop: 'id,sellerName', dir: 'asce' }]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
          [rowHeight]="'auto'" [limit]="10">
       
          <ngx-datatable-column name="Seller Name" prop="sellerName" [width]="200">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{ row.sellerName }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Code" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
             
             {{ row.accountCode }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [width]="80">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
  
  
              <div class="ibox-tools text-center">
                <button type="button" class="btn editIconBack px-1 py-1" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Edit" (click)="editCode(row)"><i class="far fa-edit"></i></button>
  
               
                </div>
  
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      
      </div>




    </div>
    </div>