<!-- Modal -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>
  <h5 class="modal-title">
    <i class="far fa-edit"></i>
    Edit Seller
  </h5>
</div>

<div class="modal-body p-0" style="background-color: #f8fafb">

  <form #sellerEditForm="ngForm" novalidate >

    <div class="row justify-content-center">
      <div class="col-10 col-md-11 pt-3 pb-2">
    
    
        <div class="form-group row">
          <label for="name" class="col-md-3 col-form-label">Seller Code</label>
          <div class="col-md-8">
            <input disabled id="SellerCode" type="text" class="form-control" name="SellerCode"
              [(ngModel)]="data.sellerCode" />
          </div>
        </div>
    
    
        <div class="form-group row">
          <label for="sellerName" class="col-md-3 col-form-label text_Navy">Seller Name<span
              class="required-denote">*</span></label>
          <div class="col-md-8">
            <input appAutofocus required maxlength="150" id="sellerName" type="text" class="form-control"
              placeholder="Seller name" name="sellerName" [(ngModel)]="data.sellerName" #name="ngModel"
              [ngClass]="{ error: name.invalid && sellerEditForm.submitted }" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="billingAddress" class="col-md-3 col-form-label">Billing Address</label>
          <div class="col-md-8">
            <textarea maxlength="300" class="form-control" id="billingAddress" rows="3" placeholder="Seller mailing address"
              name="billingAddress" [(ngModel)]="data.billingAddress" #billingAddress="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="country" class="col-md-3 col-form-label text_Navy">Country<span
              class="required-denote">*</span></label>
    
          <div class="col-md-8">
            <ng-select [(ngModel)]="data.countryId" required placeholder="-- Select --" name="countryId"
              [ngClass]="{ error: countryId.invalid && sellerEditForm.submitted }" #countryId="ngModel">
              <ng-option *ngFor="let i of country" [value]="i.id">{{ i.name }}
                <span *ngIf="i.details !=null" class="text-muted" style="font-size: 11px">( {{ i.details }} )</span>
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="contactNoPrimary" class="col-md-3 col-form-label">Contact Nos.</label>
    
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 fieldmrgbtm">
                <input pattern="[+0-9-]{7,15}" maxlength="15" class="form-control" id="contactNoPrimary"
                  placeholder="Primary Contact No." name="contactNoPrimary" [(ngModel)]="data.contactNoPrimary"
                  #contactNoPrimary="ngModel" [ngClass]="{
                    error: contactNoPrimary.invalid && contactNoPrimary.touched
                  }" />
              </div>
              <div class="col-md-6">
                <input pattern="[+0-9-]{7,15}" maxlength="15" type="text" class="form-control" id="contactNoSecondary"
                  placeholder="Other Contact No." name="contactNoSecondary" [(ngModel)]="data.contactNoSecondary"
                  #contactNoSecondary="ngModel" [ngClass]="{
                    error: contactNoSecondary.invalid && contactNoSecondary.touched
                  }" />
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="faxNumber" class="col-md-3 col-form-label">Fax Number</label>
          <div class="col-md-8">
            <input pattern="[+-0-9]{4,15}" maxlength="15" minlength="4" type="text" class="form-control" id="faxNumber"
              placeholder="Seller Fax No." name="faxNumber" [(ngModel)]="data.faxNumber" #faxNumber="ngModel"
              [ngClass]="{ error: faxNumber.invalid && faxNumber.touched }" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="ntnNumber" class="col-md-3 col-form-label">NTN/GST Nos.</label>
    
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 fieldmrgbtm">
                <input pattern="[+-a-zA-Z0-9]" type="text" class="form-control" id="ntnNumber" placeholder="NTN No."
                  name="ntnNumber" [(ngModel)]="data.ntnNumber" #ntnNumber="ngModel"
                  [ngClass]="{ error: ntnNumber.invalid && ntnNumber.touched }" />
              </div>
              <div class="col-md-6">
                <input pattern="[+-a-zA-Z0-9]" type="text" class="form-control" id="gstNumber" placeholder="GST No."
                  name="gstNumber" [(ngModel)]="data.gstNumber" #gstNumber="ngModel"
                  [ngClass]="{ error: gstNumber.invalid && gstNumber.touched }" />
              </div>
            </div>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="inputEmail3" class="col-md-3 col-form-label">Certificate(s)</label>
          <div class="col-md-8">
            <ng-select [multiple]="true" name="certificatedeIds" class="input-w1 px-0" [(ngModel)]="data.certificateIds"
              placeholder="-- Select --">
              <ng-option *ngFor="let i of certification" [value]="i.id">{{ i.name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="inputEmail3" class="col-md-3 col-form-label">Capabilities</label>
          <div class="col-md-8">
            <ng-select [multiple]="true" name="capabilitiesIds" class="input-w1 px-0" [(ngModel)]="data.capabilitiesIds"
              placeholder="-- Select --">
              <ng-option *ngFor="let i of capabilities" [value]="i.id">{{ i.name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="majorStrength" class="col-md-3 col-form-label">Major Strenghts</label>
          <div class="col-md-8">
            <textarea maxlength="300" class="form-control" id="majorStrength" rows="3"
              placeholder="Major marketing strengths ..." name="majorStrength" [(ngModel)]="data.majorStrength"
              #majorStrength="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="leadTime" class="col-md-3 col-form-label">Leadtime / MOQ</label>
          <div class="col-md-8">
            <textarea maxlength="300" class="form-control" id="leadTime" rows="3"
              placeholder="Seller additional details here ..." name="leadTime" [(ngModel)]="data.leadTime"
              #leadTime="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="sellerDetails" class="col-md-3 col-form-label">Seller Details</label>
          <div class="col-md-8">
            <textarea class="form-control" id="sellerDetails" rows="3" name="sellerDetails" [(ngModel)]="data.sellerDetails"
              #sellerDetails="ngModel"></textarea>
          </div>
        </div>
    
        <div class="form-check form-check-inline offset-md-3 pl-1">
          <input class="form-check-input check-btn" id="active" type="checkbox" name="isParentSeller"
            [(ngModel)]="data.isParentSeller" />
          <label for="active" class="form-check-label">Parent Seller</label>
        </div>
    
        <div class="form-group row">
          <label for="parentSellerId" class="col-md-3 col-form-label">Parent Seller</label>
    
          <div class="col-md-8">
            <ng-select name="parentSellerId" [(ngModel)]="data.parentSellerId" placeholder="-- Select --">
              <ng-option *ngFor="let i of seller" [value]="i.id">
                {{ i.sellerName }}
              </ng-option>
            </ng-select>
          </div>
        </div>
    
      </div>
    </div>

    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>

      <button type="submit" class="btn button-save" (click)="updateSeller()" >
        Update Seller
      </button>
    </div>
  </form>
</div>