<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Add New Tax Challan 
                <div class="ml-2 descr"> Fill all the details.
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Tax Challan</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add New Tax Challan</li>
            </ol>
        </div>

    </div>
</div>

<div class="card ibox-content">


    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Tax Challan Form</h4>

        <div class="card-tools">
            <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
              <i class="fas fa-sync-alt"></i>
            </button> -->

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <!-- <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button> -->
        </div>
    </div>


    <div class="card-body p-0">

        <div class="row">
            <div class="col-md-12 p-3">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="nav nav-pills " id="nav-tab" role="tablist">

                                        <a class="nav-item nav-link active " id="nav-Details-tab" data-toggle="tab"
                                            href="#nav-parties" role="tab" aria-controls="nav-Details"
                                            aria-selected="true">Parties</a>

                                        <a class="nav-item nav-link " id="nav-payment-tab" data-toggle="tab"
                                            href="#nav-payment" role="tab" aria-controls="nav-payment"
                                            aria-selected="false">Tax Challan Detials &nbsp;</a>

                                        <a class="nav-item nav-link " id="nav-sale-tab" data-toggle="tab"
                                            href="#nav-sale" role="tab" aria-controls="nav-sale"
                                            aria-selected="false">Sale Invoices &nbsp;</a>

                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>


                <hr>

                <div class="tab-content" id="nav-tabContent">



                    <div class="tab-pane fade show active" id="nav-parties" role="tabpanel" aria-labelledby="nav-parties-tab">
                
                        <form #enquiryForm="ngForm" novalidate>
                
                            <div class="form-group row">
                                <label for="inputEmail3" class=" col-md-2 col-form-label control-label">Buyer Name</label>
                
                                <div class="col-md-8">
                
                                <ng-select name="sellerSideCommissionUOMId " placeholder="-- Select Buyer --">
                                    <ng-option>
                                    </ng-option>
                                </ng-select>
                
                
                                <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                    Only Parent Buyer is available for selection
                                </small>
                                </div>
                            </div>
                


                            <div class="form-group row">
                                <label for="inputEmail3" class=" col-md-2 col-form-label control-label">Supplier Name</label>

                                <div class="col-md-8">
                                
                                    <ng-select name="sellerSideCommissionUOMId " placeholder="-- Select Supplier --">
                                        <ng-option>
                                        </ng-option>
                                    </ng-select>
                                
                                    <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                        Only Parent Supplier is available for selection
                                    </small>
                                
                                </div>
                
                            </div>

                        </form>
                    </div>
                
                




                    <div class="tab-pane fade show " id="nav-payment" role="tabpanel" aria-labelledby="nav-payment-tab">
                
                        <div class="col-md-12">

                
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label">Tax Challan Date</label>
                                <div class="col-sm-8">
                                <input navigation="select" class="form-control " ngbDatepicker #validityDate="ngbDatepicker"
                                    (click)="validityDate.toggle()" placeholder="" [(ngModel)]="data.validityDate"
                                    name="validityDate" />
                                </div>
                            </div>

                            
                            <div class="form-group row">
                
                                <label for="inputEmail3" class="col-form-label col-sm-2 control-label ">Amount</label>

                                <div class="col-md-8">
                                    <div class="row">

                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="number" min="0" placeholder="Comm%" #sellerSideCommission="ngModel"
                                                    class="form-control" [(ngModel)]="data.sellerSideCommission"
                                                    name="sellerSideCommission">
                                            </div>
                                        </div>
                    
                                        <div class="col-md-3 mrg-sm1">
                    
                                            <ng-select name="sellerSideCommissionUOMId " #sellerSideCommissionUOMId="ngModel"
                                                [(ngModel)]="data.sellerSideCommissionUOMId" placeholder="Select Currency">
                                                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
                    
                                        </div>

                                        <div class="col-md-6 mrg-sm1">
                                            <div class="row">
                                                
                                                <label for="inputEmail3" class="col-form-label col-sm-4 control-label ">Cpr No.</label>
                    
                    
                                                <div class="col-md-8 mrg-sm1">
                    
                                                    <input type="number" min="0" placeholder="Comm%" #sellerSideCommission="ngModel"
                                                    class="form-control" [(ngModel)]="data.sellerSideCommission"
                                                    name="sellerSideCommission">
                                                </div>
                    
                                            </div>
                                        </div>
                    

                                        <!-- <label for="inputEmail3" class="col-form-label col-sm-2 control-label ">Cpr No.</label>
                                        <div class="row">
                                            <div class="col-md-4 mrg-sm1">
                                                <input class="form-control col-md-7 " type="number">
                                            </div>
                                        </div> -->


                                    </div>
                                </div>

                            </div>
                
                
                            <div class="form-group row">
                                <label for="name" class="col-sm-2 col-form-label  ">Remarks</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <textarea rows="3" class="form-control" placeholder="Tax Challan brief detail here......" [(ngModel)]="data.enquiryRemarks"
                                            name="enquiryRemarks"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                







                    <div class="tab-pane fade show " id="nav-sale" role="tabpanel" aria-labelledby="nav-sale-tab">
                        <div class="panel-body">
                            <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'"
                                [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'code', dir: 'asce'}]" [rowHeight]="'auto'"
                                [limit]="6">
                
                
                
                                <ngx-datatable-column name="S.no" [width]="80" prop="name">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.name}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                                <ngx-datatable-column name="Inv #" [width]="80" prop="name">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.name}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                                <ngx-datatable-column name="Date" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                
                
                                <ngx-datatable-column name="Tax Amount" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                
                
                                <ngx-datatable-column name="Received" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                
                
                
                                <ngx-datatable-column name="Balance" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                
                
                                <ngx-datatable-column name="Action" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                
                
                
                                <ngx-datatable-column name="Paid Tax" [width]="80" prop="genericName">
                                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                        {{row.genericName}}
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                
                        </div>
                
                
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>