<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>

  <h5 class="modal-title py-0">
    <i class="fa fa-edit"></i>
    Edit Payment & Delivery Terms
    <!-- <small>
      <p class="mb-0">
        Contract No. {{data.autoContractNumber}}
      </p>
    </small> -->
  </h5>
  <div class="font text-muted text-center">Contract No. {{data.autoContractNumber}}</div>
</div>


<div class="modal-body BG p-0">
  <form #partiesForm="ngForm" novalidate (ngSubmit)="addContractPaymentDelivery(partiesForm)">

    <div class="col-md-12 pt-3 pb-2" *ngIf = "loggedInDepartmentName == 'Fabric Local'">

      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Payment Mode</label>
        <div class="col-sm-4">
          <ng-select name="paymentMode" placeholder="-- Select --"  [(ngModel)]="data.paymentMode" >
              <ng-option *ngFor="let i of paymentMode" [value]="i">
                  {{i}}
              </ng-option>
          </ng-select>
        </div>
      </div>


      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy">Payment Terms</label>
        <div class="col-sm-4">
          <ng-select required name="sellerPaymentTermId" placeholder="Payment Terms" [(ngModel)]="data.sellerPaymentTermId"
            #sellerPaymentTermId="ngModel">
            <ng-option *ngFor="let i of payment" [value]="i.id">
              {{i.term}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-4 mrg-sm1">
          <div class="input-group">
            <input required type="number" min="0" class="form-control" placeholder="days" name="sellerPaymentTermDays"
              [(ngModel)]="data.sellerPaymentTermDays" #sellerPaymentTermDays="ngModel"
              [ngClass]="{'error': sellerPaymentTermDays.invalid && partiesForm.submitted }">
          </div>
        </div>

      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Payment term Additional Info" name="sellerPaymentTermInfo"
            [(ngModel)]="data.sellerPaymentTermInfo">
        </div>
      </div>
      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy">Payment Terms (Buyer Side)</label>
        <div class="col-sm-4">
          <ng-select required name="buyerPaymentTermId" id="buyerPaymentTermId"
           placeholder="Payment Terms" [(ngModel)]="data.buyerPaymentTermId"
            #buyerPaymentTermId="ngModel" [ngClass]="{'error': buyerPaymentTermId.invalid && partiesForm.submitted }">
            <ng-option *ngFor="let i of payment" [value]="i.id">
              {{i.term}}
            </ng-option>
          </ng-select>
        </div>
        <div class="col-md-4 mrg-sm1" *ngIf = "loggedInDepartmentName == 'Fabric Local'">
          <div class="input-group">
            <input required type="number" min="0" class="form-control" placeholder="days" name="buyerPaymentTermDays"
              [(ngModel)]="data.buyerPaymentTermDays" #buyerPaymentTermDays="ngModel"
              [ngClass]="{'error': buyerPaymentTermDays.invalid && partiesForm.submitted }">
          </div>
        </div>

      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy"></label>
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="Payment term Additional Info" name="buyerSidePaymentTermInfo"
            [(ngModel)]="data.buyerSidePaymentTermInfo" #buyerSidePaymentTermInfo = "ngModel">
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text-Navy">Packing</label>
        <div class="col-sm-8">
          <ng-select required name="packingId" placeholder="-- Select --" [(ngModel)]="data.packingId"
            #packingId="ngModel" [ngClass]="{'error': packingId.invalid && partiesForm.submitted }">
            <ng-option *ngFor="let i of packing" [value]="i.id">
              {{i.name}}
            </ng-option>
          </ng-select>
        </div>
      </div>

      <div class="form-group row">
        <label for="description" class="col-sm-3 col-form-label text_Navy">Price / Delivery</label>

        <div class="col-sm-4">
          <ng-select required name="priceTermId" placeholder="-- Select --" [(ngModel)]="data.priceTermId"
            #priceTermId="ngModel" [ngClass]="{'error': priceTermId.invalid && partiesForm.submitted }">
            <ng-option *ngFor="let i of price" [value]="i.id">
              {{i.term}}
            </ng-option>
          </ng-select>
        </div>

        <div class="col-sm-4 " *ngIf = "loggedInDepartmentName == 'Fabric Local'">
          <ng-select required name="destinationId" placeholder="-- Select --" [(ngModel)]="data.destinationId"
            #destinationId="ngModel" [ngClass]="{'error': destinationId.invalid && partiesForm.submitted }">
            <ng-option *ngFor="let i of city" [value]="i.id">
              {{i.name}} <span class="text-secondary" style="font-size: 11px"></span>
            </ng-option>
          </ng-select>
        </div>

      </div>

      <div class="form-group row" *ngIf = "loggedInDepartmentName == 'Fabric Local'">
        <label for="description" class="col-sm-3 col-form-label text_Navy">Container</label>

        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Count" name="count"
          [(ngModel)]="data.count" #count = "ngModel">
        </div>

        <div class="col-sm-4 ">
          <ng-select required name="containerId" placeholder="Select Container" [(ngModel)]="data.containerId"
            #containerId="ngModel" [ngClass]="{'error': containerId.invalid && partiesForm.submitted }">
            <ng-option *ngFor="let i of container" [value]="i.id">
              {{i.containerName}} <span class="text-secondary" style="font-size: 11px"></span>
            </ng-option>
          </ng-select>
        </div>

      </div>

    </div>


    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit">
        Save
      </button>
    </div>

  </form>
</div>