<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title">
      <i class="fa fa-edit"></i>
        Edit Contracts
        <small>
            <p>
            Contract No. 16
        </p>
        </small>
    </h5>
  </div>


  <div class="modal-body BG pt-2r">
    <form #partiesForm="ngForm" novalidate>
   

        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text_Navy">Currency</label>
            <div class="col-sm-6">
              <ng-select 
              placeholder="Currency">
              <ng-option >
                  PKR
              </ng-option>
              <ng-option >
                  USD
              </ng-option>
              <ng-option >
                  EUR
              </ng-option>
              <ng-option >
                  GBP
              </ng-option>
          </ng-select>
            </div>
 

          </div>

    </form>
  </div>
  
  <div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
      Close
    </button>
    <button class="btn button-save" type="submit">
      Save 
    </button>
  </div>