<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>

  <h5 class="modal-title">
    <i class="fa fa-edit"></i>
    Quantity and Costing
    <small>
      <p class="mb-0">
        Contract No. {{data.autoContractNumber}}
      </p>
    </small>
  </h5>
</div>


<div class="modal-body BG p-0">
  <form #costingForm="ngForm" novalidate>

    <div class="col-md-12 pt-3 pb-2">


      <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label text_Navy">Currency</label>
        <div class="col-sm-8">
          <ng-select name="currencyId" placeholder="-- Select --" [(ngModel)]="data.currencyId">
            <ng-option *ngFor="let i of currency" [value]="i.id">
              {{i.name}}
            </ng-option>
          </ng-select>
        </div>
      </div>

    </div>

    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit" (click)="addContractCosting()">
        Save
      </button>
    </div>

  </form>
</div>