<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> Buyer Payments
                <div class="ml-2 descr">List of all Payments made by Buyer to Supplier </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Payments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Buyer Payments </li>
            </ol>
        </div>

    </div>
</div>


<div class="card ibox-content">

    <div class=" panel blank-panel">
        <div class="panel-heading">


            <div class="row mb-3">
                <div class="col-md-6 ">
                    <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2 ">
                        <i class="fas fa-map fa-fw mr-2"></i>0</button>
                    <span class="text-muted text2">Payments</span>
                </div>
                <div class="col-md-6 mrg-tsm">
                    <button type="button" class="btn btn-primary btn-sm float-right" (click)="navigateBuyerPaymentForm()">
                        <i class="fa fa-plus"></i> Add New Payment</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="row justify-content-end">
                        <div class=" col-md-4 pr-0">
                            <div class="form-group row">
                                <label for="inputSearch" class="col-sm-3 col-form-label">Search:</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Search.... "
                                        class="input form-control form-control-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-body">

            <ngx-datatable #myTable  class="bootstrap datatable-row-wrapper" [columns]="columns" [rows]="rows"
            [columnMode]="'force'"   [headerHeight]="50"  [sorts]="[{ prop: 'id', dir: 'asce' }]"
            [footerHeight]="30"
            [rowHeight]="50"
            [scrollbarH]="true"
            [scrollbarV]="true"
           style="height: 500px;" >







<!-- 
                <ngx-datatable-column name="Action" [width]="100">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>

                        <div class="ibox-tools text-center">

                            <button type="button" class="btn editIconBack px-1 py-1" (click)="editPayment(row)">
                                <i class="far fa-edit "></i>
                            </button>

                            <button type="button" class="btn deleteIconBack px-1 py-1"
                            (click) = "deleteBuyer(row)"
                            >
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>

                    </ng-template>
                </ngx-datatable-column> -->

                <!-- <ngx-datatable-column name="Pay ID"  prop="omPayId">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.comPayId}}
                    </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="Parent Buyer" [width]="300" prop="buyerName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.buyerName}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Parent Seller" [width]="300" prop="sellerName">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.sellerName}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Payment Date"  prop="paymentDate">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.paymentDate}}
                    </ng-template>
                </ngx-datatable-column>




                



                <ngx-datatable-column name="Pay Mode"  prop="paymentMode">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.paymentMode}}
                    </ng-template>
                </ngx-datatable-column>



                <ngx-datatable-column name="Cheque #"  prop="chequeNo">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.chequeNo}}
                    </ng-template>
                </ngx-datatable-column>

                

                <ngx-datatable-column name="Invoice Amount"  prop="invoiceAmount">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.invoiceAmount}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Recived Amount" prop="receivedAmount">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.receivedAmount}}
                    </ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="challan%" prop="challanPercentage" >
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.challanPercentage}}
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="challan Amount"  prop="challanAmount">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.challanAmount}}
                    </ng-template>
                </ngx-datatable-column>




<!-- 
                <ngx-datatable-column name="Challan Amount (Act)."  prop="chalanAmountAct">
                    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                        {{row.chalanAmountAct}}
                    </ng-template>
                </ngx-datatable-column> -->
            </ngx-datatable>

        </div>

    </div>
</div>