<div class="content-header p-4">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h3 class="m-6 ">New Enquiries </h3>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>

<div class="ibox-content">
  Enquiry Form
  <div class=" panel blank-panel">
    <div class=" panel-heading">
      <table class="table">
        <tbody>
          <tr>
            <td>


              <div class="col-md-6 col-md-offset-1">
                <div class="form-group"><label class="m-b-none ">Enquiry # <span style="margin-left: 40px;"> (Auto)
                    </span> <span style="margin-left: 160px;"> (Manual) </span></label>
                  <div class="input-group">
                    <span class="input-group-addon mr-5 ml-4">FG-</span>
                    <div class="col-md-4 ml-7">
                      <input type="text" placeholder="Auto Enquiry no." class="form-control text-w-4" id="enqry-autono"
                        value="000092" readonly="">
                    </div>
                    <div class="col-md-5 p-l-none">
                      <input type="text" placeholder="Enquiry no." class="form-control text-w-4" id="enqry-no">
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="input-group">
                        <div class="form-group row">
                            <label for="code" class="col-sm-3 col-form-label control-label">Enquiry# </label>
                         
                            <div class="col-sm-2 ">
                              <input  id="name" type="text" class="form-control" placeholder="Name" name="name">
                            </div> 
                    
                        
                          </div>
                        </div> -->
            </td>

          </tr>

          <tr>
            <td>

              <div class="form-group row">
                <label for="code" class="col-sm-3 col-form-label control-label">Buyer Name</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select class="form-control">
                      <option> Buyer 1 </option>
                      <option> Buyer 2 </option>
                      <option> Buyer 3 </option>
                      <option> Buyer 4 </option>
                    </select>
                    <button class="btn btn-success ">
                      <div class="row">
                        <div class=" col-md-12">
                          <div class="input-group col-md-offset-3">

                            <i class="fa fa-plus" (click)="addenquiryBuyerForm()" aria-hidden="true"></i>
                          </div>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>

              </div>

              <div class="form-group row">
                <label for="code" class="col-sm-3 col-form-label control-label float-right">Article Name</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select class="form-control">
                      <option> Article 1 </option>
                      <option> Article 2 </option>
                      <option> Article 3 </option>
                      <option> Article 4 </option>
                    </select>
                    <span class="float-left">
                      <button class="btn btn-success ">
                        <div class="row">
                          <div class=" col-md-12">
                            <div class="input-group col-md-offset-3">
  
                              <i class="fa fa-plus" (click)="addenquiryArticleForm()" aria-hidden="true"></i>
                            </div>
                          </div>
                        </div>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </td>
          </tr>


          <tr>
            <td>

              <div class="form-group row">
                <label for="code" class="col-sm-3 col-form-label control-label">Process</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select class="form-control">
                      <option selected disabled> Select Process </option>
                      <option> Process 1 </option>
                      <option> Process 2 </option>
                      <option> Process 3 </option>
                      <option> Process 4 </option>
                    </select>
                    <span class="float-left">
                      <button class="btn btn-success ">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="code" class="col-sm-3 col-form-label control-label">Process Type</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select class="form-control">
                      <option selected disabled> Select Process Type </option>
                      <option> Process Type 1 </option>
                      <option> Process Type 2 </option>
                      <option> Process Type 3 </option>
                      <option> Process Type 4 </option>
                    </select>
                    <span class="float-left">
                      <button class="btn btn-success " (click)="addProcessTypeForm()" >
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="code" class="col-sm-3 col-form-label control-label">Design Type</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select class="form-control">
                      <option selected disabled> Select Design </option>
                      <option> Design Type 1 </option>
                      <option> Design Type 2 </option>
                      <option> Design Type 3 </option>
                      <option> Design Type 4 </option>
                    </select>
                    <span class="float-left">
                      <button class="btn btn-success " (click)="addDesignTypeForm()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label for="code" class="col-sm-3 col-form-label control-label">Packaging</label>
                <div class="col-sm-4">
                  <div class="input-group">
                    <select class="form-control">
                      <option selected disabled> Select Packaging </option>
                      <option> Packaging 1 </option>
                      <option> Packaging 2 </option>
                      <option> Packaging 3 </option>
                      <option> Packaging 4 </option>
                    </select>
                    <span class="float-left">
                      <button class="btn btn-success " (click)="addPackingForm()">
                        <i class="fa fa-plus"></i>
                      </button>
                    </span>

                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>