<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="far fa-edit fa-fw"></i>
    Edit Process Type
  </h5>

</div>

<div class="modal-body BG pt-2r">
  <form #addAgentForm="ngForm" novalidate>

    <div class="form-group row" [class.has-error]="type.invalid && type.touched">
      <label for="type" class="col-sm-3 col-form-label control-label text_Navy">Process Type </label>
      <div class="col-sm-8">
        <input required id="type" type="text" class="form-control" placeholder="Process Type" name="type"
          [(ngModel)]="data.type" #type="ngModel" [ngClass]="{'error': type.invalid && type.touched}">
        <small>Add Process Type Description.</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label text-grey">Description</label>
      <div class="col-sm-8">
        <textarea  class="form-control" id="description" rows="3"
          placeholder="Brief Process Type description here ..." name="description" [(ngModel)]="data.description"
          #description="ngModel"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="active" class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input check-btn " type="checkbox" name="active" [(ngModel)]="data.active"
            #active="ngModel">
          <label for="active" class="form-check-label text-grey" id="active">Marked as Active</label>
        </div>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer NotBG">
  <button class="btn button-save" type="submit" (click)="UpdateProcessType()" [disabled]="addAgentForm.invalid">
    Update Process Type
  </button>
</div>