<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div>
    <h5 class="modal-title">
      <i class="fas fa-edit"></i>
      Edit Contract<br>
      <div class="font">Contract No. 16</div>
    </h5>
  </div>
</div>

<div class="modal-body BG pt-2r">
  <form #CityForm="ngForm" novalidate>

    <div class="form-group row">
      <label for="sellercomm" class="col-sm-3 col-form-label text_Navy">Comm Seller side</label>
      <div class=" col-md-7">
        <div class="row">
          <div class="col fieldmrgbtm">
            <input class="form-control" placeholder="Comm %" name="sellerSideCommission" type="number" min="0"
              [(ngModel)]=" commission.sellerSideCommission" />

          </div>

          <div class="col-md-1 text-center">per</div>

          <div class="col">
            <ng-select name="sellerSideCommissionUOMId" placeholder="Select UOM"
              [(ngModel)]=" commission.sellerSideCommissionUOMId">
              <ng-option *ngFor="let i of uom" [value]="i.id">
                {{i.name}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-md-12">
            <small>FabCot Commission in %age, if UOM not selected</small>  
          </div>

          
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label for="addinfo" class="col-sm-3 col-form-label">Additional Info</label>
      
          <div class="col-md-7 fieldmrgbtm">
            <input class="form-control" id="addinfo" placeholder="Something about FabCot Commission"
              name="sellerAdditionalInfo" [(ngModel)]=" commission.sellerAdditionalInfo" />
          </div>
        </div>


    <div class="form-group row">
      <label for="buyercomm" class="col-sm-3 col-form-label text_Navy">Comm Buyer side</label>
      <div class=" col-md-7">
        <div class="row">
          <div class="col fieldmrgbtm">
            <input class="form-control" placeholder="Comm %" name="buyerSideCommission" type="number" min="0"
              [(ngModel)]=" commission.buyerSideCommission" />
          </div>

          <div class="col-md-1">per</div>
          
          <div class="col">
            <ng-select name="sellerSideCommissionUOMId" placeholder="Select UOM"
              [(ngModel)]=" commission.buyerSideCommissionUOMId">
              <ng-option *ngFor="let i of uom" [value]="i.id">
                {{i.name}}
              </ng-option>
            </ng-select>
          </div>

          <div class="col-md-12">
            <small>FabCot Commission in %age, if UOM not selected</small>
          </div>
          
        </div>
      </div>
    </div>


    <div class="form-group row">
      <label for="buyerinfo" class="col-sm-3 col-form-label">Additional Info</label>
    
      <div class="col-md-7 fieldmrgbtm">
        <input class="form-control" id="buyerinfo" placeholder="Something about buyer side Commission"
          name="buyerAdditionalInfo" [(ngModel)]=" commission.buyerAdditionalInfo" />
      </div>
    </div>



    <div class="form-group row" *ngFor="let a of data; let i = index;">
      <label for="agentcomm" class="col-sm-3 col-form-label">Agent Comm</label>
      <div class=" col-md-7">
        <div class="row">
          <div class=" col-md-6">
            <ng-select placeholder="Select an Agent" [(ngModel)]="a.agentId" name="agentId_{{i}}">
              <ng-option *ngFor="let i of agents" [value]="i.id">
                {{i.name}}
              </ng-option>
            </ng-select>
          </div>
    
    
          <div class="col-md-6 fieldmrgbtm">
            <input class="form-control" placeholder="Comm %" [(ngModel)]="a.agentCommission" type="number"
              min="0" name="agent_{{i}}" />
          </div>
    
          <div class="col-md-12"><button class="btn btn-outline-danger mt-2 float-right" type="submit" (click)="remove(i)">
              <i class="fas fa-minus fa-xs"></i></button>
          </div>
    
        </div>
      </div>
    
    </div>


    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-7">
        <button class="btn btn-outline-success" type="submit" (click)="addMore()">
          <i class="fas fa-plus"></i>
          Add another Agent
        </button>
      </div>
    </div>
    


  </form>
</div>
<div class="modal-footer NotBG">
  <!-- <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button> -->
  <button class="btn btn-outline-dark" type="submit" (click)="activeModal.close()">
    Close
  </button>
  <button class="btn btn-save" type="submit" (click)="addContractCommision()">
    Save
  </button>
</div>