<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div >
      <h5 class="modal-title">
        <i class="fas fa-edit"></i>
        Edit Contract<br>
        <div class="font">Contract No. 16</div>
      </h5>
    </div>
  </div>
  
  <div class="modal-body BG pt-2r">
    <form #CityForm="ngForm" novalidate>
   
        <div class="form-group row">
            <label for="buyerContact" class="col-sm-3 col-form-label">Kickback</label>
            <div class=" col-md-8">
              <div class="row">
                <div class="col-md-4 fieldmrgbtm">
                  <input class="form-control" id="buyerContact"
                    placeholder="kickback%" name="buyerContact" />
                </div>
                per
                <div class="col-md-4">
                    <ng-select  placeholder="Unit" name="countryId">
                        <ng-option >
                        </ng-option>
                      </ng-select>
                </div>
                <small>
                Kickback in %age, if UOM not selected

                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="buyerContact" class="col-sm-3 col-form-label">Beneficiary</label>
            <div class=" col-md-20">
              <div class="row">
                <div class="col-md-20 fieldmrgbtm">
                  <input class="form-control" id="buyerContact"
                    placeholder="kickback beneficiary name" name="buyerContact" />
      
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="buyerContact" class="col-sm-3 col-form-label text_Navy">FabCot Comm</label>
            <div class=" col-md-8">
              <div class="row">
                <div class="col-md-4 fieldmrgbtm">
                  <input class="form-control" id="buyerContact"
                    placeholder="comm %" name="buyerContact" />
      
                </div>
                per
                <div class="col-md-4">
                    <ng-select  placeholder="Unit" name="countryId">
                        <ng-option >
                        </ng-option>
                      </ng-select>
                </div>
                <small>
                    FabCot Commission in %age, if UOM not selected

                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="buyerContact" class="col-sm-3 col-form-label">Additional Info</label>
            <div class=" col-md-20">
              <div class="row">
                <div class="col-md-20 fieldmrgbtm">
                  <input class="form-control" id="buyerContact"
                    placeholder="Something about FabCot Commission" name="buyerContact" />
      
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="buyerContact" class="col-sm-3 col-form-label text_Navy">Comm Buyer side</label>
            <div class=" col-md-8">
              <div class="row">
                <div class="col-md-4 fieldmrgbtm">
                  <input class="form-control" id="buyerContact"
                    placeholder="Comm %" name="buyerContact" />
      
                </div>
                per
                <div class="col-md-4">
                    <ng-select  placeholder="Unit" name="countryId">
                        <ng-option >
                        </ng-option>
                      </ng-select>
                </div>
                <small>FabCot Commission in %age, if UOM not selected

                </small>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="buyerContact" class="col-sm-3 col-form-label">Additional Info</label>
            <div class=" col-md-20">
              <div class="row">
                <div class="col-md-20 fieldmrgbtm">
                  <input class="form-control" id="buyerContact"
                    placeholder="Something about buyer side Commission" name="buyerContact" />
      
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row" *ngFor="let value of data; let i = index;">
            <label for="buyerContact" class="col-sm-3 col-form-label">Agent Comm</label>
            <div class=" col-md-8">
              <div class="row">
                <ng-select  placeholder="Select an Agent" [(ngModel)]="value.countryId" name="countryId_{{value.id}}">
                    <ng-option >
                    </ng-option>
                  </ng-select>
            
                <div class="col-md-8">
                    
                      <div class="col-md-8 fieldmrgbtm">
                        <input class="form-control" id="buyerContact"
                          placeholder="Comm %" [(ngModel)]="value.buyerContact" name="buyerContact_{{value.id}}" />
                      </div>
                </div>
             
              </div>
            </div>
            <button class="btn btn-outline-danger" type="submit" (click)="remove(i)">
                <i class="fas fa-minus"></i>
                  Remove
                </button>
          </div>

          <button class="btn btn-outline-success" type="submit" (click)="addMore()">
        <i class="fas fa-plus"></i>
          Add another Agent
        </button>
        
         
    </form>
  </div>
  <div class="modal-footer NotBG">
    <!-- <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button> -->
    <button class="btn btn-outline-dark" type="submit"
      >
     Close
    </button>
  <button class="btn btn-save" type="submit"
  >
  Save
</button>
  </div>