
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title py-0">
      <i class="fa fa-edit"></i>
     Edit Quantity & Costing
      <!-- <small>
        <p class="mb-0">
          Contract No. {{data.autoContractNumber}}
        </p>
      </small> -->
    </h5>
    <div class="font text-muted text-center">Contract No. {{data.autoContractNumber}}</div>
  </div>
  
  
  <div class="modal-body BG p-0">
    <form #costing="ngForm" novalidate>

        <div class="row justify-content-center">
            <div class="col-10 col-md-11 pt-3 pb-2" *ngIf="loggedInDepartmentName == 'Yarn Export' 
           || loggedInDepartmentName == 'Yarn Import'">
                <!-- <div class="col-md-12 pt-3 pb-2" *ngIf="loggedInDepartmentName == 'Yarn Export'"> -->
        
                <div class="form-group row">
                    <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Currency
        
                    </label>
                    <div class="col-md-6">
                        <ng-select [(ngModel)]="data.rateCurrencyId" placeholder="-- Select --" name="rateCurrencyId"
                            #rateCurrencyId="ngModel">
                            <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> UOM
        
                    </label>
                    <div class="col-md-6">
                        <ng-select [(ngModel)]="data.quantityUOMId" placeholder="-- Select --" name="quantityUOMId"
                            #quantityUOMId="ngModel">
                            <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Tolerance Value
        
                    </label>
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">+/-</span>
                            </div>
                            <input type="text" placeholder="qty" class="form-control" name="quantityToleranceValue"
                                #quantityToleranceValue="ngModel" [(ngModel)]="data.quantityToleranceValue">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-2">
                                   
                                    <ng-select [(ngModel)]="data.quantityUOMId" placeholder="-- Select --"   
                                    name="quantityUOMId" #quantityUOMId="ngModel">
                                    <ng-option *ngFor="let i of uomList"
                                
                                    [value]="i.id">{{ i.name }}
                                    </ng-option>
                                </ng-select>
                    
                                </div> -->
                <!-- <div class="col-md-4">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">+/-</span>
                                            </div>
                                            <input type="text" placeholder="qty" class="form-control"
                                            name="quantityToleranceValue"  #quantityToleranceValue = "ngModel"
                                             [(ngModel)] = "data.quantityToleranceValue"
                                            >
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">%</span>
                                            </div>
                                        </div>
                                </div> -->
        
        
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="col-10 col-md-11 pt-3 pb-2" *ngIf="loggedInDepartmentName != 'Yarn Export' &&
            loggedInDepartmentName != 'Yarn Import'">
                <!-- <div class="col-md-12 pt-3 pb-2" *ngIf="loggedInDepartmentName != 'Yarn Export'"> -->
        
                <div class="form-group row">
                    <label for="itemQuantity" class="col-md-3 col-form-label text_Navy"> Quantity
        
                    </label>
                    <div class="col-md-2">
                        <input type="text"  class="form-control" placeholder="Quantity" name="quantity"
                            #quantity="ngModel" [(ngModel)]="data.quantity" />
                    </div>
                    <div class="col-md-2 mrg-tsm">
        
                        <ng-select [(ngModel)]="data.quantityUOMId" placeholder="-- Select --" name="quantityUOMId"
                            #quantityUOMId="ngModel">
                            <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
                            </ng-option>
                        </ng-select>
        
                    </div>
                    <div class="col-md-4 mrg-tsm">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">+/-</span>
                            </div>
                            <input type="text" placeholder="qty" class="form-control" name="quantityToleranceValue"
                                #quantityToleranceValue="ngModel" [(ngModel)]="data.quantityToleranceValue">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>
        
                </div>
        
                <div class="form-group row">
                    <label class="col-md-3 col-form-label "> Rate</label>
                    <div class="col-md-2">
                        <input type="number" min="0" name="rate" #rate="ngModel" [(ngModel)]="data.rate" class="form-control"
                            placeholder="" />
                    </div>
                    <div class="col-md-2 mrg-tsm">
        
                        <ng-select [(ngModel)]="data.rateCurrencyId" placeholder="-- Select --" name="rateCurrencyId"
                            #rateCurrencyId="ngModel">
                            <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}
                            </ng-option>
                        </ng-select>
        
                    </div>
                    /
                    <div class="col-md-4 mrg-tsm">
                        <ng-select [(ngModel)]="data.rateUOMId" placeholder="-- Select --" name="rateUOMId"
                            #rateUOMId="ngModel">
                            <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
                            </ng-option>
                        </ng-select>
                    </div>
        
                </div>
        
                <div class="form-group row" *ngIf="loggedInDepartmentName == 'Fabric Local'">
                    <label for="itemQuantity" class="col-md-3 col-form-label "> Taxes</label>
                    <div class="col-md-8">
                        <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">GST</span>
                            </div>
                            <input type="text" placeholder="tolerance value." class="form-control" name="gst" #gst="ngModel"
                                [(ngModel)]="data.gst">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mrg-tsm">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">W.I.Tax</span>
                            </div>
                            <input type="text" placeholder="tolerance value." class="form-control" name="witAx" #witAx="ngModel"
                                [(ngModel)]="data.witAx">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
        
                
                <div class="form-group row">
                    <label for="itemQuantity" class="col-md-3 col-form-label "> Total Cost </label>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" class="form-control" value="" placeholder="Total Cost" name="contractCost"
                                    #contractCost="ngModel" [(ngModel)]="data.contractCost" />
                            </div>
                            <div class="col-md-6 mrg-tsm" *ngIf="loggedInDepartmentName == 'Fabric Local'">
                                <input type="number" class="form-control" value="" placeholder="Total Cost with GST" name="totalCostGSt"
                                    #totalCostGSt="ngModel" [(ngModel)]="data.totalCostGSt" />
                            </div>
                        </div>
                    </div>
                
                </div>
        
            </div>
        </div>

       <!-- <div class="col-md-12 pt-3 pb-2 px-3" >
        <div class="form-row">

        <div class="form-group col-md-12">
            <label for="inputEmail3" class="col-form-label control-label">Quantity:</label>
            <div class="row">

                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" min="0" placeholder="Comm%" 
                            class="form-control" 
                            >
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">per</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mrg-sm1">
                    <ng-select
                   placeholder="Select UOM" name="quantityUOMId">
               <ng-option ></ng-option>
                </ng-select>           
                </div>

                <div class="col-md-4 mrg-sm1">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">+/-</span>
                        </div>
                        <input type="text" placeholder="tolerance value." class="form-control"
                            >
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">%</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="form-group col-md-12">
            <label for="inputEmail3" class="col-form-label control-label">Rate:</label>
            <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="number" min="0" placeholder="Rate" 
                            class="form-control"                             >
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2">per</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mrg-sm1">
                    <ng-select  placeholder="Select Currency" name="currencyId">
                        <ng-option ></ng-option>
                    </ng-select>
                </div>per
                <div class="col-md-3 mrg-sm1">
                    <ng-select
                 placeholder="Select UOM" name="rateUOMId">
                <ng-option ></ng-option>
                 </ng-select> 

                </div>
                <div class="col-md-4">
            <label for="inputEmail3" class="col-form-label control-label text_Navy">Total:</label>

                    <div class="input-group">
                        <input type="number" min="0" placeholder="Total Amount" 
                            class="form-control" 
                            >
                      
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div> -->
    </form>
  
   
  
  
  
      <!-- <div class="form-group row"> -->
     </div>
     
  <div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
      Close
    </button>
    <button class="btn button-save" type="submit"
    (click) = "addContractCosting()"
    >
      Save
    </button>
  </div>
  
  <!-- </form> -->
  <!-- </div> -->