<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="content-header">

  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light"> Bank
        <div class="ml-2 descr"> Bank's Description </div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Configuration</a></li>
        <!-- <li class="breadcrumb-item">Bank Info</li> -->
        <li class="breadcrumb-item active" aria-current="page">Bank</li>
      </ol>
    </div>

  </div>
</div>


<div class="card ibox-content">
  <div class=" panel blank-panel">

    <div class=" panel-heading">

      <div class="row mb-3">
        <div class="col-sm-6 col-md-6 ">
          <button type="button" class="btn btn-primary descBtn ml-sm-none ml-md-2 ">
            <i class="fas fa-money-bill-alt fa-fw mr-2"></i>{{bankCount}}</button>
          <span class="text-muted text2">Banks</span>
        </div>
        <div class="col-sm-6 col-md-6 mrg-tsm">
          <button type="button" class="btn btn-primary btn-sm float-right" (click)="addBankForm()">
            <i class="fa fa-plus"></i> Add New Bank</button>
        </div>

      </div>


      <div class="row">
      <div class="col-md-12 mb-3">
        <div class="row justify-content-end">
          <div class=" col-md-4 pr-0">

            <div class="form-group row">
              <label for="inputSearch" class="col-sm-3 col-form-label">Search:</label>
              <div class="col-sm-9">
                <input type="text" placeholder="Search by Bank Name or Branch Name"
               class="input form-control form-control-sm" (keyup)="search($event)">
              </div>
            </div>

            <!-- <div class="input-group col-md-offset-3">
              <input type="text" placeholder="Search by Bank Name or Branch Name"
               class="input form-control w-50" (keyup)="search($event)">
            </div> -->

          </div>

          <div class="html5buttons mrg-tsm">
            <div class="dt-buttons btn-group btn-group-sm">
              <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0"
               (click)="copyBankList()" aria-controls="DataTables_Table_0"><span>Copy</span></a>
              <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                aria-controls="DataTables_Table_0"
                (click)="bankCsvFile()"
                ><span>CSV</span></a>
              <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                aria-controls="DataTables_Table_0"
                (click)="bankExcelFile()"
                ><span>Excel</span></a>
              <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                aria-controls="DataTables_Table_0"
                (click)="bankPdf()"
                ><span>PDF</span></a>
              <a class="btn btn-default buttons-print bg-white" tabindex="0"
                aria-controls="DataTables_Table_0"
                (click)="printBankList()"
                ><span>Print</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="panel-body">
      <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [sorts]="[{prop: 'id', dir: 'desc'}]" [rowHeight]="'auto'" [limit]="6">

        <ngx-datatable-column name="S. No." [width]="0.5" prop="id">
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            {{rowIndex+1}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Bank Name" [width]="3" prop="name">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.name}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Branch Code" [width]="3" prop="branchCode">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.branchCode}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Branch Name" [width]="5" prop="branchName">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.branchName}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Location" [width]="10" prop="location">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.location}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Address" [width]="10" prop="address">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.address}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Details" [width]="20" prop="details">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            {{row.details}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Action" [width]="0.5">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            
            
            <div class="ibox-tools text-center">
              <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit" (click)="editEditForm(row)">
                <i class="far fa-edit "></i>
              </button>
              <button type="button" class="btn deleteIconBack" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" (click)="deleteBank(row)">
                <i class="far fa-trash-alt"></i>
              </button>
            </div>

          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

  </div>
</div>