<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade"
 [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="far fa-edit"></i>
    Edit Bank
  </h5>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate (ngSubmit)="UpdateBank(addAgentForm)">

    <div class="row justify-content-center">
      <div class="col-10 col-md-11 pt-3 pb-2">
    
    
        <div class="form-group row" [class.has-error]="name.invalid ">
          <label for="name" class="col-md-3 col-form-label control-label text_Navy">Bank Name <span
              class="required-denote">*</span> </label>
          <div class="col-md-8">
            <input required appAutofocus maxlength="100" id="name" type="text" class="form-control" placeholder="Bank Name"
              name="name" [(ngModel)]="data.name" #name="ngModel"
              [ngClass]="{'error': name.invalid && addAgentForm.submitted}">
          </div>
        </div>
    
        <div class="form-group row" [class.has-error]="branchCode.invalid ">
          <label for="branchCode" class="col-md-3 col-form-label control-label text-grey">Branch Code </label>
          <div class="col-md-8">
            <input maxlength="15" pattern="[0-9]{5,15}" id="branchCode" type="text" class="form-control"
              placeholder="Bank Branch Code" name="branchCode" [(ngModel)]="data.branchCode" #branchCode="ngModel"
              [ngClass]="{'error': branchCode.invalid && addAgentForm.submitted}" />
          </div>
        </div>
    
        <div class="form-group row" [class.has-error]="branchName.invalid ">
          <label for="branchName" class="col-md-3 col-form-label control-label text-grey">Branch Name </label>
          <div class="col-md-8">
            <input maxlength="100" id="branchName" type="text" class="form-control" placeholder="Bank Branch Name"
              name="branchName" [(ngModel)]="data.branchName" #branchName="ngModel"
              [ngClass]="{'error': branchName.invalid }">
          </div>
        </div>
    
        <div class="form-group row" [class.has-error]="location.invalid ">
          <label for="location" class="col-md-3 col-form-label control-label text-grey">Location</label>
          <div class="col-md-8">
            <input maxlength="200" id="location" type="text" class="form-control" placeholder="Bank Location"
              name="location" [(ngModel)]="data.location" #location="ngModel"
              [ngClass]="{'error': location.invalid && addAgentForm.submitted }">
          </div>
        </div>
    
        <div class="form-group row" [class.has-error]="address.invalid && address.touched">
          <label for="address" class="col-md-3 col-form-label control-label text-grey">Address </label>
          <div class="col-md-8">
            <input maxlength="300" id="address" type="text" class="form-control" placeholder="bank address" name="address"
              [(ngModel)]="data.address" #address="ngModel"
              [ngClass]="{'error': address.invalid && addAgentForm.submitted}">
          </div>
        </div>
    
        <div class="form-group row">
          <label for="details" class="col-md-3 col-form-label text-grey">Details</label>
          <div class="col-md-8">
            <textarea maxlength="500" class="form-control" id="details" rows="3" placeholder="Action Details" name="details"
              [(ngModel)]="data.details" #details="ngModel"></textarea>
          </div>
        </div>
    
      </div>
    </div>

    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">Close</button>

      <button class="btn button-save" type="submit">
        Update Bank
      </button>
    </div>
  </form>
</div>