<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade"
 [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
        <div aria-hidden="true">&times;</div>
    </button>

    <h5 class="modal-title py-0">
        <i class="fa fa-edit"></i>
        Product and Specification
        <!-- <small>
            <p class="mb-0">
                Contract No. {{data.autoContractNumber}}
            </p>
        </small> -->
    </h5>
    <div class="font text-muted text-center">Contract No. {{data.autoContractNumber}}</div>
</div>


<div class="modal-body BG p-0">
    <form #partiesForm="ngForm" novalidate (ngSubmit)="addContractProduct(partiesForm)">

        <div class="row justify-content-center">
            <div class="col-10 col-md-11 pt-3 pb-2">
        
        
                <div class="form-group row">
                    <label for="articleId" class="col-md-3 col-form-label text_Navy">Article</label>
                    <div class="col-md-8">
                        <ng-select required name="articleId" placeholder="-- Select --" [(ngModel)]="data.articleId"
                            #articleId="ngModel" [ngClass]="{'error': articleId.invalid && partiesForm.submitted }">
                            <ng-option *ngFor="let i of article" [value]="i.id">
                                {{i.name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
        
        
                <div class="form-group row">
                    <label for="processId" class="col-md-3 col-form-label">Process</label>
                    <div class="col-md-8">
                        <ng-select required name="processId" placeholder="-- Select --" [(ngModel)]="data.processId"
                            #processId="ngModel" [ngClass]="{'error': processId.invalid && partiesForm.submitted }">
                            <ng-option *ngFor="let i of process" [value]="i.id">
                                {{i.name}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
        
        
        
                <div class="form-group row">
                    <label for="processTypeId" class="col-md-3 col-form-label">Process Type</label>
                    <div class="col-md-8">
                        <ng-select required name="processTypeId" placeholder="-- Select --" [(ngModel)]="data.processTypeId"
                            #processTypeId="ngModel" [ngClass]="{'error': processTypeId.invalid && partiesForm.submitted }">
                            <ng-option *ngFor="let i of processType" [value]="i.id">
                                {{i.type}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
        
        
                <div class="form-group row">
                    <label for="designTypeId" class="col-md-3 col-form-label">Design Type</label>
                    <div class="col-md-8">
                        <ng-select required name="designTypeId" placeholder="-- Select --" [(ngModel)]="data.designTypeId"
                            #designTypeId="ngModel" [ngClass]="{'error': designTypeId.invalid && partiesForm.submitted }">
                            <ng-option *ngFor="let i of designType" [value]="i.id">
                                {{i.type}}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
        
            </div>
        </div>


        <div class="modal-footer NotBG">
            <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
                (click)="activeModal.close()">
                Close
            </button>
            <button class="btn button-save" type="submit">
                Save
            </button>
        </div>

    </form>
</div>