<!-- <div class="content-header p-4">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h2 class="m-6">New Enquiries </h2>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="content-header">
    <div class="col-sm-12 mb-4">
      <h2 class="row wrapper page-header font-weight-light"> New Enquiries
      </h2>
    </div>
  </div> -->



<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> New Enquiries
                <div class="ml-2 descr"> Fill all the enquiry details on this page and create an enquiry in the system.
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Enquiry</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add New Enquiry</li>
            </ol>
        </div>

    </div>
</div>







<div class="card ibox-content">

    <div class="card-header pt-1 px-0">
        <h4 class="card-title">Direct Chat</h4>

        <div class="card-tools">
            <!-- <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false">
              <i class="fas fa-sync-alt"></i>
            </button> -->

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>

        <!-- <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div> -->

    </div>


    <!-- <div class="headline">
        Enquiry Form
    </div> -->

    <div class="card-body p-0">


        <div class="row">
            <div class="col-md-12 p-3">

                <form #enquiryForm="ngForm" novalidate>
                    <div class="form-row">
                        <div class="form-group col-xl-1 col-md-2 col-lg-2">
                            <label for="inputEmail4">Enquiry #</label>
                            <div class="input-group">
                                <span class="inputaddenquiryCity-group-addon">FG-</span>
                            </div>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputPassword4">Auto</label>
                            <!-- <input type="password" class="form-control" id="inputPassword4"> -->
                            <input type="text" placeholder="Auto Enquiry no." class="form-control text-w-4"
                                id="enqry-autono" value="000092" readonly="">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">(Manual)</label>
                            <!-- <input type="password" class="form-control" id="inputPassword4"> -->
                            <input type="text" placeholder="Enquiry no." class="form-control text-w-4" id="enqry-no">
                        </div>
                        <div class="form-group col-md-3 offset-md-2 offset-lg-2">
                            <label for="inputPassword4">Enquiry Date</label>
                            <!-- <input type="text" class="form-control date" id="enqry-date" value="Fri 26-Mar-2021"> -->
                            <input class="form-control " ngbDatepicker #enquiryDate="ngbDatepicker"
                                [(ngModel)]="data.enquiryDate" name="enquiryDate" (click)="enquiryDate.toggle()"
                                [displayMonths]="1" />
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 pt-2r pb-3">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Buyer
                                    Name</label>
                                <div class="col-md-6">
                                    <div class="input-group">

                                        <ng-select name="buyer " [(ngModel)]="data.buyerId" placeholder="-- Select --">
                                            <ng-option *ngFor="let i of buyer" [value]="i.id">{{ i.buyerName }}
                                            </ng-option>
                                        </ng-select>

                                        <button class="btn btn-success " (click)="addenquiryBuyerForm()">
                                            <i class="fa fa-plus"></i>
                                        </button>


                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Article
                                    Name</label>
                                <div class="col-md-6">
                                    <div class="input-group">

                                        <ng-select name="article " [(ngModel)]="data.articleId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of article" [value]="i.id">{{ i.name }}
                                            </ng-option>
                                        </ng-select>

                                        <button class="btn btn-success " (click)="addenquiryArticleForm()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="form-row border-top">
                        <div class="col-md-12 pt-2r pb-3">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Process</label>
                                <div class="col-md-6">
                                    <div class="input-group">


                                        <ng-select name="process " [(ngModel)]="data.processId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of process" [value]="i.id">{{ i.name }}
                                            </ng-option>
                                        </ng-select>

                                        <span class="float-left">
                                            <button class="btn btn-success " (click)="addenquiryProcessForm()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Process
                                    Type</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <ng-select name="processTypeId " [(ngModel)]="data.processTypeId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of ptype" [value]="i.id">{{ i.type }}
                                            </ng-option>
                                        </ng-select>
                                        <span class="float-left">
                                            <button class="btn btn-success " (click)="addProcessTypeForm()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Design
                                    Type</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <ng-select name="designTypeId " [(ngModel)]="data.designTypeId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of design" [value]="i.id">{{ i.type }}
                                            </ng-option>
                                        </ng-select>
                                        <span class="float-left">
                                            <button class="btn btn-success " (click)="addDesignTypeForm()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Packaging</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <ng-select name="packagingId " [(ngModel)]="data.packagingId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of packaging" [value]="i.id">{{ i.name }}
                                            </ng-option>
                                        </ng-select>
                                        <span class="float-left">
                                            <button class="btn btn-success " (click)="addPackingForm()">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="row border-top">
                        <div class="col-md-12 pt-2r pb-3">

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Payment
                                    Terms</label>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <ng-select name="packagingId " [(ngModel)]="data.paymentTermId"
                                                    placeholder="-- Select --">
                                                    <ng-option *ngFor="let i of payment" [value]="i.id">{{ i.term }}
                                                    </ng-option>
                                                </ng-select>

                                                <button class="btn btn-success ">
                                                    <i class="fa fa-plus" (click)="addPaymentForm()"></i>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-md-2 mrg-sm1">
                                            <input type="text" pattern="[0-9]" maxlength="3" placeholder="Days."
                                                class="form-control" [(ngModel)]="data.paymentTermDays"
                                                name="paymentTermDays">
                                        </div>

                                        <div class="col-md-4 mrg-sm1">
                                            <input type="text" placeholder="Additional Info." class="form-control"
                                                [(ngModel)]="data.paymentTermInfo" name="paymentTermInfo">
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Price
                                    terms</label>
                                <div class="col-md-3">
                                    <div class="input-group">
                                        <ng-select name="priceTermId " [(ngModel)]="data.priceTermId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of priceterm" [value]="i.id">{{ i.term }}
                                            </ng-option>
                                        </ng-select>


                                        <button class="btn btn-success ">
                                            <i class="fa fa-plus" (click)="addPriceForm()"></i>
                                        </button>

                                    </div>
                                </div>

                                <div class="col-md-3 mrg-sm1">
                                    <div class="input-group">

                                        <ng-select name="destinationId " [(ngModel)]="data.destinationId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of city" [value]="i.id">{{ i.name }}
                                            </ng-option>
                                        </ng-select>


                                        <button class="btn btn-success "
                                            (click)="addenquiryCity('CityAdd', 'cityForm')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Suppiler Side
                                    Commission</label>

                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" placeholder="Comm%" class="form-control"
                                                    [(ngModel)]="data.sellerSideCommission" name="sellerSideCommission">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">per</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 mrg-sm1">

                                            <ng-select name="sellerSideCommissionUOMId "
                                                [(ngModel)]="data.sellerSideCommissionUOMId" placeholder="-- Select --">
                                                <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>

                                        </div>

                                        <div class="col-md-4 mrg-sm1">
                                            <input type="text" placeholder="Additional Info." class="form-control"
                                                [(ngModel)]="data.sellerSideCommissionInfo"
                                                name="sellerSideCommissionInfo">
                                        </div>

                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                        FabCot Seller Side Commission in %age, if UOM not selected
                                    </small>
                                </div>

                            </div>

                            <div class="form-group row">
                                <label for="code" class="col-md-3 col-form-label control-label">Buyer Side
                                    Commission</label>

                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-4">
                                            <div class="input-group">
                                                <input type="text" placeholder="Comm%" class="form-control"
                                                    [(ngModel)]="data.buyerSideCommission" name="buyerSideCommission">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="basic-addon2">per</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4 mrg-sm1">

                                            <ng-select name="buyerSideCommissionUOMId "
                                                [(ngModel)]="data.buyerSideCommissionUOMId" placeholder="-- Select --">
                                                <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}
                                                </ng-option>
                                            </ng-select>
                                        </div>

                                        <div class="col-md-4 mrg-sm1">
                                            <input type="text" placeholder="Additional Info." class="form-control"
                                                [(ngModel)]="data.buyerSideCommissionInfo"
                                                name="buyerSideCommissionInfo">
                                        </div>
                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                        FabCot Buyer Side ommission in %age, if UOM not selected
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row border-top">
                        <div class="col-md-12 pt-2r pb-3">
                            <div class="form-group row">
                                <label for="inputEmail3"
                                    class="col-md-3 col-form-label control-label">Certification:</label>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <ng-select name="certificateId " [(ngModel)]="data.certificateId"
                                            placeholder="-- Select --">
                                            <ng-option *ngFor="let i of certification" [value]="i.id">{{ i.name }}
                                            </ng-option>
                                        </ng-select>
                                        <button class="btn btn-success " (click)="addenquiryCertificateForm()">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Remarks:</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="4" placeholder="Any Remarks Here..."
                                        [(ngModel)]="data.remarks" name="remarks"></textarea>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Other
                                    Condition:</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" rows="4" placeholder="Any Conditions Here..."
                                        [(ngModel)]="data.additionalInfo" name="additionalInfo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <button class="btn button-save" (click)="addEnquiry()">
                                <i class="fas fa-check"></i> Save &
                                Next</button>
                            <button class="btn btn-secondary ml-4" (click)="navigate()">
                                <i class="fas fa-times">
                                </i> Close
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>