<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="fa fa-map fa-fw"></i>
    Add New City Location
  </h5>

</div>

<div class="modal-body BG">
  <form #addAgentForm="ngForm" novalidate>

    <div class="form-group row" [class.has-error]="name.invalid && name.touched">
      <label for="name" class="col-sm-3 col-form-label control-label text_Navy">City Name </label>
      <div class="col-sm-9">
        <input required id="name" type="text" class="form-control" placeholder="Port City Name" name="name"
          [(ngModel)]="data.name" #name="ngModel" [ngClass]="{'error': name.invalid && name.touched}">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-grey">Country Name</label>
      <div class="col-sm-9">
        <select name="country" class="form-control" [(ngModel)]="countryId">
          <option value="null" disabled> Select Country</option>
          <option *ngFor="let i of data" [value]="i.id">
            {{i.name}}
          </option>
        </select>
      </div>
    </div>



    <div class="form-group row">
      <label for="details" class="col-sm-3 col-form-label text-grey">Description</label>
      <div class="col-sm-9">
        <textarea required class="form-control" id="details" rows="3" placeholder="Brief description here ..."
          name="details" [(ngModel)]="data.details" #details="ngModel"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="active" class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input check-btn" type="checkbox" checked>
          <label class="form-check-label text-grey">Marked as Active</label>
        </div>
      </div>
    </div>
    <!-- </div> -->

  </form>
</div>
<div class="modal-footer NotBG">
  <button class="btn button-save" type="submit" (click)="addCity()">
    Save City
  </button>
</div>