
::ng-deep .modal-dialog {
  max-width: 75% !important;
}
.form-group {
  margin-bottom: 0rem !important;
}
.modalBorder{
  border: 1px solid #dee2e6;
  padding: 8px;
}
.pdngLR{
  padding: 0px 9px 0px 8px;
}
.bgLgray{
  background-color: #e9ecef;
}

/* ::ng-deep .modal {
  top: 0;
  left: 100px !important;
} */

@media only screen and (max-width: 768px) {
  .mrg-tsm {
    margin: 10px 0 0 0;
  } 
}