<!-- Modal -->
<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
        <div aria-hidden="true">&times;</div>
    </button>
 
    <h5 *ngIf="" class="modal-title">
        <i class="fa fa-plus"></i>
        Add New Item
    </h5>

    <div *ngIf="statusCheck == 'AddEnquiryItem'">
        <h5 class="modal-title">
            <i class="fa fa-plus fa-fw"></i>
            Add New Item
        </h5>
    </div>

    <div *ngIf="statusCheck == 'EditEnquiryItem'">
        <h5 class="modal-title">
            <i class="far fa-edit fa-fw"></i>
            Edit Item
        </h5>
    </div>
</div>





<div class="modal-body BG p-0" >

    <!-- <div class="row justify-content-end">
        <div class="col-md-11">
        </div>
    </div> -->

    <div class="row">
        <div class="col-md-12">
            
            <form #EnquiryItemForm="ngForm" novalidate>    
                
                <div class="col-md-12 pt-3 pb-2 px-3">
            
                <div class="form-row text-center bgLgray" >
            
                    <!-- <div class="form-group d-inline modalBorder">
                        <label for="name" class="col-form-label">S No</label>
                    </div> -->

                    <div class="col">
                        <div class="form-row">
                    
                    
                            <div class="form-group col-3 modalBorder">
                                <label for="name" class="col-form-label">Description</label>
                            </div>
                    
                            <div class="form-group col-4 modalBorder">
                                <label for="name" class="col-form-label ">Composition</label>
                            </div>
                    
                            <div class="form-group col-2 modalBorder">
                                <label for="name" class="col-form-label">Construction</label>
                            </div>
                    
                            <div class="form-group col-3 modalBorder">
                                <label for="name" class="col-form-label">Quantity</label>
                            </div>
                    
                        </div>
                    </div>
            
                </div>

<!-- ---------------------End Heading-------------------- -->

                <div class="form-row" *ngFor="let value of data; let i = index;">
                
                    <!-- <div class=" modalBorder d-inline ">
                        <div class="h6 pdngLR">{{i+1}}</div>
                    </div> -->
                
                    <div class="col">
                
                        <div class="form-row">
                
                            <div class="form-group col-3 modalBorder">
                                <input #focus required type="text" class="form-control" placeholder="Description" name="description_{{i}}"
                                    #description="ngModel" [(ngModel)]=value.description
                                    [ngClass]="{ 'error':  description.invalid }"  />
                            </div>
                
                            <div class="form-group col-4 modalBorder">
                                <div class="row">
                                    <div class="col-lg-3 pr-0">
                                        <input required type="number" min="0" class="form-control" placeholder="%age"
                                            name="compositionPercentage_{{i}}" #compositionPercentage="ngModel" [(ngModel)]=value.compositionPercentage  
                                            [ngClass]="{ 'error':  compositionPercentage.invalid }" />
                                    </div>
                                    <div class="col-lg-5 mrg-tsm">
                                        <ng-select [(ngModel)]="value.compositionFebricTypeId" placeholder="Select Fabric" 
                                            name="compositionFebricTypeId_{{i}}">
                                            <ng-option *ngFor="let i of fabricType" [value]="i.id">{{ i.type }}</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="col-lg-4 mrg-tsm pl-0">
                                        <input type="text" class="form-control" placeholder="Additional Info"
                                            name="compositionAdditionalInfo_{{i}}" [(ngModel)]=value.compositionAdditionalInfo />
                                    </div>
                                </div>
                            </div>
                
                            <div class="form-group col-2 modalBorder">
                                <input type="text" class="form-control" placeholder="Construction" name="construction_{{i}}"
                                    [(ngModel)]=value.construction />
                            </div>
                
                            <div class="form-group col-3 modalBorder">
                                <div class="row">
                                    <div class="col-lg-4 pr-0">
                                        <input type="number" min="0" class="form-control" placeholder="Qty" name="itemQuantity_{{i}}"
                                            #itemQuantity="ngModel" [(ngModel)]=value.itemQuantity
                                            [ngClass]="{ 'error':  itemQuantity.invalid }" required />
                                    </div>
                                    <div class="col-lg-8 mrg-tsm">
                                        <ng-select [(ngModel)]="value.itemUOMId" placeholder="Select UOM" name="itemUOMId_{{i}}">
                                            <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                
                        </div>
                
                        <div class="form-row">
                
                            <div class="form-group col-3 modalBorder">
                                <input type="text" class="form-control" placeholder="GSM / Weight" name="weight_{{i}}"
                                    [(ngModel)]=value.weight />
                            </div>
                
                            <div class="form-group col-4 modalBorder">
                                <ng-select [(ngModel)]="value.loomTypeId" placeholder="Loom Type" name="loomTypeId_{{i}}" >
                                    <ng-option *ngFor="let i of loomType" [value]="i.id">{{ i.type }}</ng-option>
                                </ng-select>
                            </div>
                
                            <div class="form-group col-2 modalBorder">
                                <input type="text" class="form-control" placeholder="Size" name="size_{{i}}" [(ngModel)]=value.size  />
                            </div>
                
                            <div class="form-group col-3 modalBorder">
                                <ng-select [(ngModel)]="value.colorId" placeholder="Item Color" name="colorId_{{i}}" >
                                    <ng-option *ngFor="let i of color" [value]="i.id">{{ i.name }}</ng-option>
                                </ng-select>
                            </div>
                
                        </div>
                
                        <div class="form-row form-group modalBorder">
                            <textarea class="form-control" rows="3" name="remarks_{{i}}" placeholder="Remarks"
                                [(ngModel)]=value.remarks></textarea>
                
                        </div>
                
                    </div>
                </div>
                
         <div class="row">
             <div class="col-md-12 mt-3">
            <button *ngIf="statusCheck != 'EditEnquiryItem'" class="btn btn-primary float-right" (click)="addMore()" [disabled]="EnquiryItemForm.invalid">Add More</button>
            <button class="btn btn-outline-danger mr-2 float-right" (click)="remove()" type="submit" *ngIf="counter != 0">Revert Last
                <i class="fas fa-minus fa-xs"></i></button>
        </div>
         </div> 

        
  
</div>
<div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
        Close
    </button>
    
    <button *ngIf="statusCheck == 'AddEnquiryItem'" class="btn button-save" type="submit" (click) = "addEnquiryItem(EnquiryItemForm)">
        Save
    </button>
    <button *ngIf="statusCheck == 'EditEnquiryItem'" class="btn button-save" type="submit" (click)="updateEnquiry(EnquiryItemForm)">
        Update Item
    </button>

</div>





</form>




</div>

</div>
</div>




