<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
        <div aria-hidden="true">&times;</div>
    </button>

    <h5 *ngIf="" class="modal-title">
        <i class="fa fa-plus"></i>
        Add New Item
    </h5>

    <div *ngIf="statusCheck == 'AddEnquiryItem'">
        <h5 class="modal-title">
            <i class="fa fa-plus fa-fw"></i>
            Add New Item
        </h5>
    </div>

    <div *ngIf="statusCheck == 'EditEnquiryItem'">
        <h5 class="modal-title">
            <i class="far fa-edit fa-fw"></i>
            Edit Item
        </h5>
    </div>
</div>


<div class="modal-body BG pt-2r">
    <form #EnquiryItemForm="ngForm" novalidate>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text_Navy">Item Description</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Description" name="description" />
            </div>
        </div>


        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text_Navy">Item Quantity</label>

            <div class="col-md-3">
                <input type="number" class="form-control" placeholder="Quantity" name="quantity" />
            </div>
            <div class="col-md-5">
                <ng-select placeholder="-- Select --" name="countryId">
                    <ng-option>
                        ok
                    </ng-option>
                </ng-select>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label ">Composition</label>

            <div class="col-md-2">
                <input type="number" class="form-control" placeholder="%age" name="quantity" />
            </div>
            <div class="col-md-3">
                <ng-select placeholder="-- Select Fabric type --" name="composition">
                    <ng-option>
                        ok
                    </ng-option>
                </ng-select>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Additional Info" name="quantity" />
            </div>
        </div>


        <div class="form-group row">
            <label for="name" class="col-md-3 col-form-label ">Construction</label>
            <div class="col-md-8">
                <input type="text" class="form-control" placeholder="Construction" name="construction" />
            </div>
        </div>


        <div class="form-group row">
            <label for="countryId" class="col-sm-3 col-form-label">Item Color</label>
            <div class="col-sm-8">
                <ng-select required placeholder="-- Select --" name="countryId">
                    <ng-option>
                        <span> ok</span>
                    </ng-option>
                </ng-select>
            </div>
        </div>


        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label ">GSM / Weight</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Description" name="weight" />
            </div>
        </div>


        <div class="form-group row">
            <label for="countryId" class="col-sm-3 col-form-label">Loom Type </label>
            <div class="col-sm-8">
                <ng-select required placeholder="Select Loom Type" name="loomType">
                    <ng-option>
                        <span> ok</span>
                    </ng-option>
                </ng-select>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label ">Size</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Description" name="size" />
            </div>
        </div>


        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label ">Remarks</label>
            <textarea class="col-sm-8 form-control" rows="3">

            </textarea>
        </div>



    </form>
</div>


<div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
        Close
    </button>
    <button *ngIf="statusCheck == 'AddEnquiryItem'" class="btn button-save" type="submit">
        Save & Next
    </button>
    <button *ngIf="statusCheck == 'AddEnquiryItem'" class="btn button-save" type="submit">
        Save & Exit
    </button>
    <button *ngIf="statusCheck == 'EditEnquiryItem'" class="btn button-save" type="submit">
        Update Item
    </button>

</div>