<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h5 class="modal-title">
    <i class="far fa-edit"></i>
    Edit Price Term
  </h5>
</div>

<div class="modal-body BG">
  <form #addPriceForm="ngForm" novalidate>

    <div class="form-group row" [class.has-error]="term.invalid && term.touched">
      <label for="term" class="col-sm-3 col-form-label control-label text_Navy">Price Term </label>
      <div class="col-sm-9">
        <input required id="term" type="text" class="form-control" placeholder="Priceterm name" name="term"
          [(ngModel)]="data.term" #term="ngModel" [ngClass]="{'error': term.invalid && term.touched}">
        <small>Add Price Term</small>
      </div>
    </div>


    <div class="form-group row">
      <label for="description" class="col-sm-3 col-form-label text-grey">Description</label>
      <div class="col-sm-9">
        <textarea required class="form-control" id="description" rows="3"
          placeholder="Brief Price Term description here ..." name="description" [(ngModel)]="data.description"
          #description="ngModel"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="active" class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-sm-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input check-btn" type="checkbox" checked>
          <label class="form-check-label text-grey">Marked as Active</label>
        </div>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer NotBG">
  <button class="btn button-save" type="submit" (click)="UpdatePrice()">
    Update Price Term
  </button>
</div>