.clr{
    background-color: #23c6c8 !important;
}
.YE{
    background-color: #f8ac59 !important;
}
.FE{
    background-color: #ed5565 !important;
}
.YL{
    background-color: #1c84c6 !important;
}
.YK{
    background-color: #08d490 !important;
}
.FL{
    background-color: #b592dd !important;
}
.HT{
    background-color: #e7d272 !important;
}
.CT{
    background-color: #f8ac59 !important;
}

