.clr{
    background-color: #23c6c8 !important;
}
.YE{
    background-color: #f8ac59 !important;
}
.FE{
    background-color: #ed5565 !important;
}
.YL{
    background-color: #1c84c6 !important;
}
.YK{
    background-color: #08d490 !important;
}
.FL{
    background-color: #b592dd !important;
}
.HT{
    background-color: #e7d272 !important;
}
.CT{
    background-color: #f8ac59 !important;
}
.backgroundclass{
  border: 1px solid whitesmoke;
  border-radius: 5%;
  background-color: whitesmoke;
}
input[type="radio"] {
    width: 50px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid #1FBED6;
    background-color: white;
    -webkit-appearance: none; /*to disable the default appearance of radio button*/
    -moz-appearance: none;
  }
  
  input[type="radio"]:focus { /*no need, if you don't disable default appearance*/
    outline:#fff; /*to remove the square border on focus*/
  }
  
  input[type="radio"]:checked { /*no need, if you don't disable default appearance*/
    background-color: #1FBED6;
    outline:#fff
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  
  label span:first-of-type {
    position: relative;
    right: 38px;
    font-size: 14px;
    color: #1FBED6;
    padding: 5px;
  }
  
  label span {
    position: relative;
    top: -12px;
  }