
<div class="content-header">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light">Payment Collection / Sale Receipt
        <div class="ml-2 descr"> It displays payment collection details against submitted sale receipt by user </div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Billing & Payment</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Payment Collection / Sale Receipt
        </li>
      </ol>
    </div>
  </div>
</div>






  <div class="card ibox-content">
    <div class="panel blank-panel">
      
      <div class="panel-heading">
        
        <div class="row" >
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-4">
                <div class="dropdown">
                  Show &nbsp;
                  <button class="btn btn-outline-secondary btn-sm dropdown-toggle btn-sm-eqry" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10
                  </button>
                  &nbsp; Entries
                  <div class="dropdown-menu dropdown-menueqry" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">25</a>
                    <a class="dropdown-item" href="#">50</a>
                    <a class="dropdown-item" href="#">100</a>
                  </div>
                </div>
                <p class="mt-2">Showing 1 to 10 of 10 Entries</p>
              </div>

              <div class="col-md-8">

                <div class="row justify-content-end">
              
                <div class="col-md-4">
                  <div class="input-group col-md-offset-3">
                    <input type="text" placeholder="Search..." class="input form-control w-50" />
                  </div>
                </div>
              
                <div class="html5buttons mrg-tsm">
                  <div class="dt-buttons btn-group">
                    <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0" aria-controls="DataTables_Table_0"
                    (click)="copyPaymentList()"  ngxClipboard><span>Copy</span>
                    </a>
                    <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"><span>CSV</span></a>
                    <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"><span>Excel</span></a>
                    <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"><span>PDF</span></a>
                    <a class="btn btn-default buttons-print bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"><span>Print</span></a>
                  </div>
                </div>

              </div>
              
              </div>


            </div>
          </div>
        </div>

      </div>
  




      <div class="panel-body">
        <ngx-datatable class="bootstrap datatable-row-wrapper" [columns]="columns" [rows]="rows" [columnMode]="'flex'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="6">
      
          <ngx-datatable-column name="S:Seller/B:Buyer" [width]="80" prop="sellerBuyer" [flexGrow]="0.03">
            <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.selerName }}  {{row.buyerName}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Receipt" [width]="80" prop="receipt" [flexGrow]="0.05">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.receiptNumber}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Bill" [width]="80" prop="bill" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.billNumber}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contract" [width]="80" prop="contract" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.contractNumber}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sale Invoice" [width]="80" prop="invoice" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.saleInvoiceId}}
            </ng-template>
          </ngx-datatable-column>
      
          <ngx-datatable-column name="Payment On" [width]="80" prop="date" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.paymentDate}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Net Amount" [width]="80" prop="amount" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Payment Mode" [width]="80" prop="mode" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.paymentMode}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [width]="80" prop="action" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      
              <div class="ibox-tools text-center">
                <button type="button" class="btn editIconBack" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Edit" (click)= "navigatePaymentForm('editPayment' , row)"><i
                    class="far fa-edit"></i></button>
                <button type="button" class="btn deleteIconBack" data-toggle="tooltip" data-placement="top" title=""><i class="fas fa-trash"></i></button>
              </div>
            </ng-template>
          </ngx-datatable-column>
      
        </ngx-datatable>
      </div>




    </div>
    </div>
  <!-- </div> -->