
<div class="content-header">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">
      <h2 class="row wrapper page-header font-weight-light">Payment Collection / Sale Receipt
        <div class="ml-2 descr"> It displays payment collection details against submitted sale receipt by user </div>
      </h2>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4">
      <ol class="breadcrumb flt-RnL">
        <li class="breadcrumb-item"><a href="#">Billing & Payment</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Payment Collection / Sale Receipt
        </li>
      </ol>
    </div>
  </div>
</div>





<div class="card shadow mb-4">
  <div class="card-body">
 
    <div class="panel blank-panel">
      
      <div class="panel-heading">
        
        <div class="row" >
          <div class="col-md-12">
            <div class="row">

              <div class="col-md-4">
                <!-- <div class="dropdown">
                  Show &nbsp;
                  <button class="btn btn-outline-secondary btn-sm dropdown-toggle btn-sm-eqry" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10
                  </button>
                  &nbsp; Entries
                  <div class="dropdown-menu dropdown-menueqry" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">25</a>
                    <a class="dropdown-item" href="#">50</a>
                    <a class="dropdown-item" href="#">100</a>
                  </div>
                </div> -->
                <!-- <p class="mt-2">Showing 1 to 10 of 10 Entries</p> -->
              </div>

              <div class="col-md-8 mb-2">

                <div class="row justify-content-end">
              
                <div class="col-md-5 col-xl-4 pr-0">

                  <div class="form-group row">
                    <label for="inputSearch" class="col-sm-4 col-xl-3 col-form-label">Search</label>
                    <div class="col-sm-8 col-xl-9">
                      <input type="text" placeholder="Search..." class="input form-control form-control-sm" (keyup)="search($event)" />
                    </div>
                  </div>

                  <!-- <div class="input-group col-md-offset-3">
                    <input type="text" placeholder="Search..." class="input form-control w-50" 
                    (keyup)="search($event)"/>
                  </div> -->

                </div>
              
                <div class="html5buttons mrg-tsm">
                  <div class="dt-buttons btn-group btn-group-sm">
                    <a class="btn btn-default buttons-copy buttons-html5 bg-white" tabindex="0" aria-controls="DataTables_Table_0"
                    (click)="copyPaymentList()"  ngxClipboard><span>Copy</span>
                    </a>
                    <a class="btn btn-default buttons-csv buttons-html5 bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"
                      (click) = "paymentCsvFile()"
                      ><span>CSV</span></a>
                    <a class="btn btn-default buttons-excel buttons-html5 bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"
                      (click)=" paymentExcelFile()"
                      ><span>Excel</span></a>
                    <a class="btn btn-default buttons-pdf buttons-html5 bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"
                      (click) = "printActiveBillspdf()"
                      ><span>PDF</span></a>
                    <a class="btn btn-default buttons-print bg-white" tabindex="0"
                      aria-controls="DataTables_Table_0"
                      (click) = "printActiveBillsList()"
                      ><span>Print</span></a>
                  </div>
                </div>

              </div>
              
              </div>


            </div>
          </div>
        </div>

      </div>
  




      <div class="panel-body">
        <ngx-datatable class="bootstrap datatable-row-wrapper" [columns]="columns" [rows]="rows" [columnMode]="'flex'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="6"
          [sorts]="[{ prop: 'id', dir: 'desc' }]"
          >
      
          <ngx-datatable-column name="S:Seller/B:Buyer"  prop="buyerName" [flexGrow]="0.07">
            <ng-template let-row="row"  let-expanded="expanded"   ngx-datatable-cell-template>
              <b *ngIf="row.buyerName !=null"> B:{{row.buyerName}}</b>            
              <b *ngIf="row.sellerName !=null"> S:{{row.sellerName}}</b>            
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Receipt" [width]="60" prop="receiptNumber" [flexGrow]="0.05">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
              {{row.receiptNumber}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Bill" [width]="60" prop="billNumber" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.billNumber}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Contract" [width]="60" prop="contractNumber" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.contractNumber}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Sale Invoice" [width]="40" prop="saleInvoiceNo" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.saleInvoiceNo}}
            </ng-template>
          </ngx-datatable-column>
      
          <ngx-datatable-column name="Payment On" [width]="50" prop="paymentDate" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.paymentDate}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Net Amount" [width]="50" prop="netAmount" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.netAmount}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Payment Mode" [width]="40" prop="paymentMode" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      {{row.paymentMode}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Action" [width]="40" prop="action" [flexGrow]="0.06">
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
      
              <div class="ibox-tools text-center">
                <button type="button" class="btn editIconBack px-1 py-1" data-toggle="tooltip" data-placement="top" title=""
                  data-original-title="Edit" (click)= "navigatePaymentForm('editPayment' , row)"><i
                    class="far fa-edit"></i></button>
                <button type="button" class="btn deleteIconBack px-1 py-1" data-toggle="tooltip"
                 data-placement="top" title=""><i class="fas fa-trash" (click) = "deletePayment(row)"></i></button>
              </div>
            </ng-template>
          </ngx-datatable-column>
      
        </ngx-datatable>
      </div>




    </div>
  
  </div>
</div>
  <!-- </div> -->