<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title">
      <i class="fa fa-plus"></i>
      Add New Item
    </h5>
  </div>

  
  <div class="modal-body BG pt-2r">
    <form #partiesForm="ngForm" novalidate>
        <div class="form-group row">
            <label for="name" class="col-sm-3 col-form-label text_Navy">Item Description</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="" placeholder="Description">
               
            </div>
          </div>


          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text_Navy">Item Quantity</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" value="" placeholder="Quantity">
            </div>
            <div class="col-md-4">
               
                    <ng-select 
                    placeholder="Select UOM">
                    <ng-option >
                        Sets
                    </ng-option>
                    <ng-option>
                        Yards
                    </ng-option>
                    <ng-option>
                        Meters
                    </ng-option>
                    <ng-option>
                        Unit
                    </ng-option>
                  </ng-select>

            </div>
      
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label ">Construction</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="" placeholder="Item Composition">
               
            </div>
          </div>
          

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text-Navy">Item Color</label>
            <div class="col-sm-6">
                <ng-select 
                placeholder="Select Color" class="text-center">
                <ng-option >
                </ng-option>
              </ng-select>
               
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text-Navy">GSM / Weight</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="" placeholder="Item GSM / Weight">
               
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text-Navy">Loom Type</label>
            <div class="col-sm-6">
                <ng-select 
                placeholder="Select Loom Type" class="text-center">
                <ng-option >
                </ng-option>
              </ng-select>
               
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text-Navy">Size</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="" placeholder="Item Size">
               
            </div>
          </div>


          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text_Navy">Price / Rate</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" value="" placeholder="Rate">
            </div>
            <div class="col-md-2">
               
                <ng-select 
                placeholder="Select Currency">
                <ng-option >
                    PKR
                </ng-option>
                <ng-option>
                    USD
                </ng-option>
                <ng-option>
                    EUR
                </ng-option>
                <ng-option>
                    GBP
                </ng-option>
              </ng-select>

        </div>
  
            <div class="col-md-2">
               
                    <ng-select 
                    placeholder="Select UOM">
                    <ng-option >
                        Sets
                    </ng-option>
                    <ng-option>
                        Yards
                    </ng-option>
                    <ng-option>
                        Meters
                    </ng-option>
                    <ng-option>
                        Unit
                    </ng-option>
                  </ng-select>

            </div>
      
          </div>

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text-Navy">Cost</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="" placeholder="" readonly>
               
            </div>
          </div>

          <div class="form-group row">
            <label for="remarkbuyer" class="col-sm-3 col-form-label text_grey"> Remarks</label>
            <div class="col-sm-6">
              <textarea 
               class="form-control" id="remarkbuyer" rows="5" placeholder="Item Additional details here ..."
                name="remarkbuyer"  ></textarea>
            </div>
          </div> 

    </form>
  </div>
  
  <div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
      Close
    </button>
 
    <button class="btn button-save" type="submit">
        Save & Next
      </button>
      <button class="btn button-save" type="submit">
        Save & Close
      </button>
  </div>
