<div class="modal-header" *ngIf="FormName == 'ItemForm'">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="statusCheck == 'ItemAdd'">
    <h5 class="modal-title">
      <i class="fas fa-plus"></i>
      Add New Item
    </h5>
  </div>
  <div *ngIf="statusCheck == 'ItemEdit'">
    <h5 class="modal-title">
      <i class="far fa-edit fa-fw"></i>
      Edit Item
    </h5>
  </div>
</div>

  
  <div class="modal-body BG p-0">
    <form #ItemForm="ngForm" novalidate>

      <div class="col-md-12 pt-3 pb-2">

        <div class="form-group row">
            <label class="col-sm-3 col-form-label text_Navy">Item Description
              <span class="required-denote">*</span>
            </label>
            <div class="col-sm-8">
                <input #focus required type="text" class="form-control" name="description" [(ngModel)]="data.description" #description="ngModel"
                [ngClass]="{ 'error': ItemForm.submitted && description.invalid  }"
                 placeholder="Description" />
               
            </div>
          </div>

          <div class="form-group row">
            <label for="itemQuantity" class="col-sm-3 col-form-label text_Navy">Item Quantity<span class="required-denote">*</span>
    
            </label>
            <div class="col-sm-3">
                <input type="number" min="0" required (keyup)="itemquantity($event)"
                id="itemQuantity" [ngClass]="{ 'error': itemQuantity.invalid && ItemForm.submitted }" #itemQuantity="ngModel"
              name="itemQuantity" [(ngModel)]="data.itemQuantity" #itemQuantity="ngModel"
                class="form-control" value="" placeholder="Quantity" />
            </div>
            <div class="col-md-5">
               
              <ng-select
              [(ngModel)]="data.itemUOMId" placeholder="Select UOM" name="itemUOMId">
                <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.name }}</ng-option>
            </ng-select>

            </div>
      
          </div>

          <div class="form-group row">
            <label for="construction" class="col-sm-3 col-form-label">Construcrion<span class="required-denote">*</span></label>
            <div class="col-sm-2">
                <input type="number" id="compositionPercentage" min="0" required [ngClass]="{ 'error': compositionPercentage.invalid && ItemForm.submitted }" #compositionPercentage="ngModel"
                name="compositionPercentage" [(ngModel)]="data.compositionPercentage" #compositionPercentage="ngModel" class="form-control" value="" placeholder="%age">
            </div>
            <div class="col-md-3">
               
              <ng-select [(ngModel)]="data.compositionFebricTypeId" placeholder="Select Fabric Type" name="compositionFebricTypeId">
                <ng-option *ngFor="let i of fabric" [value]="i.id">{{ i.type }}</ng-option>
            </ng-select>

        </div>
  
            <div class="col-md-3">
               
              <input type="text" id="compositionAdditionalInfo"
              name="compositionAdditionalInfo" [(ngModel)]="data.compositionAdditionalInfo" #compositionAdditionalInfo="ngModel" class="form-control" value="" placeholder="Additional Info">
          

            </div>
      
          </div>

          <div class="form-group row">
            <label for="construction" class="col-sm-3 col-form-label ">Composition</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" value="" placeholder="Item Composition"
                id="construction"
                name="construction" [(ngModel)]="data.construction" #construction="ngModel" />
               
            </div>
          </div>       

          <div class="form-group row">
            <label for="description" class="col-sm-3 col-form-label text-Navy">Item Color</label>
            <div class="col-sm-8">
              <ng-select [(ngModel)]="data.colorId" placeholder="Select Color" name="colorId">
                <ng-option *ngFor="let i of color" [value]="i.id">{{ i.name }}</ng-option>
            </ng-select>
               
            </div>
          </div>

          <div class="form-group row">
            <label for="weight" class="col-sm-3 col-form-label text-Navy">GSM / Weight</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="weight"
                name="weight" [(ngModel)]="data.weight" #weight="ngModel" value="" placeholder="Item GSM / Weight">
               
            </div>
          </div>

          <div class="form-group row">
            <label for="loomTypeId" class="col-sm-3 col-form-label text-Navy">Loom Type</label>
            <div class="col-sm-8">
              <ng-select [(ngModel)]="data.loomTypeId" placeholder="Select Loom Type" name="loomTypeId">
                <ng-option *ngFor="let i of loomType" [value]="i.id">{{ i.type }}</ng-option>
            </ng-select>
              
            </div>
          </div>

          <div class="form-group row">
            <label for="size" class="col-sm-3 col-form-label text-Navy">Size</label>
            <div class="col-sm-8">
                <input type="text" id="size"
                name="size" [(ngModel)]="data.size" #size="ngModel" class="form-control" value="" placeholder="Item Size">
               
            </div>
          </div>

          <div class="form-group row">
            <label for="contractRate" class="col-sm-3 col-form-label text_Navy">Price / Rate</label>
            <div class="col-sm-2">
                <input id="contractRate" min="0" (keyup)="rate($event)"
                name="contractRate" [(ngModel)]="data.contractRate" #contractRate="ngModel" class="form-control" value="" placeholder="Rate">
            </div>
            <div class="col-md-3">
               
              <ng-select [(ngModel)]="data.contractCurrencyId" placeholder="Select Currency" name="contractCurrencyId">
                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}</ng-option>
            </ng-select>

        </div>
  
            <div class="col-md-3">
               
              <ng-select [(ngModel)]="data.contractUOMId" placeholder="Select UOM" name="contractUOMId">
                <ng-option *ngFor="let i of uomList" [value]="i.id">{{ i.unit }}</ng-option>
            </ng-select>

            </div>
      
          </div>

          <div class="form-group row">
            <label for="contractCost" class="col-sm-3 col-form-label text-Navy">Cost</label>
            <div class="col-sm-8">
                <input disabled type="text"  class="form-control" placeholder="" 
                name="contractCost" [(ngModel)]="data.contractCost" #contractCost="ngModel">
               
            </div>
          </div>

          <div class="form-group row">
            <label for="remarks" class="col-sm-3 col-form-label text_grey"> Remarks</label>
            <div class="col-sm-8">
              <textarea 
               class="form-control" id="remarks"
               name="description" [(ngModel)]="data.remarks" #remarks="ngModel" rows="5" placeholder="Item Additional details here ..."
                name="remarks"  ></textarea>
            </div>
          </div> 

  </div>
  
  

  <div class="modal-footer NotBG" *ngIf="FormName == 'ItemForm'">
    <!-- <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button> -->
    <button *ngIf="statusCheck == 'ItemAdd'" class="btn button-save" type="submit"
      (click)="addItem(ItemForm)">
      Save Item
    </button>
  
    <button  *ngIf="statusCheck == 'ItemEdit'" class="btn button-save" type="submit"
      (click)="UpdateItem()">
      Update Item
    </button>
  </div>

  </form>
  </div>