<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

<div class="content-header">

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light"> External Commission Payment
                <div class="ml-2 descr" *ngIf = "statusCheck.statusCheck == 'add'"> Fill all the Payment Details
                </div>
 
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">External Commission Payments</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add Payment</li>
            </ol>
        </div>

    </div>
</div>







<div class="card ibox-content">

    <div class="card-header pt-1 px-0">
        <h4 class="card-title" *ngIf = "statusCheck.statusCheck == 'add'">Commission Payment Received Form:</h4>


        <div class="card-tools">

            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                <i class="fas fa-expand"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
            </button>
        </div>

    </div>



    <div class="card-body p-0">


        <div class="row">
            <div class="col-md-12 p-3">

                <form #commissionForm="ngForm" novalidate>
                    <!-- add commission parties -->
                    <div class="form-row" *ngIf="statusCheck.statusCheck == 'add'">
                
                        <div class="col-md-12 pt-2 pb-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="badge badge-primary">Parties</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Agent Name:
                                </label>
                                <div class="col-md-7">
                                    <ng-select name="agentId" #agentId="ngModel" class="input-w px-0"  [(ngModel)]="commData.agentId"
                                        placeholder="-- Select --">
                                        <ng-option *ngFor="let i of agent" [value]="i.id">{{ i.name }}
                                        </ng-option>
                                    </ng-select>
                
                
                                    <div class="col-md-7">
                                        <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                            Parent Buyer are available for selection
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label">
                                    Supplier Name:
                                </label>
                                <div class="col-md-7">
                                    <ng-select name="sellerId" #sellerId="ngModel" class="input-w px-0" (change)="sellerNameChange($event)" [(ngModel)]="commData.sellerId"
                                        placeholder="-- Select --">
                                        <ng-option *ngFor="let i of seller" [value]="i.id">{{ i.sellerName }}
                                        </ng-option>
                                    </ng-select>
                
                
                                    <div class="col-md-7">
                                        <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                            Parent Supplier are available for selection
                                        </small>
                                    </div>
                                </div>
                            </div>
                
                         
                
                
                            <!-- <div class="form-group row">
                                <label class="col-md-3 col-form-label control-label" for="isBuyerCommission">
                                    Is Buyer Commission
                                </label>
                
                                <div class="col-md-7">
                                    <div class="form-check">
                                        <input id="isBuyerCommission" class="form-check-input" type="checkbox" value=""
                                            name="isBuyerCommission" #isBuyerCommission="ngModel"
                                            [(ngModel)]="commData.isBuyerCommission">
                                        <small id="passwordHelpBlock" class="form-text text-lightgrey pt-1">
                                            Checked if commission payment is from Buyer
                                        </small>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                
                    </div>
                
                    <!-- addNew commission parties -->
                
               
                
                
                
                
                
                
                
                    <!---------- payment Details ---------->
                    <div class="form-row border-top">
                        <div class="col-md-12 pt-3 pb-3">
                
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <span class="badge badge-primary">Payment Details</span>
                                </div>
                            </div>
                
                
                
                            <!--  add commission payment Date -->
                            <div class="form-group row" *ngIf="statusCheck.statusCheck == 'add'">
                
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Payment Date</label>
                
                                <div class="col-md-7">
                                    <div class="row">
                
                
                                        <div class="col-md-5">
                                            <div class="input-group">
                                                <input navigation="select" class="form-control  " ngbDatepicker
                                                    #validityDate="ngbDatepicker" (click)="validityDate.toggle()" name="paymentDate"
                                                    placeholder="Payment Date" #paymentDate="ngModel"
                                                    [(ngModel)]="commData.paymentDate" />
                                            </div>
                                        </div>
                
                                        <div class="col-md-7 mrg-tsm">
                                            <div class="input-group">
                                                <label for="inputEmail3" class="col-form-label control-label col-md-3">Pay No.</label>
                
                                                <div class="col-md-9">
                                                    <input type="text" placeholder="Payment Number" class="form-control text-w-60"
                                                        name="payNo" #payNo="ngModel" [(ngModel)]="commData.payNo">
                                                </div>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                
                       
                
                
                
                            <!-- add commission amount-->
                            <div class="form-group row" *ngIf="statusCheck.statusCheck == 'add'">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">Amount</label>
                                <div class="col-md-7">
                                    <div class="row">
                
                
                                        <div class="col-md-3">
                                            <div class="input-group">
                                                <input type="text" class="form-control text-w-40" name="amount" #amount="ngModel" (change)="onBlurMethod(commData.amount)" (keyup)="amountCall($event)"
                                                    [(ngModel)]="commData.amount" placeholder="Amount">
                                            </div>
                                        </div>
                
                                        <div class="col-md-2 mrg-tsm">
                                            <ng-select placeholder="--Select currency--" id="currencyId"
                                                [(ngModel)]="commData.currencyId" name="currencyId" #currencyId="ngModel">
                                                <ng-option *ngFor="let i of currency" [value]="i.id">{{ i.code }}
                                                    <span *ngIf="i.name !=null" class="text-muted" style="font-size: 11px">( {{ i.name
                                                        }}
                                                        )</span>
                                                </ng-option>
                                            </ng-select>
                                        </div>
                
                                        <div class="col-md-7 mrg-tsm p-0">
                                            <div class="input-group">
                                                <label for="inputEmail3" class="col-form-label control-label col-md-3">Pay Mode</label>
                                                <div class="col-md-9">
                                                    <ng-select name="paymentMode" placeholder="-- Select --" id="paymentId"
                                                        [(ngModel)]="commData.paymentMode">
                                                        <ng-option *ngFor="let i of paymentMode" [value]="i">
                                                            {{i}}
                                                        </ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                
                                    </div>
                                </div>
                
                            </div>
                
                            <!-- addNew -->
                          
                
                
                
                            <!-- add commission Additional details -->
                            <div class="form-group row" *ngIf="statusCheck.statusCheck == 'add'">
                                <label for="inputEmail3" class="col-md-3 col-form-label control-label">
                                    Additional Details</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control text-w-40" placeholder="Additional Details"
                                            #additionalDetail="ngModel" name="additionalDetail" [(ngModel)]="commData.additionalDetail">
                                        <small id="passwordHelpBlock" class="form-text text-lightgrey">
                                            Cheque DO , IT etc Number
                                        </small>
                                    </div>
                
                            </div>
                            <!-- addNew -->
                
                        
                
                
                
                            <!-- received Date -->
                    
                
                
             
                
                            <!-- deposited in bank -->
                       
                
                
                        </div>
                    </div>
                
                
                
                
                
                
                    <!---------- add Commission  Sale invoice ---------->
                    <div class="border-top" *ngIf="statusCheck.statusCheck == 'add'">
                        <div class="col-md-12 pt-3 pb-3">
                
                            <!-- <div class=" mb-3">
                                <span class="badge badge-primary">Sale Invoices</span>
                            </div> -->

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <span class="badge badge-primary">Sale Invoices</span>
                                </div>
                            </div>
                 
                            <!-- <div class="form-group row">
                                            <button class="btn btn-primary float-left">
                                                Sale Invoices
                                            </button>
                                        </div> -->
                
                            <!-- table -->{{result}}
                            <div class="panel-body">
                                <ngx-datatable class="bootstrap datatable-row-wrapper" [columns]="columns" [rows]="rows"
                                    [columnMode]="'flex'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" >
                
                                    <ngx-datatable-column name="Sno" [width]="80" prop="sno" [flexGrow]="0.03">
                                        <ng-template let-rowIndex="rowIndex" let-row="row" let-expanded="expanded"
                                        ngx-datatable-cell-template>
                                        {{rowIndex + 1}}
                                    </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Inv #" [width]="80" prop="saleInvoiceNo" [flexGrow]="0.05">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.saleInvoiceNo}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Contract#" [width]="80" prop="contractId" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.autoContractNumber}}
                
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Bill#" [width]="80" prop="bill" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.billNo}}
                
                                        </ng-template>
                                    </ngx-datatable-column>
                
                                    <ngx-datatable-column name="Date" [width]="80" prop="saleInvoiceDateToDisplay" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.saleInvoiceDateToDisplay}}
                
                                        </ng-template>
                                    </ngx-datatable-column>
                
                                    <ngx-datatable-column name="Inv Amount" [width]="80" prop="saleInvoiceAmount" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.commissionSaleInvoiceAmount}} {{row.rateUOMName}}
                
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Received" [width]="80" prop="receivedAmount" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.receivedAmount}} {{row.rateUOMName}}
                
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Balance" [width]="80" prop="balanceAmount" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.balanceAmount}} {{row.rateUOMName}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Action" [width]="80" prop="action" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template let-rowIndex="rowIndex">
                                            <div>
                                                <label class="checkbox-container">
                                                <input type="checkbox" (change)="onSelect($event,row)">
                                                <span class="check"></span>
                                              </label>
                                            </div>
                                        </ng-template>
                                    </ngx-datatable-column>
                
                                    <ngx-datatable-column name="Paid Amount" [width]="80" prop="paid" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.paid}} {{row.rateUOMName}}
                                        </ng-template>
                                    </ngx-datatable-column>
                
                                </ngx-datatable>
                            </div>
                
                            <div class="col-md-12 pt-5 pb-1">
                                <div class="form-group row">
                
                                    <div class="col-md-3 font-weight-bold">
                                        <p>Paid Amount:  </p> {{Paidamount}}
                                    </div>
                                    <div class="col-md-3  font-weight-bold">
                                        <p>Blnc Amount:</p> {{commData.amount}}
                                    </div>
                                    <div class="col-md-3  font-weight-bold">
                                        <p>Outstanding Balance:</p> {{blncamount}}
                                    </div>
                                    <div class="col-md-3  font-weight-bold">
                                        <p>Selected Inv:</p> {{invoicenoselected +1}}
                                    </div>
                
                                </div>
                            </div>
                            <!-- remarks and other -->
                
                
                            <div class="border-top">
                                <div class="col-md-12 pt-3 pb-3">
                
                                    <!-- <div class="mb-3">
                                        <span class="badge badge-primary">Remarks/Other Conditions</span>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-12 mb-3">
                                            <span class="badge badge-primary">Remarks/Other Conditions</span>
                                        </div>
                                    </div>
                
                                    <!-- <div class="form-group row">
                                                    <button class="btn btn-primary float-left">
                                                        Remarks/Other Conditions
                                                    </button>
                                                </div> -->
                
                                    <!-- <div class="col-md-12">
                                                    <label for="inputEmail3" 
                                                    class="col-md-3 col-form-label control-label"> Remarks </label>
                                                </div> -->
                
                
                                    <!-- table -->
                                    <div class="form-group row" *ngIf="statusCheck.statusCheck =='add'">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Remarks:</label>
                                        <div class="col-md-7">
                                            <textarea class="form-control" rows="4" placeholder="Any Remarks Here..." name="remarks"
                                                #paymentRemarks="ngModel" name="paymentRemarks"
                                                [(ngModel)]="commData.paymentRemarks"></textarea>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <button class="btn button-save" *ngIf="statusCheck.statusCheck =='add'"
                                             (click)="addCommissionPayment(commData.amount)">
                                                <i class="fas fa-check"></i> Save Received Payment Record</button>
                                            <button class="btn btn-secondary ml-4" *ngIf="statusCheck.statusCheck =='new2'">
                                                <i class="fas fa-times">
                                                </i> Close
                                            </button>
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                
                
                
                        </div>
                    </div>
                    <!-- addNew  -->
                    <div class="border-top" *ngIf="statusCheck.statusCheck == 'addNew'">
                        <div class="col-md-12 pt-3 pb-3">
                
                            <!-- <div class="mb-3">
                                <span class="badge badge-primary">Sale Invoices</span>
                            </div> -->

                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <span class="badge badge-primary">Sale Invoices</span>
                                </div>
                            </div>
                
                            <!-- <div class="form-group row">
                                            <button class="btn btn-primary float-left">
                                                Sale Invoices
                                            </button>
                                        </div> -->
                
                            <!-- table -->
                            <div class="panel-body">
                                <ngx-datatable class="bootstrap datatable-row-wrapper" [columns]="columns" [rows]="rows"
                                    [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="6">
                
                                    <ngx-datatable-column name="Sno" [width]="80" prop="sno" [flexGrow]="0.03">
                                        <ng-template let-row="row" ngx-datatable-cell-template>
                                            {{row.sno}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Inv #" [width]="80" prop="invNum" [flexGrow]="0.05">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.invNum}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Contract#" [width]="80" prop="contract" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.contract}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Date" [width]="80" prop="date" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.date}}
                                        </ng-template>
                                    </ngx-datatable-column>
                
                                    <ngx-datatable-column name="Inv Amount" [width]="80" prop="amount" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.amount}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Received" [width]="80" prop="rec" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.rec}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Balance" [width]="80" prop="blnc" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.blnc}}
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column name="Action" [width]="80" prop="action" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                                            {{row.action}}
                                        </ng-template>
                                    </ngx-datatable-column>
                
                                    <!-- <ngx-datatable-column name="Paid Amount" [width]="80" prop="paid" [flexGrow]="0.06">
                                        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                
                                        </ng-template>
                                    </ngx-datatable-column> -->



                                      <!-- <ngx-datatable-column name="Paid Amount" [width]="80" prop="paid" [flexGrow]="0.06">
                                     

                                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                                            <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true"
                                                *ngIf="!editing[rowIndex + '-name']">
                                                {{ value }}
                                            </span>
                                            <input autofocus (blur)="updateValue($event, 'name', rowIndex)" *ngIf="editing[rowIndex + '-name']" type="text"
                                                [value]="value" />
                                        </ng-template>



                                    </ngx-datatable-column> -->
                                 
                
                                </ngx-datatable>
                            </div>
                
                            <div class="col-md-12 pt-5 pb-1">
                                <div class="form-group row">
                
                                    <div class="col-md-3 font-weight-bold">
                                        <p>Paid Amount:</p>
                                    </div>
                                    <div class="col-md-3  font-weight-bold">
                                        <p>Blnc Amount:</p>
                                    </div>
                                    <div class="col-md-3  font-weight-bold">
                                        <p>Outstanding Balance:</p>
                                    </div>
                                    <div class="col-md-3  font-weight-bold">
                                        <p>Selected Inv:</p>
                                    </div>
                
                                </div>
                            </div>
                            <!-- remarks and other -->
                
                            <div class="border-top">
                                <div class="col-md-12 pt-3 pb-3">
                
                                    <!-- <div class="mb-3">
                                        <span class="badge badge-primary">Remarks/Other Conditions</span>
                                    </div> -->

                                    <div class="row">
                                        <div class="col-md-12 mb-3 text-center">
                                            <span class="badge badge-primary">Remarks/Other Conditions</span>
                                        </div>
                                    </div>
                
                                    <!-- <div class="form-group row">
                                                    <button class="btn btn-primary float-left">
                                                        Remarks/Other Conditions
                                                    </button>
                                                </div> -->
                
                                    <!-- <div class="col-md-12">
                                                    <label for="inputEmail3" 
                                                    class="col-md-3 col-form-label control-label"> Remarks </label>
                                                </div> -->
                
                
                                    <!-- table -->
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-md-3 col-form-label control-label">Remarks:</label>
                                        <div class="col-md-7">
                                            <textarea class="form-control" rows="4" placeholder="Any Remarks Here..."
                                                name="paymentRemarks" #paymentRemarks="ngModel"
                                                [(ngModel)]="extCommData.paymentRemarks"></textarea>
                                        </div>
                                    </div>
                
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
                                            <button class="btn button-save"  (click)="addExtCommissionPayment()">
                                                <i class="fas fa-check"></i> Save Received Payment Record</button>
                
                                        </div>
                                    </div>
                
                                </div>
                            </div>
                
                
                
                        </div>
                    </div>
                
                </form>

            </div>
        </div>


    </div>
</div>