<div class="modal-header" *ngIf="FormName == 'cityForm'">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="statusCheck == 'CityAdd'">
    <h5 class="modal-title">
      <i class="far fa-map fa-fw"></i>
      Add City Location
    </h5>
  </div>
  <div *ngIf="statusCheck == 'CityEdit'">
    <h5 class="modal-title">
      <i class="far fa-edit fa-fw"></i>
      Edit City Location
    </h5>
  </div>
</div>

<div class="modal-body BG pt-2r">
  <form #CityForm="ngForm" novalidate>
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label control-label text_Navy">City Name </label>
      <div class="col-sm-8">
        <input
        #name
        required 
        id="name" 
        maxlength="80" 
        minlength="3" 
        type="text" 
        class="form-control"
        placeholder="Port City Name" 
        name="name" 
        [(ngModel)]="data.name" 
        #name="ngModel"
        [ngClass]="{ error: CityForm.invalid }"
         />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-3 col-form-label text-grey">Country Name</label>
      <div class="col-sm-8">
        <ng-select required [(ngModel)]="data.countryId" placeholder="-- Select --" name="countryId">
          <ng-option *ngFor="let i of country" [value]="i.id">{{ i.name }}
            <span class="text-muted" style="font-size: 11px">( {{ i.details }} )</span>
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="form-group row">
      <label for="details" class="col-sm-3 col-form-label text-grey">Description</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="details" rows="3" maxlength="300" placeholder="Brief description here ..."
          name="details" [(ngModel)]="data.details" #details="ngModel"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="active" class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <input class="form-check-input check-btn " type="checkbox" id="scales" name="active" [(ngModel)]="data.active"
            #active="ngModel" checked>
          <label for="scales" class="form-check-label text-grey" id="active">Marked as Active</label>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer NotBG" *ngIf="FormName == 'cityForm'">
  <!-- <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button> -->
  <button [disabled]="CityForm.invalid" *ngIf="statusCheck == 'CityAdd'" class="btn button-save" type="submit"
    (click)="addCity()">
    Save City
  </button>

  <button [disabled]="CityForm.invalid" *ngIf="statusCheck == 'CityEdit'" class="btn button-save" type="submit"
    (click)="UpdateCity()">
    Update City
  </button>
</div>