<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade"
 [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header" *ngIf="FormName == 'capabilityForm'">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="statusCheck == 'add'">
    <h5 class="modal-title">
      <i class="fa fa-plus fa-fw"></i>
      Add Capability
    </h5>
  </div>
  <div *ngIf="statusCheck == 'edit'">
    <h5 class="modal-title">
      <i class="far fa-edit fa-fw"></i>
      Edit Capability
    </h5>
  </div>

</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate>

    <div class="col-md-12 pt-3 pb-2">


    <div class="form-group row">
      <label for="code" class="col-sm-3 col-form-label control-label text_Navy">Capability Name </label>
      <div class="col-sm-8">
        <input appAutofocus required maxlength="80" minlength="3" type="text" class="form-control" placeholder="name"
          name="name" [(ngModel)]="data.name" #name="ngModel" [ngClass]="{'error': name.invalid}">
      </div>
    </div>


    </div>

<div class="modal-footer NotBG" *ngIf="FormName == 'capabilityForm'">

  <button [disabled]="addAgentForm.invalid" *ngIf="statusCheck == 'add' " class="btn button-save" type="submit"
    (click)="addCapability()">
    Add Capability
  </button>
  <button [disabled]="addAgentForm.invalid" *ngIf="statusCheck == 'edit'" class="btn button-save" type="submit"
    (click)="UpdateCapability()">
    Update Capability
  </button>

</div>

</form>
</div>