
<div class="content-header">

    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <h2 class="row wrapper page-header font-weight-light"> Active Contract
          <!-- <div class="ml-2 descr"> Manage Fabric / Yarn Articles with warp, weft, end, pick,weive & width info </div> -->
        </h2>
      </div>
  
      <div class="col-sm-12 col-md-6 col-lg-4">
        <ol class="breadcrumb flt-RnL">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Active Contracts</li>
        </ol>
      </div>
  
    </div>
  </div>
  
  
  <div class="card ibox-content">
  
    <div class=" panel blank-panel">
      <div class="panel-heading">
  
  
        <div class="row mb-3">
          
            <div class="col-md-6 mrg-tsm">
                <button type="button" class="btn btn-primary btn-md">
                <i class="fa fa-filter fa-fw"></i> Advance Filter</button>
              </div>
  
        </div>

        <div class="row mb-3">
            <div class="col-md-6 mrg-tsm ">
                
                    <!-- <input type="text" placeholder="Search" class="input form-control"> -->
                    <div class="form-group row float-right">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="inputEmail3">
                        </div>
                      </div>
                
            </div>
        </div>
  
  
        
  
      </div>
  
  
    </div>
  </div>