<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title">
        <i class="fas fa-plus mr-3"></i>
        Add Action Item in Contract
    
    </h5>
  </div>


  <div class="modal-body BG pt-2r">
    <form #ProductionPlanForm="ngForm" novalidate>
   
        
      <div class="row justify-content-end">
      <div class="col-md-4">
        <div class="input-group col-md-offset-3 float-right">
          <label>Search:</label>
          <input type="text" placeholder="" class="input form-control w-50"
             />
        </div>
      </div>
        </div>
        <br>
        <div #myTable class="panel-body">
      
          <ngx-datatable #myTable class="bootstrap" [columns]="columns" [rows]="rows"
            [sorts]="[{ prop: 'id,name', dir: 'asce' }]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
            [rowHeight]="'auto'" [limit]="10">
            <ngx-datatable-column prop="id" name="S. No." [width]="20">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="id" name="Select to Add" [width]="20">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="id" name="Action Items" [width]="20">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        
        </div>


    </form>
  </div>



  <div class="modal-footer NotBG">
    <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal" (click)="activeModal.close()">
      Close
    </button>
    <button class="btn button-save" type="submit">
      Add Action Item
    </button>
  </div>