
/* DropDown Search */
@import "~@ng-select/ng-select/themes/default.theme.css";

/* NGX TABLE */
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.css";
@import "~@swimlane/ngx-datatable/themes/dark.css";
@import "~@swimlane/ngx-datatable/themes/bootstrap.css";
@import "~@swimlane/ngx-datatable/assets/icons.css";

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

body {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 12px !important;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.content-header {
  padding: 10px 0.4rem !important;
}
 .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal !important;
}
/* 
dt {
  font-weight: 800; 
  text-align: right !important; 
 color: #676a6c !important;
 font-size: 14px !important;
}
dd{
color: #676a6c !important;
margin-bottom: .5rem  !important;
margin-left: 0  !important;
font-size: 12px  !important;
font-weight: 600  !important;
} */


.innerBody {
  padding: 7px 30px 15px 30px !important;
}
.ngx-datatable .datatable-body-cell,
.ngx-datatable .datatable-header-cell {
  /* line-height: 2.1 !important; */
  line-height: 1.5 !important;
  text-align: center !important;
}
.datatable-checkbox input[type='checkbox']:before {
  transition: all 0.3s ease-in-out;
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #a19f9f;
}

.ngx-datatable.bootstrap {
  /* font-size: 14px !important; */
  font-size: 12px !important;
  font-weight: 300 !important;
}

.ngx-datatable.bootstrap .datatable-footer {
  text-align: left !important;
  font-style: italic;
}

.datatable-checkbox input[type='checkbox']  :before{
      /* transition: all 0.3s ease-in-out;
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem; */
  border: 2px solid rgb(146 144 144) !important;
}

/* .datatable-checkbox input[type='checkbox']:checked:before {
  transform: rotate(
-45deg);
  height: 0.5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
} */


/* .ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  color: white !important;
  font-style: italic !important;
  background: #616161 !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.datatable-header-cell {
  border-left: 1px solid #757575;
}
.ngx-datatable.bootstrap 
.datatable-body 
.datatable-body-row 
.datatable-body-cell {
  border-left: 1px solid #d1d4d7;
}
.datatable-body {
  border-left: 1px solid #d1d4d7;
  border-right: 1px solid #d1d4d7;
}  */

.ngx-datatable.fixed-header
  .datatable-header
  .datatable-header-inner
  .datatable-header-cell {
  color: #202020 !important;
  font-style: italic !important;
  background: #f5f5f5 !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  /* border: 1px solid #d9d9d9; */
}

.datatable-header-cell {
  border-left: 1px solid #d9d9d9 !important;
  border-top: 1px solid #d9d9d9 !important;
}
.datatable-header-cell:last-child {
  border-right: 1px solid #d9d9d9 !important;
}
.ngx-datatable.bootstrap 
.datatable-body 
.datatable-body-row 
.datatable-body-cell {
  border-left: 1px solid #d9d9d9;
}
.datatable-body {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  max-height: 70vh;
  overflow-y: scroll;
  overflow-x: hidden;
  
} 
.ngx-datatable.bootstrap 
.datatable-body-cell:first-child {
  border: none !important;
}


.ngx-datatable.bootstrap .datatable-body .datatable-body-row {
  background-color: rgba(0, 0, 0, 0.0) !important;
}
.ngx-datatable.bootstrap .datatable-body .datatable-body-row:hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}



.ngx-datatable.bootstrap .datatable-footer {
  background: #f5f5f5;
  color: #424242;
  margin-top: -1px;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  font-weight: 400;
}



.ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  color: #b9b9b9;
}

.ngx-datatable.bootstrap .datatable-body .datatable-body-row.active {
  /* background-color: #1483ff !important; */
  background-color: #cce5ff !important;
  color: #000000;
}
 

/* .ngx-datatable.bootstrap .datatable-footer {
  margin-top: -3px !important;
} */

/* ----------------------------------------------------------------------- */
/* DropDown styling */

.ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px !important;
  border: 1px solid #ccc;
  min-height: 38px;
  align-items: center;
  font-size: 13px;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: #1ab394 !important;
  box-shadow: none !important;
}

ng-dropdown-panel {
  font-size: 13px;
}

/* ----------------------------------------------------------------------- */
h1,
.h1 {
  font-size: 30px !important;
}

h2,
.h2 {
  font-size: 24px !important;
}
h2 {
  /* color: #575d63 !important; */
  color: #505050 !important;
  font-weight: 500 !important;
}

h3 {
  color: white !important;
  font-weight: 100 !important;
}

h5 {
  color: grey;
  /* margin-left: 40%;   */
}

.innerBody {
  padding: 2px 1px 15px 10px !important;
}

.noHover:hover {
  background-color: white !important;
  color: #7c7c7c !important;
}
.btn-primary {
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
}

.btn-outline-primary {
  color: #1ab394 !important;
  border-color: #1ab394 !important;
}


.btn-outline-primary:hover {
  color: #ffffff !important;
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #ffffff !important;
  background-color: #1ab394 !important;
  border-color: #1ab394 !important;
}






.table tbody tr td {
  text-align: left !important;
}
/* .active {
  color: white;
  background-color: #1ab394;
  border-radius: 5px;
  font-weight: 400;
  padding: 2px 5px;
}

.inactive {
  color: white;
  background-color: #6d6d6d;
  border-radius: 5px;
  font-weight: 400;
  padding: 2px 5px; 
} */

.noBorder {
  border: none !important;
}

.text-s-md {
  vertical-align: middle;
  font-size: 20px;
  color: rgb(53, 53, 53);
}
.text {
  color: rgb(255, 255, 255) !important;
  font-size: 25px;
}
.headline {
  font-size: 16px;
  font-weight: 700;
  color: #7c7c7c;
  padding-bottom: 10px;
}
.table td {
  padding: 1.75rem;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}

.table tbody tr td {
  text-align: center;
}
.text-s-md {
  vertical-align: middle;
  font-size: 20px;
  color: rgb(53, 53, 53);
}
.text {
  color: rgb(250, 0, 0) !important;
  font-size: 25px;
}

.text2 {
  font-size: 20px;
  vertical-align: middle;
  padding-left: 10px;
  font-weight: 400;
}

.headline {
  font-size: 16px;
  font-weight: 700;
  color: #7c7c7c;
  padding-bottom: 10px;
}
.table td {
  padding: 1.75rem;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
}

.error {
  border: 1px solid #e03a37 !important;
  border-left: 3px solid #e03a37 !important;
  background-repeat: no-repeat;
  background-position: center right 20px;
  /* background-image: url("/assets/caution.png"); */
  background-size: 20px;
}
.form-control {
  box-shadow: 0 0 0 0 !important;
}
.form-control:focus {
  border-color: #1ab394 !important;
}

.text_Navy {
  color: #1ab394 !important;
}

.text-grey {
  color: #606060 !important;
}
.text-lightgrey {
  color: #909090 !important;
}

.editIconBack :hover {
  color: #36afd4;
  transform: scale(1.5);
}

.descBtn {
  padding: 5px 15px 5px 15px !important;
  font-size: 20px !important;
}

.modal-title {
  text-align: center !important;
  align-items: center !important;
  font-size: 26px;
  color: #606060;
  font-weight: 600;
  padding: 15px 15px 15px 15px;
}

.modal-header {
  display: block !important;
  padding: 30px 15px;
}

.BG {
  background-color: #f8fafb !important;
}
.NotBG {
  background-color: white !important;
}
.deleteIconBack :hover {
  color: red;
  transform: scale(1.5);
}
.button-save {
  background-color: #1ab394 !important;
  color: ivory !important;
}
.close:not(:disabled):not(.disabled):focus,
.mailbox-attachment-close:not(:disabled):not(.disabled):focus {
  outline: none;
}

.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 5px 7px 7px 7px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  /* margin-top: -35px; */
  border-radius: 0px !important;
}

.popover-header {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  color: rgb(255, 255, 255) !important;
  background-color: #424141 !important;
}
.small,
small {
  font-size: 85% !important;
  color: gray;
  font-weight: 400;
}
title {
  width: 600px;
  text-align: center;
}
.descr {
  font-size: 75% !important;
  font-weight: 300 !important;
  padding: 5px 0 0 0 !important;
  color: #777777;
}
.html5buttons {
  padding: 0px 7.5px;
}

.modal-header .close,
.modal-header .mailbox-attachment-close {
  margin: 0px -5px 0px auto !important;
}
.modal-title {
  padding: 5px;
}

.active-enqury-pdg {
  padding: 28px !important;
}
.required-denote {
  margin-left: 5px;
  color: #f62d51;
}
.agents-pdg {
  padding: 20px !important;
}

.flt-RnL {
  float: right !important;
}
.modal-dialog {
  max-width: 50% !important;
}

.close,
.mailbox-attachment-close {
  font-size: 1.3rem !important;
}
label {
  text-align: right;
  font-size: 13px !important;
  color: grey !important;
  /* font-weight: 400 !important; */
}
input,
textarea,
option,
select {
  font-size: 13px !important;
  color: grey !important;
  border-radius: 0px;
  font-weight: 400 !important;
}
.pt-2r {
  padding-top: 2rem !important;
}

.pr-md1 {
  padding-right: 8.333333% !important;
}
.pt-ls {
  padding-top: 3px !important;
}

.breadcrumb-item.active {
  color: #6c757d;
  background: none !important;
}

.badge-primary {
  color: #ffffff;
  background-color: #1ab394 !important;
}
.badge {
  padding: 7px 10px !important;
  font-weight: 500 !important;
  font-size: 80% !important;
}

.breadcrumb-item a {
  color: #333;
}
.breadcrumb-item a:hover {
  color: #333;
}
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}
.ibox-tools .btn {
  color: #777373 !important;
  font-size: 14px;
}
.winput {
  width: 50% !important;
}

.form-group {
  margin-bottom: 0.5rem !important;
}
.font{
  font-size: 16px;
}



@media only screen and (max-width: 767px) {
  .mrg-tsm {
    margin: 10px 0 0 0;
  } 
  label {
    text-align: left;
  }
  .modal-dialog {
    max-width: 65% !important;
  }
  .fieldmrgbtm {
    margin: 0 0 10px 0;
  }
}

@media only screen and (max-width: 667px) {
  .mrg-tsm {
    margin: 10px 0 0 0;
  }
  .active-enqury-pdg {
    padding: 24px !important;
  }
  .text {
    font-size: 21px;
  }
  .agents-pdg {
    padding: 12px !important;
  }
  .flt-RnL {
    float: left !important;
  }
  .pt-ls {
    padding-top: 0px !important;
  }
  
}

@media only screen and (max-width: 575px) {

  .visibility {
    display: none;
  }

  .winput {
    width: 40% !important;
  }

  .modal-dialog {
    max-width: 100% !important;
    margin: 2.0rem !important;
  }
}

@media only screen and (max-width: 480px) {
  .active-enqury-pdg {
    padding: 16px !important;
  }
  .display-b {
    display: block !important;
  }
  .text-s-md {
    font-size: 16px !important;
  }
  .text2 {
    font-size: 16px;
  }
  .flt-RnL {
    float: left !important;
  }
  .pt-ls {
    padding-top: 0px !important;
  }
  .mrg-sm1 {
    margin: 10px 0 0 0;
  }

  .winput {
    width: 75% !important;
  }
  
}
.icon{
cursor: pointer;
}




@media only screen and (max-width: 375px) {

  .winput {
    width: 65% !important;
  }

}

@media only screen and (max-width: 320px) {

  .winput {
    width: 55% !important;
  }

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }








