<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade"
 [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <div aria-hidden="true">&times;</div>
    </button>
  
    <h5 class="modal-title" *ngIf="statusCheck == 'EnquiryOnHold'">
      <i class="far fa-sticky-note"></i>
      Enquiry On-Hold
    </h5>
    <h5 class="modal-title" *ngIf="statusCheck == 'EnquiryCancle'">
      <i class="far fa-sticky-note"></i>
      Enquiry Cancel
    </h5>
    <h5 class="modal-title" *ngIf="statusCheck == 'EnquiryArchived'">
      <i class="far fa-sticky-note"></i>
      Enquiry Archive
    </h5>
    <h5 class="modal-title" *ngIf="statusCheck == 'ContractCancel'">
      <i class="far fa-sticky-note"></i>
      Contract Cancel
    </h5>
    <h5 class="modal-title" *ngIf="statusCheck == 'ContractOnHold'">
      <i class="far fa-sticky-note"></i>
      Contract On-Hold
    </h5>
    <h5 class="modal-title" *ngIf="statusCheck == 'ContractClosed'">
      <i class="far fa-sticky-note"></i>
      Contract Closed
    </h5>

  </div>
  
  
  
  <div class="modal-body BG p-0">
    <form #NotesForm="ngForm" novalidate>

      <div class="row justify-content-center">
        <div class="col-md-10 pt-3 pb-3">

            <div class="form-group row">
              <label for="name" class="col-form-label">Reason<span class="required-denote">*</span></label>
              
                <textarea appAutofocus type="text" class="form-control" rows="4" placeholder="Give a proper Reason..." required
                  #reason="ngModel" [(ngModel)]="data.reason" name="reason"
                  [ngClass]="{'error':reason.invalid && NotesForm.submitted  }"></textarea>
              
            </div>

          </div>
        </div>
        
  
     
  
      <div class="modal-footer NotBG">
        <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
          (click)="activeModal.close()">
          Close
        </button>
        <button class="btn button-save" type="submit" *ngIf="component == 'enquiry'"(click)=" UpdateEnquiryStatus(NotesForm)">
         Save Action
        </button>

        <button class="btn button-save" type="submit" *ngIf="component == 'contract'" (click)=" UpdateContractStatus(NotesForm)">
            Save Action
        </button>


      </div>
  
    </form>
  </div>