<div class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light">
                <b>Bill {{rows.billNumber}}</b>
                <div class="ml-2 descr">
                    Billing detail of Bill <b>{{rows.billNumber}}</b> against Contract <b>{{rows.contractNumber}}</b>
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Billing and Payment</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Active Bills
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Bill
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="card ibox-content">
    <div class="panel blank-panel">
        <div class="panel-heading">


            <div class="row mb-3">
                <div class="col-md-6">
                    <span class="text-muted">Supplier Side Bill
                    </span>
                </div>
                <div class="col-md-6 mrg-tsm">
                    <button type="button" class="btn btn-primary btn-md float-right">
                        <i class="fa fa-print"></i> Print Bill
                    </button>
                </div>
            </div>
            <span class=" float-right text-font">
                HOME TEXTILE
            </span>

            <div class="row mb-3">
                <div class="col-md-8">
                    <a href="#" class="font float-right"><strong>Fabcot International FZE ®</strong>
                    </a>
                </div>
                <div class="col-md-8">
                    <span class="float-right">
                        Flexi Office ,RAKEZ Business ZONE F-Z RAK , United Arab Emirates.
                    </span>
                </div>
            </div>
            <!-- right side content -->
<div class="float-right">
            <span class="text-font1">
                Bill No.:<span class="weight">{{rows.billNumber}}</span>
            </span>
            <br>
            <span class="text-font1">
                Bill Dt.: <span class="bold text-font1">{{rows.billDate}}</span>
            </span>
        </div>
            <!-- left side content -->
            <div class="float-left">
            <span class="text-font1">
                Seller:<span class="bold text-font1">{{rows.sellerName}}</span>
            </span>
            <br>
            <span class="text-font1">
                Buyer:<span class="bold text-font1">{{rows.buyerName}}</span>
            </span>
            <br>

            <span class="text-font1">
                Fabcot Contract No:<span class="bold text-font1"> {{rows.contractNumber}}</span>
            </span>
            <br>

            <span class="text-font1">
                Contract Date:<span class="bold text-font1">{{rows.contractDate}}</span>
            </span>
            <br>
            <span class="text-font1">
                Article:<span class="bold text-font1">{{rows.contractArticleName}}</span>
            </span>
    
        </div>
      
<!-- Simple Table -->
<table style="width:100%">
    <tr>
      <th>Sale Invoice #</th>
      <th>Invoice Date</th>
      <th>Invoice Amount (USD)</th>
      <th>Commission</th>
      <th>Total Amount (USD)</th>

    </tr>
    <tr>
      <td>RT-3642-1</td>
      <td>07-Jan-21</td>
      <td>17,475.00</td>
      <td>5%</td>
      <td>873.75</td>

    </tr>
  </table>

 <!-- right side content -->
<br>
<div class="float-right">
 <span class=" bold text-font1">
    Sub Total: <span class="text-font1 underline">{{rows.invoiceSubTotalAmount}}</span>
</span>
<br>
<span class=" bold text-font1">
    TAX : <span class="text-font1 underline">{{rows.invoiceTaxAmount}}</span>
</span><br>
<span class=" bold text-font1">
    TOTAL : <span class="bold text-font1 underline">{{rows.invoiceTotalAmount}}</span>
</span>
</div>
 <!-- left side content -->
 <span class=" float-left text-font1">
    Amount In Words:<span class="bold text-font1 underline">&nbsp;&nbsp;Eight Hundreds Seventy Three</span>
</span>
<br>
<span>Our Bank detail as under for FTT</span>
<br>
<span class=" float-left ">
    Title of Account:<span >{{rows.accountName}}</span>
</span>
<br>

<span class=" float-left ">
    Address:<span >{{rows.bankAddress}} </span>
</span>
<br>

<span class=" float-left ">
    Bank Name:<span>{{rows.bankName}}</span>
</span>
<br>
<span class=" float-left ">
    Bank Account Number:<span >{{rows.accountNumber}}</span>
</span><br>
<span class=" float-left ">
    IBAN Number:<span >{{rows.iban}}</span>
</span><br>
<span class=" float-left ">
    Swift Code:<span >{{rows.swiftCode}}</span>
</span><br>
<span class=" float-left ">
    Bank Branch:<span >{{rows.branchName}}</span>
</span>
<span class=" float-left ">
    Account Type:<span >{{rows.type}}</span>
</span><br>
<span class=" float-left ">
    Bank Address:<span >{{rows.bankAddress}}</span>
</span>
<br>
<!-- End button -->
<button 
(click)="ChangeBankForm()"
type="button" class="btn btn-light">Change Bank Account</button>
<br><br>
<span class=" float-left text-font1">
    For<span class="bold text-font1">&nbsp;FABCOT INTERNATIONAL ®</span>
</span>
<br><br><br><br><br>

        </div>
    </div>
</div>