<div class="modal-header" *ngIf = "FormName == 'countryForm'">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div *ngIf="statusCheck == 'add'">
    <h5 class="modal-title">
      <i class="fa fa-map fa-fw"></i>
      Add New Country
    </h5>
    </div>
  <div *ngIf="statusCheck == 'edit'">
  <h5 class="modal-title">
    <i class="fa fa-map fa-fw"></i>
    Edit Country Location
  </h5>
</div>

</div>

<div class="modal-body BG pt-2r">
  <form #addAgentForm="ngForm" novalidate>


    <div class="form-group row" [class.has-error]="code.invalid && code.touched"
    >
      <label for="code" class="col-sm-3 col-form-label control-label text_Navy">Country Name </label>
      <div class="col-sm-8">
        <input 
        appAutofocus
        required
        maxlength="80"
        minlength="3" 
         id="code"
         type="text"
          class="form-control" 
          placeholder="Country name" 
          name="name"
          [(ngModel)]="data.name"
           #code="ngModel" 
           [ngClass]="{'error': code.invalid}">
      </div>
    </div>


    <div class="form-group row">
      <label for="details" class="col-sm-3 col-form-label text-grey">Description</label>
      <div class="col-sm-8">
        <textarea maxlength="300" required class="form-control" id="details" rows="3" placeholder="Brief description here ..."
          name="details" [(ngModel)]="data.details" #details="ngModel"></textarea>
      </div>
    </div>

    <div class="form-group row" >
      <label for="active" class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-sm-8">
        <div class="form-check form-check-inline">
          <input [checked] class="form-check-input check-btn " id="active"
           type="checkbox" name="active" [(ngModel)]="data.active"
            #active="ngModel" >
          <label for="active" class="form-check-label text-grey" id="active" >Marked as Active</label>
        </div>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer NotBG" *ngIf = "FormName == 'countryForm'">
 
  <button  [disabled]="code.invalid" *ngIf="statusCheck == 'add' " class="btn button-save" type="submit" (click)="addCountry()">
    Add Country
  </button>
  <button [disabled]="code.invalid" *ngIf="statusCheck == 'edit'" class="btn button-save" type="submit" (click)="UpdateCountry()">
    Update Country
  </button>

</div>