<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="line-spin-fade" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div >
      <h5 class="modal-title" >
        <i class="fas fa-filter"></i>
        {{menuName}} Filter
      </h5>
      </div>
  </div>
  
  
  <div class="modal-body BG p-0">
  
    <form #BeneficiaryForm="ngForm" novalidate>
  
      <div class="row justify-content-center">
  
        <div class="col-10 col-md-11 pb-2">
          <label class="col-md-1 col-form-label text-grey"></label>
        
         
          <div class="row " *ngIf="menu !='Contract Voucher Report'">

            <div class="col-md-6">
              <label class="text-grey">Buyer</label>
              <ng-select [(ngModel)]="data.buyerId" placeholder="All" name="buyerId" (change)="BuyerChangeMethod()"
                #buyerId="ngModel">
                <ng-option *ngFor="let i of buyer" [value]="i.id">
                  {{i.buyerName}}
                </ng-option>
              </ng-select>
            </div>
            <div class="col-md-6">
              <label class="text-grey">Seller</label>
              <ng-select [(ngModel)]="data.sellerId" placeholder="All" name="sellerId" #sellerId="ngModel" (change)="SellerChangeMethod()"
               >
               <ng-option *ngFor="let i of seller" [value]="i.id">
                {{i.sellerName}}
              </ng-option>
              </ng-select>
            </div>
          </div>


<!-- 
          <div class="row " *ngIf="menu =='Contract Voucher Report'">

            <div class="col-md-6">
              <label class="text-grey">Department</label>
              <ng-select [(ngModel)]="data.departmentId" placeholder="All" name="departmentId" (change)="getagentname($event)"
                #departmentId="ngModel">
                <ng-option *ngFor="let i of department" [value]="i.id">
                  {{i.name}}
                </ng-option>
              </ng-select>
            </div>
            <div class="col-md-6">
              <label class="text-grey">Contract Ownera</label>
              <ng-select [(ngModel)]="data.agentId" placeholder="All" name="agentId" #agentId="ngModel" (change)="SellerChangeMethod()"
               >
               <ng-option *ngFor="let i of agentName" [value]="i.id">
                {{i.username}}
              </ng-option>
              </ng-select>
            </div>
          </div> -->

          <div >
          
          
            
          <div class="row pt-1">

            <div class="col-md-6">
              <label class="text-grey">Start Date</label>
              <input navigation="select" class="form-control" name="startContractDate" [(ngModel)]="data.startContractDate"
                #startContractDate="ngModel" ngbDatepicker #validity1="ngbDatepicker" (click)="validity1.toggle()"
                placeholder="All" />
            </div>
  
            <div class="col-md-6">
              <label class="text-grey">End Date</label>
              <input navigation="select" class="form-control" name="endContractDate" [(ngModel)]="data.endContractDate"
                #endContractDate="ngModel" ngbDatepicker #validity2="ngbDatepicker" (click)="validity2.toggle()"
                placeholder="All" />
            </div>
          </div>
        </div>


        <div *ngIf="menu !='Contract Voucher Report'">
          
          
            <div class="row pt-1">
  
              <div class="col-md-6">
                <label class="text-grey">Age Start</label>
                <input class="form-control" name="ageStart" [(ngModel)]="data.ageStart" #ageStart="ngModel"
                placeholder="Age Start Number" />
              </div>
    
              <div class="col-md-6">
                <label class="text-grey">Age End</label>
                <input class="form-control" name="ageEnd" [(ngModel)]="data.ageEnd" #ageEnd="ngModel"
                placeholder="Age End Number" />
              </div>
            </div>
          </div>



          <div *ngIf="menu !='Contract Voucher Report'">
          
          
            <div class="row pt-1">
  
              <div class="col-md-6">
                <label class="text-grey">Contract Owners</label>
                <ng-select [(ngModel)]="data.agentId" placeholder="All" name="agentId" #agentId="ngModel"
                >
                <ng-option *ngFor="let i of contractOwnera" [value]="i.id">{{ i.fullName }}
                </ng-option>
                </ng-select>
              </div>
    
              <div class="col-md-6">
                <label class="text-grey">Contract Status</label>
                <ng-select [disabled]="isDisabledStatus"  [multiple]="true" [(ngModel)]="data.contractStatus" placeholder="All" name="contractStatus" #contractStatus="ngModel"
                >
                <ng-option value="All">All</ng-option>
                <ng-option value="Open">Open</ng-option>
                <ng-option value="Billed">Billed</ng-option>
                <ng-option value="Cancel">Cancel</ng-option>
                <ng-option value="BillAwaited">BillAwaited</ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div *ngIf="menu !='Contract Voucher Report'">
                      <div class="row pt-1">
  
            <div class="col-md-12">
              <label class="text-grey">Articles</label>
              <ng-select [(ngModel)]="data.articleId" placeholder="All" name="articleId" #articleId="ngModel"
              >
              <ng-option *ngFor="let i of article" [value]="i.id">{{ i.name }}
              </ng-option>
              </ng-select>
            </div>
  
            <!-- <div class="col-md-6">
              <label class="text-grey">Contract Status</label>
              <ng-select [(ngModel)]="data.contractStatus" placeholder="All" name="contractStatus" #contractStatus="ngModel"
              >
              <ng-option value="All">All</ng-option>
              <ng-option value="Open">Open</ng-option>
              <ng-option value="Billed">Billed</ng-option>
              <ng-option value="Cancle">Cancel</ng-option>
              <ng-option value="BillAwaited">BillAwaited</ng-option>
              <ng-option value="Closed">Closed</ng-option>
              </ng-select>
            </div> -->
          </div>
        </div>




        <div *ngIf="menu=='Contract Voucher Report'">
          
     
          <div class="row pt-1">

            <div class="col-md-6">
              <label class="text-grey">Bill No</label>
              <input class="form-control" name="billNo" [(ngModel)]="data.billNo" #billNo="ngModel"
                placeholder="Bill Number" />
            </div>
  
            <div class="col-md-6">
              <label class="text-grey">Voucher No</label>
              <input class="form-control" name="voucherNo" [(ngModel)]="data.voucherNo" #voucherNo="ngModel"
              placeholder="VoucherNumber" />
            </div>
          </div>
        </div>

        <div *ngIf="menu =='Contract Voucher Report'">
          <div class="row pt-1">

<div class="col-md-6">
  <label class="text-grey">Year</label>
  <ng-select name="year"  placeholder="-- Year --"  [(ngModel)]=" data.year">
    <ng-option value="2020">2020</ng-option>
    <ng-option value="2021">2021</ng-option>
    <ng-option value="2022">2022</ng-option>
    <ng-option value="2023">2023</ng-option>
    <ng-option value="2024">2024</ng-option>
    <ng-option value="2025">2025</ng-option>
    <ng-option value="2026">2026</ng-option>
    <ng-option value="2027">2027</ng-option>
    <ng-option value="2028">2028</ng-option>
    <ng-option value="2029">2029</ng-option>
    <ng-option value="2030">2030</ng-option>
  </ng-select>
</div>


<div class="col-md-6">
  <label class="text-grey">Contract No</label>
  <input class="form-control" name="autoContractNumber" [(ngModel)]="data.autoContractNumber" #autoContractNumber="ngModel"
  placeholder="AutoContractNumber" />
</div>


   




<!-- <div class="col-md-6">
  <label class="text-grey">Contract Status</label>
  <ng-select [(ngModel)]="data.contractStatus" placeholder="All" name="contractStatus" #contractStatus="ngModel"
  >
  <ng-option value="All">All</ng-option>
  <ng-option value="Open">Open</ng-option>
  <ng-option value="Billed">Billed</ng-option>
  <ng-option value="Cancle">Cancel</ng-option>
  <ng-option value="BillAwaited">BillAwaited</ng-option>
  <ng-option value="Closed">Closed</ng-option>
  </ng-select>
</div> -->
</div>
</div>
<div *ngIf="menu =='Contract Voucher Report'">
          
          
  <div class="row pt-1">

    <!-- <div class="col-md-6">
      <label class="text-grey">Contract Owners</label>
      <ng-select [(ngModel)]="data.agentId" placeholder="All" name="agentId" #agentId="ngModel"
      >
      <ng-option *ngFor="let i of contractOwnera" [value]="i.id">{{ i.fullName }}
      </ng-option>
      </ng-select>
    </div> -->

    <div class="col-md-6">
      <label class="text-grey">Contract Status</label>
      <ng-select  [(ngModel)]="data.contractStatus" placeholder="All" name="contractStatus" #contractStatus="ngModel"
      >
      <ng-option value="All">All</ng-option>
      <ng-option value="Open">Open</ng-option>
      <ng-option value="Billed">Billed</ng-option>
      <ng-option value="Cancel">Cancel</ng-option>
      <ng-option value="BillAwaited">BillAwaited</ng-option>
      </ng-select>
    </div>
  </div>
</div>
          <!-- <div *ngIf="menu=='CommissionReport'">
        
       
          <div class="form-group row col-md-12">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-5">
              <label class=" text-grey">Bill Starting Date</label>
              <input navigation="select" class="form-control" name="startBillDate" [(ngModel)]="data.startBillDate"
                #startBillDate="ngModel" ngbDatepicker #validity3="ngbDatepicker" (click)="validity3.toggle()"
                placeholder="Payment Start Date" />
            </div>
  
            <div class="col-md-5">
              <label class=" text-grey">Bill Ending Date</label>
              <input navigation="select" class="form-control" name="endIBillDate" [(ngModel)]="data.endIBillDate"
                #endIBillDate="ngModel" ngbDatepicker #validity4="ngbDatepicker" (click)="validity4.toggle()"
                placeholder="Payment End Date" />
            </div>
          </div>
        </div> -->
        <!-- <div *ngIf="menu=='CommissionReport'">
          <label class="col-md-1 col-form-label text-grey"></label>
         
     
          <div class="form-group row col-md-12">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-5">
              <label class="text-grey">Contract#</label>
              <input class="form-control" name="contractNo" [(ngModel)]="data.contractNo" #contractNo="ngModel"
                placeholder="Contract#" />
            </div>
  
            <div class="col-md-5">
              <label class=" text-grey">Bill#</label>
              <input class="form-control" name="billNo" [(ngModel)]="data.billNo" #billNo="ngModel"
                placeholder="Bill Number" />
            </div>
           
          </div>
          </div> -->
<!-- 
        <div *ngIf="menu=='CommissionReport'">
      
         
          <div class="form-group row col-md-12">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-5">
              <label class=" text-grey">Sale Invoice#</label>
              <input class="form-control" name="saleInvoiceNo" [(ngModel)]="data.saleInvoiceNo" #saleInvoiceNo="ngModel"
                placeholder="BillNumber" />
            </div>
  

            
            <div class="col-md-5">
              <label class="text-grey">Article</label>
              <ng-select [(ngModel)]="data.articleId" placeholder="All" name="articleId" #articleId="ngModel"
              >
              <ng-option *ngFor="let i of article" [value]="i.id">{{ i.name }}
              </ng-option>
              </ng-select>
            </div>
          </div>
          </div> -->
  
          <!-- <div *ngIf="menu=='CommissionReport'">
      
         
            <div class="form-group row col-md-12">
              <div class="col-md-1">
              
              </div>
              <div class="col-md-5">
                <label class="text-grey">Maturity Status</label>
                <ng-select [(ngModel)]="data.maturityStatus" placeholder="All" name="maturityStatus" #maturityStatus="ngModel"
                >
                <ng-option value="Matured">Matured</ng-option>
                <ng-option value="NotMatured">UnMatured</ng-option>
                </ng-select>
              </div>
    

              
              <div class="col-md-5">
                <label class="text-grey">Payment Status</label>
                <ng-select [(ngModel)]="data.paymentStatus" placeholder="All" name="paymentStatus" #paymentStatus="ngModel"
                >
                
                <ng-option value="Received">Received</ng-option>
                <ng-option value="NotReceived">Not Received</ng-option>
                </ng-select>
              </div>
            </div>
            </div> -->
        <!-- <div *ngIf="menu=='CommissionReport'">
          
          <label class="col-md-1 col-form-label text-grey"></label>
          <label class="col-md-1 col-form-label text-grey">Maturity</label>
          <label class="col-md-5 col-form-label text-grey">Article</label>
          <div class="form-group row col-md-12">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-5">
              <ng-select [(ngModel)]="Bendata.departmentId" placeholder="All" name="departmentId" #departmentId="ngModel">
                <ng-option *ngFor="let i of departments" [value]="i.id">{{ i.name }}
                </ng-option>
              </ng-select>
            </div>
  
            <div class="col-md-5">
              <ng-select [(ngModel)]="Bendata.userId" placeholder="All" name="userId" #userId="ngModel"
              >
                <ng-option *ngFor="let i of users" [value]="i.id">{{ i.fullName }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          </div> -->
        <!-- <div *ngIf="menu=='CommissionReport'">
  
          <label class="col-md-3 col-form-label text-grey">Payment Status</label>
          <div class="form-group row col-md-12">
            <div class="col-md-1">
            
            </div>
            <div class="col-md-5">
              <ng-select [(ngModel)]="Bendata.userId" placeholder="All" name="userId" #userId="ngModel"
                [ngClass]="{ error: userId.invalid && BeneficiaryForm.submitted}">
                <ng-option *ngFor="let i of users" [value]="i.id">{{ i.fullName }}
                </ng-option>
              </ng-select>
            </div>
          </div>
          </div> -->
  
          <!-- <div *ngIf="menu=='LCReport'">
          
        
            <div class="form-group row col-md-12">
              <div class="col-md-1">
              
              </div>
              <div class="col-md-5">
                <label class=" text-grey">LC Starting Date</label>
                <input navigation="select" class="form-control" name="dateTime" [(ngModel)]="Bendata.dateTime"
                  #dateTime="ngModel" ngbDatepicker #validity1="ngbDatepicker" (click)="validity1.toggle()"
                  placeholder="LC Start Date" />
              </div>
    
              <div class="col-md-5">
                <label class=" text-grey">LC Ending Date</label>
                <input navigation="select" class="form-control" name="dateTime" [(ngModel)]="Bendata.dateTime"
                  #dateTime="ngModel" ngbDatepicker #validity2="ngbDatepicker" (click)="validity2.toggle()"
                  placeholder="LC End Date" />
              </div>
            </div>
          </div> -->
  
  
  
  
        </div>
      </div>
  
  
      <div class="modal-footer NotBG">
        <button class="btn button-save col-md-12 bg-info" type="submit" (click) = "datatransfer()">
          <i class="fas fa-search"></i>
          Search
        </button>
  
  
      </div>
  
    </form>
  </div>