<!-- Modal -->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>
  <h5 class="modal-title">
    <i class="fas fa-user-tie fa-fw"></i>
    Add New Agent or L/C Opener
  </h5>
</div>

<div class="modal-body BG p-0">
  <form #addAgentForm="ngForm" novalidate (ngSubmit)="addAgent()">

    <div class="row justify-content-center">
      <div class="col-10 col-md-10 pt-3 pb-2">
    
        <div class="form-group row">
          <label for="agentType" class="col-md-2 col-form-label text_Navy">
            Type</label>
          <div class="col-md-10">
            <ng-select name="agentType" class="input-w1 px-0" [(ngModel)]="data.agentType" placeholder="-- Select --">
              <ng-option *ngFor="let i of Type" [value]="i">{{ i }}
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="agentSide" class="col-md-2 col-form-label text_Navy">
            Side
          </label>
          <div class="col-md-10">
            <ng-select name="agentSide" class="input-w1 px-0" [(ngModel)]="data.agentSide" placeholder="-- Select --">
              <ng-option *ngFor="let i of Side" [value]="i">{{ i }}
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="code" class="col-md-2 col-form-label control-label text_Navy">Name<span
              class="required-denote">*</span>
          </label>
          <div class="col-md-10">
            <input appAutofocus required maxlength="60" type="text" class="form-control" placeholder="Enter Agent full name"
              name="name" [(ngModel)]="data.name" #agent="ngModel"
              [ngClass]="{error : agent.invalid && addAgentForm.submitted }" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="name" class="col-md-2 col-form-label text-grey">Address</label>
          <div class="col-md-10">
            <input id="address" type="text" maxlength="300" class="form-control" placeholder="Enter Agent mailing address"
              name="address" />
          </div>
        </div>
        <div class="form-group row">
          <label for="city" class="col-md-2 col-form-label">City</label>
          <div class="col-md-10">
            <ng-select [(ngModel)]="data.cityId" placeholder="-- Select --" name="cityId" #cityId="ngModel">
              <ng-option *ngFor="let i of city" [value]="i.id">
                {{i.name}}
                <span *ngIf="i.country !=null" class="text-muted" style="font-size: 11px">{{ i.country }}</span>
              </ng-option>
            </ng-select>
          </div>
        </div>
    
        <div class="form-group row">
          <label for="name" class="col-md-2 col-form-label text-grey">Email</label>
          <div class="col-md-10">
            <input id="emailAddress" type="email"
              pattern="[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})" maxlength="50"
              class="form-control" placeholder="Enter Agent email address" name="emailAddress"
              [(ngModel)]="data.emailAddress" #emailAddress="ngModel"
              [ngClass]="{error: emailAddress.invalid && emailAddress.touched}" />
          </div>
        </div>
    
        <div class="form-group row">
          <label for="cellNumber" class="col-md-2 col-form-label text-grey">Contact Nos.</label>
          <div class="col-md-10">
            <input class="form-control" pattern="[+0-9-]{7,15}" maxlength="15" minlength="7" id="cellNumber"
              placeholder="Enter mobile numbers" name="cellNumber" [(ngModel)]="data.cellNumber" #cellNumber="ngModel"
              [ngClass]="{error : cellNumber.invalid && cellNumber.touched}" />
          </div>
          <label class="col-md-2 col-form-label text-grey"></label>
          <div class="col-md-10 mt-1">
            <input type="text" pattern="[+0-9-]{7,15}" class="form-control" id="landlineNumber" maxlength="15"
              placeholder="Enter Land numbers" name="landlineNumber" [(ngModel)]="data.landlineNumber"
              #landlineNumber="ngModel" [ngClass]="{error : landlineNumber.invalid && landlineNumber.touched}" />
          </div>
        </div>
    
        <div class="form-group row" [class.has-error]="bankName.invalid && bankName.touched">
          <label for="bankName" class="col-md-2 col-form-label control-label text-grey">Bank
          </label>
          <div class="col-md-10">
            <input id="bankName" type="text" maxlength="100" class="form-control" placeholder="Enter Agent Bank Name"
              name="bankName" [(ngModel)]="data.bankName" #bankName="ngModel" />
          </div>
        </div>
    
    
    
        <div class="form-group row">
          <label for="accountNumber" class="col-md-2 col-form-label control-label text-grey">Account
          </label>
          <div class="col-md-10">
            <input id="accountNumber" minlength="8" maxlength="15" type="text" class="form-control"
              placeholder="Enter Agent Account No." name="accountNumber" [(ngModel)]="data.accountNumber"
              #accountNumber="ngModel" [ngClass]="{error : accountNumber.invalid && accountNumber.touched}" />
    
          </div>
          <label class="col-md-2 col-form-label"></label>
          <div class="col-md-10 mt-1">
            <input id="accountTitle" type="text" maxlength="50" class="form-control" placeholder="Enter Agent Account Name"
              name="accountTitle" [(ngModel)]="data.accountTitle" #accountTitle="ngModel"
              [ngClass]="{ error: accountTitle.invalid }" />
          </div>
        </div>
    
        <div class="form-group row" [class.has-error]="swiftCode.invalid && swiftCode.touched">
          <label for="swiftCode" class="col-md-2 col-form-label control-label text-grey">Swift
          </label>
          <div class="col-md-10">
            <input id="swiftCode" type="text" pattern="[+0-9-]{8,11}" class="form-control"
              placeholder="Enter Agent Account swift code" name="swiftCode" [(ngModel)]="data.swiftCode"
              #swiftCode="ngModel" [ngClass]="{error : swiftCode.invalid && swiftCode.touched }" />
    
          </div>
        </div>
    
        <div class="form-group row">
          <label for="details" class="col-md-2 col-form-label text-grey">Details</label>
          <div class="col-md-10">
            <textarea class="form-control" id="details" rows="3" placeholder="Description or note for agent ..."
              maxlength="300" name="details" [(ngModel)]="data.details" #details="ngModel"></textarea>
          </div>
        </div>
      </div>
    </div>


    <div class="modal-footer NotBG">
      <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
        (click)="activeModal.close()">
        Close
      </button>
      <button class="btn button-save" type="submit">
        Add Agent
      </button>
    </div>
  </form>
</div>