<!-- Modal -->

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
    <div aria-hidden="true">&times;</div>
  </button>
  <h5 class="modal-title">
    <i class="fas fa-user-tie fa-fw"></i>
    Add New Agent or L/C Opener
  </h5>

</div>

<div class="modal-body BG pt-2r">
  <form #addAgentForm="ngForm" novalidate>
    <div class="form-group row">
      <label name="agentTypeId" class="col-sm-3 col-form-label text_Navy" [(ngModel)]="agentTypeId">
        Type</label>
      <div class="col-sm-8">
        <select class="form-control">
          <option selected disabled> External Agent</option>

        </select>
      </div>
    </div>


    <div class="form-group row">
      <label name="agentSideId" class="col-sm-3 col-form-label text_Navy" [(ngModel)]="agentSideId">
        Side
      </label>
      <div class="col-sm-8">
        <select class="form-control">
          <option selected disabled> Buyer side Agent</option>

          <option *ngFor="let i of agentSideId" [value]="i.id">
            {{i.id}}
          </option>
        </select>
      </div>
    </div>



    <div class="form-group row" [class.has-error]="name.invalid && name.touched">
      <label for="code" class="col-sm-3 col-form-label control-label text_Navy">Name </label>
      <div class="col-sm-8">
        <input required id="name" type="text" class="form-control" placeholder="Enter Agent full name" name="name"
          [(ngModel)]="data.name" #name="ngModel" [ngClass]="{'error': name.invalid }">
      </div>
    </div>


    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label text-grey">Address</label>
      <div class="col-sm-8">
        <input  id="address" type="text" class="form-control" placeholder="Enter Agent mailing address"
          name="address" [(ngModel)]="data.address" #address="ngModel">
      </div>
    </div>

    
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-3 col-form-label">City</label>
      <div class="col-sm-8">
        <select  name="city " class="form-control" [(ngModel)]=" cityId">
          <option value="null" disabled> Nothing Selected</option>
          <option *ngFor="let i of city" [value]="i.id">
            {{i.name}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label text-grey">Email</label>
      <div class="col-sm-8">
        <input  id="emailAddress" type="text" class="form-control" placeholder="Enter Agent email address"
          name="emailAddress" [(ngModel)]="data.emailAddress" #emailAddress="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label for="cellNumber" class="col-sm-3 col-form-label text-grey">Contact Nos.</label>
      <div class="col-md-8">
        <input  type="text" class="form-control" id="cellNumber" placeholder="Enter mobile numbers"
          name="cellNumber" [(ngModel)]="data.cellNumber" #cellNumber="ngModel" cellNumber>
      </div>
      <label class="col-sm-3 col-form-label text-grey"></label>
      <div class="col-md-8 mt-1">
        <input type="text" class="form-control" id="landlineNumber" placeholder="Enter Land numbers"
          name="landlineNumber" [(ngModel)]="data.landlineNumber" #landlineNumber="ngModel"
         >
      </div>
    </div>

    <div class="form-group row">
      <label for="bankName" class="col-sm-3 col-form-label control-label text-grey">Bank </label>
      <div class="col-sm-8">
        <input  id="bankName" type="text" class="form-control " placeholder="Enter Agent Bank Name"
          name="bankName" [(ngModel)]="data.bankName" #bankName="ngModel">
      </div>
    </div>

    <div class="form-group row">
      <label for="accountNumber" class="col-sm-3 col-form-label control-label text-grey">Account </label>
      <div class="col-sm-8">
        <input  id="accountNumber" type="text" class="form-control " placeholder="Enter Agent Account No."
          name="accountNumber" [(ngModel)]="data.accountNumber" #accountNumber="ngModel"
          [ngClass]="{'error': accountNumber.invalid }">
      </div>
      <label class="col-sm-3 col-form-label"></label>
      <div class="col-sm-8 mt-1">

        <input required id="accountTitle" type="text" class="form-control " placeholder="Enter Agent Account Name"
          name="accountTitle" [(ngModel)]="data.accountTitle" #accountTitle="ngModel"
          [ngClass]="{'error': accountTitle.invalid }">
      </div>
    </div>


    <div class="form-group row" [class.has-error]="swiftCode.invalid && swiftCode.touched">
      <label for="swiftCode" class="col-sm-3 col-form-label control-label text-grey">Swift </label>
      <div class="col-sm-8">
        <input  id="swiftCode" type="text" class="form-control " placeholder="Enter Agent Account swift code"
          name="swiftCode" [(ngModel)]="data.swiftCode" #swiftCode="ngModel"
          >
      </div>
    </div>


    <div class="form-group row">
      <label for="details" class="col-sm-3 col-form-label text-grey">Details</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="details" rows="3" placeholder="Description or note for agent ..."
          name="details" [(ngModel)]="data.details" #details="ngModel"></textarea>
      </div>
    </div>


  </form>
</div>
<div class="modal-footer NotBG">
  <button type="button" class="btn btn-outline-secondary noHover" data-dismiss="modal"
    (click)="activeModal.close()">Close</button>
  <button class="btn button-save" type="submit" (click)="addAgent() " [disabled]="addAgentForm.invalid">
    Add Agent
  </button>
</div>