
<!-- <p *ngFor = "let x of x">{{x.sellerName}}</p> -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<!-- 
<div class="content-header">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-8">
            <h2 class="row wrapper page-header font-weight-light">
                <b>Bill {{rows.billNumber}}</b>
                <div class="ml-2 descr">
                    Billing detail of Bill <b>{{rows.billNumber}}</b> against Contract <b>{{rows.contractNumber}}</b>
                </div>
            </h2>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4">
            <ol class="breadcrumb flt-RnL">
                <li class="breadcrumb-item"><a href="#">Billing and Payment</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Active Bills
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Bill
                </li>
            </ol>
        </div>
    </div>
</div> -->



<div class="card ibox-content margins" *ngFor = "let x of printData">
    <div class="panel blank-panel " >
        <div class="panel-heading ">


            <div class="row  " *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Local' ">
                <div class="col-md-3">
                  <img src="/assets/fabcot.png"  class="image">
                </div>
                    <p class="font clr" ><strong>FABCOT INTERNATIONAL FZE® </strong>
                    </p>
           </div>

           <div class="row  " *ngIf = "loggedInDepartmentName == 'Yarn Local'">
            <div class="col-md-3">
              <img src="/assets/fabcot.png"  class="image">
            </div>
                <p class="font clr" ><strong>FABCOT INTERNATIONAL ® </strong>
                </p>
       </div>

            <div class="row  bottom" *ngIf = "loggedInDepartmentName == 'Fabric Export' ||loggedInDepartmentName == 'Yarn Export'" >
                <div class="col-md-3">
                  <img src="/assets/fabcot.png"  class="image">
                </div>
                    <p class="font clr" ><strong>FABCOT INTERNATIONAL FZE® </strong>
                    </p>
                  
                   
            </div>

     
            
            <div class="row " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import' ">
                <div class="col-md-10">
                    <p class="text-font1 float-right  bottom2 ">  Flexi Office, RAKEZ Business ZONE F-Z RAK, United Arab Emirates.
                    </p>
               
                </div>
            
            </div>
            <div class="row " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                <div class="col-md-8">
                 
                    <p class="text-font1 float-right ">  Email: adnan@fabcot.net , atif@fabcot.net
                    </p>
                </div>
            
            </div>
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">

<br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">

            <div class="clearfix">

                <div class="float-right ">
                    <span class="font2" *ngIf = "loggedInDepartmentName == 'Fabric Export'">
                        FABRIC EXPORT
                    </span>
                    <span class="font2" *ngIf = "loggedInDepartmentName == 'Yarn Export'">
                        YARN EXPORT
                    </span>
                    <span class="font2" *ngIf = "loggedInDepartmentName == 'Yarn Import'">
                        YARN IMPORT
                    </span>
            <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            <!-- <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export'"> -->
                    
                    <span class="text-font1">
                        Bill No.: <span class="weight">{{x.billNumber}}</span>
                    </span>
                    <br>
                    <span class="text-font1">
                        Bill Dt.: <span class="bold text-font1">{{x.billDate}}</span>
                    </span>
                </div>

                <div class="float-left bottom2">
                    <span class="text-font1" >
                         Seller: &nbsp;  <span class="bold text-font1">{{x.sellerName}}</span>
                    </span>
                <br>
                    <span class="text-font1" >
                    Buyer: &nbsp;  <span class="bold text-font1">{{x.buyerName}}</span>
                    </span>
                    <br>

                    <span class="text-font1">
                          Fabcot Contract No:  <span class="bold text-font1"> {{x.contractNumber}}</span>
                    </span>
                    <br>
                    <span class="text-font1">
                        Supplier Contract No:  <span class="bold text-font1"> {{x.supplierContractNumber }}</span>
                    </span>
                    <br>
                    <span class="text-font1">
                           Contract Date: &nbsp;  <span class="bold text-font1">{{x.contractDate}}</span>
                    </span>
                    <br>
                    <span class="text-font1" *ngIf = "loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import' ">
                           Article: &nbsp;  <span class="bold text-font1">{{x.contractArticleName}}</span>
                    </span>
                    &nbsp;  
                    <span class="text-font1" *ngIf = "loggedInDepartmentName == 'Fabric Export'">
                        Weave Name: &nbsp;  <span class="bold text-font1">{{x.weaveName}}</span>
                 </span>
                 <br>
                    <span class="text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                     <p>This refers to our contract for Weaving dispatches. Please make commission cheque in favour of  <strong>M/S FABCOT INTERNATIONAL </strong> and oblige <br> Details as under: </p>

                    </span>

                </div>

            </div>
          
            <table class="table">
                <tr>
                    <th>Sale Invoice #</th>
                    <th>Sale Invoice Date</th>
                    <th *ngIf = "loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import' ">Article</th>

                    <th>Quantity</th>
                    <th>Rate({{x.currencyName}})</th>
                    <th>SI Amount({{x.currencyName}})</th>
                    <th>Commission</th>
                    <!-- <th>TAX</th> -->
                    <th>Amount({{x.currencyName}})</th>




                </tr>
                <tr *ngFor="let i of x.contractSaleInvoices">
                   
                    <td>{{i.saleInvoiceNo}}</td>
                    <td>{{i.saleInvoiceDateToDisplay}}</td>
                    <td *ngIf = "loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import' ">{{i.articleName}}</td>

                    <td>{{i.quantity}}&nbsp;{{i.quanityUOM}} <br>
                        <small class="text-danger" *ngIf="i.debitQuantity != '0.00' ">
                            Db:({{i.actualQuantity}} - {{i.debitQuantity}})&nbsp;{{i.quanityUOM}}</small></td>
                    <td>{{i.rate}} <span *ngIf = "i.quanityUOM != null"> / {{i.quanityUOM}} </span>  </td>

                    <td> <span *ngIf = "loggedInDepartmentName == 'Yarn Import' && x.currencyName == 'USD' "> $ &nbsp;</span> {{i.amount}} <br>
                        <small class="text-danger" *ngIf="i.debitAmount != 0.00">
                            Db:({{i.actualAmount}} - {{i.debitAmount}})</small></td>
                    <td>{{i.commission}} &nbsp; {{i.commissionUnit}} </td>
                    <!-- <td>{{i.taxAmount}}</td> -->

                    <td>  <span *ngIf = "loggedInDepartmentName == 'Yarn Import' && x.currencyName == 'USD' "> $ &nbsp;</span>  {{i.billAmount}}</td>

                </tr>
            </table>
            <br>
            <br>
            
         
            <span class=" float-left text-font1">
                Quantity:<span class="bold text-font1 underline">&nbsp;&nbsp;
                     {{x.quantitySum}} &nbsp; {{x.quanityUOM}}
                    </span>
                    
            </span>
            <span class="  text-font1 sum">

                SI Amount ( {{x.currencyName}}):<span class="bold text-font1 underline">&nbsp;&nbsp;
                     {{x.amountsum}} 
                    </span>
                    
            </span>
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
         
            <div class="float-right" >
                <span class=" bold text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                    Sub Total: <span class="text-font1 underline">{{x.currencyName}} {{x.totalCalculation}}
                       
                        </span>
                </span>
                <span class=" bold text-font1" *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                     Total: <span class="text-font1 underline">{{x.currencyName}} {{x.totalCalculation}}
                       
                        </span>
                </span>
                <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                <span class=" bold text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"> 
                    &nbsp;&nbsp; &nbsp;&nbsp;    TAX : <span class="text-font1 underline">{{x.currencyName}}  {{0.00}}</span>
                </span><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                <span class=" bold text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                    &nbsp;&nbsp;    TOTAL : <span class="bold text-font1 underline">{{x.currencyName}}  
                        {{x.totalCalculation }}
                    </span>
                </span>
            </div> 
            <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            <span class=" float-left text-font1">
                Amount In Words:<span class="bold text-font1 underline">&nbsp;&nbsp;
                     {{x.updatedByName  }}
                    </span>
            </span>
            <br>
   
            <br><br>  <br> <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">   <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">

         
                          <span class=" float-left text-font1" *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            Our Bank detail as under for FTT:
                        </span>
                       <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                        <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">

                        <span class=" text-font1 padLeft   " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            Title of Account:<span >&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; {{x.accountName}}    </span>
                        </span>
                        <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            
                        <span class=" text-font1 padLeft " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            Address:<span> &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  {{x.address}}  </span>
                        </span>
                        <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">

                        <span class=" text-font1 padLeft " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            Bank Name:<span> &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; {{x.bankName}}  </span>
                        </span>
                        <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                        <!-- <span class=" text-font1 padLeft " *ngIf = " loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            Bank Account Number:<span> &nbsp;&nbsp; &nbsp;&nbsp;   &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; {{x.bankName}}  </span>
                        </span>
                        <br *ngIf = " loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'"> -->
                       
                        <!-- <span class=" float-left ">
                            Bank Account Number:<span> &nbsp;&nbsp;</span>
                        </span><br> -->
                        <span class=" text-font1 padLeft " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            IBAN Number:<span> &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  {{x.iban}}  </span>
                        </span><br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                        <span class=" text-font1 padLeft " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            Swift Code:<span>  &nbsp;   &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;   {{x.swiftCode}} </span>
                        </span><br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
<!--                        
                        <span class=" float-left padLeft " *ngIf = "loggedInDepartmentName == 'Yarn Import' || loggedInDepartmentName == 'Yarn Export'">
                            Bank Branch:<span> &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;    </span>
                        </span><br *ngIf = "loggedInDepartmentName == 'Yarn Import' || loggedInDepartmentName == 'Yarn Export'"> -->
                      
                        <span class=" text-font1  padLeft" *ngIf = "loggedInDepartmentName == 'Fabric Export' ">
                            Account Type:<span>&nbsp; &nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;   {{x.type}} </span>
                        </span><br *ngIf = "loggedInDepartmentName == 'Fabric Export' ">
                        <span class=" text-font1 padLeft " *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import' ">
                            Bank Address:<span> &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  {{x.bankAddress}}  </span>
                        </span>
                        <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
            <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                      
                        <br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'"><br *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                        <span class=" text-font1 text-font1" *ngIf = "loggedInDepartmentName == 'Fabric Export' || loggedInDepartmentName == 'Yarn Export' || loggedInDepartmentName == 'Yarn Import'">
                            For<span class="bold text-font1">&nbsp;FABCOT INTERNATIONAL ®</span>
                        </span>
          
            <span class=" float-left text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                Your prompt action in this regard would be highly appreciated.
            </span>
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <span class=" float-left text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                <!-- <span class="bold text-font1"></span> -->
                Thanking You
            </span>
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">

            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
            <span class=" float-left text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                Checked by: ---------------- 
            </span>
           
            <span class=" float-right text-font1" *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">
                Authorized Signatory: ---------------- 
            </span>
            <br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'"><br *ngIf = "loggedInDepartmentName != 'Fabric Export' && loggedInDepartmentName != 'Yarn Export' && loggedInDepartmentName != 'Yarn Import'">

        </div>
        <p style="page-break-after: always;">&nbsp;</p>
        <br>
        <hr>

    </div>

  


</div>