<div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div >
      <h5 class="modal-title">
        <i class="fas fa-plus"></i>
        Add Delivery Schedule
      </h5>
    </div>
    <!-- <div *ngIf="statusCheck == 'Edit'">
      <h5 class="modal-title">
        <i class="far fa-edit fa-fw"></i>
        Edit Delivery Schedule
      </h5>
    </div> -->
  </div>
  
    
    <div class="modal-body BG p-2">
      <form #deliveryForm="ngForm" novalidate>
  
        <div class="col-md-12 pt-3 pb-2">
  
          <div class="form-group row">
              <label class="col-sm-3 col-form-label text_Navy">Supplier Date
                <!-- <span class="required-denote">*</span> -->
              </label>
              <div class="col-sm-8">
                <input navigation="select" class="form-control  " ngbDatepicker #validityDate="ngbDatepicker"
                (click)="validityDate.toggle()" name="validityDate" placeholder="Date" />
                 
              </div>
              <!-- <div class="col-sm-3">
                <ng-select placeholder="Month">
                  <ng-option>
  
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-sm-3">
                <ng-select placeholder="Year">
                  <ng-option>
  
                  </ng-option>
                </ng-select>
              </div> -->
            </div>
  
            <div class="form-group row">
              <label class="col-sm-3 col-form-label text_Navy">Buyer Date
                <!-- <span class="required-denote">*</span> -->
              </label>
              <div class="col-sm-8">
                <input navigation="select" class="form-control  " ngbDatepicker #validityDate2="ngbDatepicker"
                (click)="validityDate2.toggle()" name="validityDate2" placeholder="Day" />
                 
              </div>
              <!-- <div class="col-sm-3">
                <ng-select placeholder="Month">
                  <ng-option>
  
                  </ng-option>
                </ng-select>
              </div>
              <div class="col-sm-3">
                <ng-select placeholder="Year">
                  <ng-option>
  
                  </ng-option>
                </ng-select>
              </div> -->
            </div>
            <div class="form-group row">
              <label for="itemQuantity" class="col-sm-3 col-form-label text_Navy"> Quantity
      
              </label>
              <div class="col-sm-3">
                  <input type="number" min="0" required
                  id="itemQuantity" 
                name="itemQuantity" 
                  class="form-control" value="" placeholder="Quantity" />
              </div>
              <div class="col-md-5">
                 
                <ng-select
                 placeholder="Unit" name="unit">
                  <ng-option ></ng-option>
              </ng-select>
  
              </div>
        
            </div>
  
  
       
           
    
                
  
          
  
        
    
  
         
  
    </div>
    
    
  
    <div class="modal-footer NotBG" >
      <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="activeModal.close()">Close</button>
      <button class="btn button-save" type="submit"
        (click)="addDelivery(deliveryForm)">
        Save And Close
      </button>
    
      <button   class="btn button-save" type="submit"
        (click)="UpdateDelivery()">
        Save And Next
      </button>
      
    </div>
  
    </form>
    </div>