<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "line-spin-fade" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>




<div class="card ibox-content"  *ngFor = "let x of data" >
    <div class="panel blank-panel">
        <div class="panel-heading">


            <div class="row mb-3">
                <div class="col-md-8">
                    <span class="text-muted">Supplier Side Bill
                    </span>
                </div>
            
            </div>



            <div class="row  mb-4">
                <div class="col-md-3 ">
                    <img src="/assets/fabcot.png" height="80px" width="200px">

                </div>
                <div class="col-md-6  mt-4">
                    <p class="font  clr"><strong>Fabcot International </strong>
                    </p>

                </div>
            
            </div>

<div class="row justify-content-center">
    <p class="address "><strong>133-Aurangzeb Block New Garden Town Lahore.
    </strong>
    </p>
</div>
<div class="row justify-content-center">
    <p class="address2 "><strong>SALES TAX INVOICE

    </strong>
    </p>
</div>
<div class="row justify-content-center">
    <p class="address3"><strong>PNTN No. P-1300724-6


    </strong>
    </p>
</div>
<div class="row justify-content-center">
    <p class="address3"><strong>STRN: 3277876195292


    </strong>
    </p>
</div>
   
<div class="row mb-3">
    <div class="col-md-6 float-right">
        <span class="text-font1">
            Seller: 
        </span>
        <br>
        <span class="text-font1">
           {{x.sellerName}}
        </span>
        <br>
        <span class="text-small bold">
            Address: <span class=" text-small">{{x.sellerBillingAddress}}</span>
        </span>
        <br>
        <span class="text-small bold">
            Sales Tax Resgitration No.: <span class=" text-small"> {{x.sellerGST}}</span>
        </span>
        <br>
        <span class="text-small bold">
            NTN No.:<span class=" text-small"> {{x.sellerNTN}}</span>
        </span>
    </div>
    <div class="col-md-6 float-right">
        <span class="text-font1">
            Buyer: 
        </span>
        <br>
        <span class="text-font1">
           {{x.buyerName}}
        </span>
        <br>
        <span class="text-small bold">
            Address: <span class=" text-small">{{x.buyerBillingAddress}}</span>
        </span>
        <br>
        <span class="text-small bold">
            Sales Tax Resgitration No.: <span class=" text-small"> {{x.buyerGST}}</span>
        </span>
        <br>
        <span class="text-small bold">
            NTN No.:<span class=" text-small">  {{x.buyerrNTN}}</span>
        </span>
    </div>
</div>



            <div class="clearfix">

                <div class="float-right">
                    <span class="text-font1">
                        Sales Tax Invoice No. : <span class="weight">{{x.billInvoiceNumber}}</span>
                    </span>
                    <br>
                    <span class="text-font1">
                        Bill No.: <span class="bold text-font1">{{x.billNumber}}</span>
                    </span>
                    <br>
                    <span class="text-font1">
                        Invoice Date.:<span class="bold text-font1">{{x.billInvoiceDate}}</span>
                    </span>
                </div>

                <div class="float-left">
                    <!-- <span class="text-font1" >
                        Seller: <span class="bold text-font1">{{rows.sellerName}}</span>
                    </span>
                <br>
                    <span class="text-font1" >
                        Buyer: <span class="bold text-font1">{{rows.buyerName}}</span>
                    </span>
                    <br> -->

                    <span class="text-font1">
                        Fabcot Contract No: <span class="bold text-font1"> {{x.contractNumber}}</span>
                    </span>
                    <br>
                  
                    <span class="text-font1">
                        Contract Date: <span class="bold text-font1">{{x.contractDate}}</span>
                    </span>
                    <br>
                  

                </div>

            </div>

            <table class="table">
                <tr>
                    <th>Description</th>
                    <th>Sale Invoice #</th>
                    <th>Sale Invoice Date</th>
                    <th>Quantity</th>
                    <th>Rate({{x.currencyName}})</th>
                    <th>Commission  ({{x.sellerCommission}})%</th>
                    <th>Amount Excl. Tax</th>
                    <th>Tax ({{x.invoiceTaxPercentage}})%</th>
                    <th>Amount Incl. Tax</th>




                </tr>
                <tr *ngFor="let i of x.contractSaleInvoices">
                    <td>{{i.description}}</td>
                   
                    <td>{{i.saleInvoiceNo}}</td>
                    <td>{{i.saleInvoiceDateToDisplay}}</td>
                    <td>{{i.quantity}}{{i.quanityUOM}}</td>
                    <td>{{i.rate}}</td>

                    <td>{{i.sellerCommissionAmount}} </td>
                    <td>{{i.amount}}</td>
                    <td>{{i.taxAmount}}</td>

                    <td>{{i.totalAmount  | number:'2.2-2'}}</td>


                </tr>
            </table>
 
            <br>
            <div class="float-right">
                <span class=" bold text-font1">
                    Sub Total: <span class="text-font1 underline">{{x.billAmount}} </span>
                </span>
                <br>
                <span class=" bold text-font1">
                    TAX : <span class="text-font1 underline">{{x.invoiceTaxAmountTotal}}</span>
                </span><br>
                <span class=" bold text-font1">
                    TOTAL : <span class="bold text-font1 underline">{{x.invoiceTotalAmount}}  </span>
                </span>
            </div>
            <div class="float-left" >
            <span class="text-font1">
                Quantity:<span class="bold text-font1 "> {{x.quantitySum}}</span>
            </span>
            <br><br><br>
            <span class=" text-font1">
                Amount In Words:<span class="bold text-font1 underline text-capitalize">  {{amountInWorda}}</span>
            </span>
            <br> <br><br><br>
            <span class=" float-left text-font1">
                For<span class="bold text-font1">&nbsp;FABCOT INTERNATIONAL ®</span>
            </span>
        </div>
            <br><br>
           
           

        </div>
        <p style="page-break-after: always;">&nbsp;</p>
        <br>
        <hr>
    </div>
</div>






